Repository wireapp/wire-web-packages, pull requests merged in 2020-09, with the labels that each got.

#3207 feat(api-client): Add telemetry sharing to webapp properties
  packages/api-client/src/user/data/UserPropertiesSetData.ts
Labels: package: api-client, type: feature / request ✨

#3208 feat(webapp-events): Add telemetry sharing update event
  packages/webapp-events/src/index.ts
Labels: package: webapp-events, type: feature / request ✨

#3209 feat(commons): Add feature detections to Runtime
  packages/commons/src/main/util/Runtime.ts
Labels: package: commons, type: feature / request ✨

#3212 chore(bot-handler-avs): Bump @wireapp/avs from 6.2.20 to 6.2.30
  packages/bot-handler-avs/package.json
  yarn.lock
Labels: package: bot-handler-avs, type: chore 🧹

#3223 refactor(commons): Add comment to clarify lowercasing
  packages/commons/src/main/util/Runtime.ts
Labels: package: commons, type: refactoring 🛠

#3227 chore: Remove package labeling
  .github/labeler.yml
Labels: comp: infrastructure, type: chore 🧹

#3211 refactor: Use TypeScript 4.0
  .eslintrc.json
  package.json
  packages/api-client/package.json
  packages/api-client/src/APIClient.test.node.ts
  packages/api-client/src/giphy/GiphyAPI.ts
  packages/bazinga64/package.json
  packages/bot-api/package.json
  packages/bot-api/src/Bot.ts
  packages/bot-handler-avs/package.json
  packages/bot-handler-avs/src/AVSHandler.ts
  packages/bot-handler-debug/package.json
  packages/bot-handler-uptime/package.json
  packages/bot-handler-wizard/package.json
  packages/cbor/package.json
  packages/changelog-bot/package.json
  packages/cli-client/package.json
  packages/commons/package.json
  packages/commons/src/main/util/Runtime.test.browser.ts
  packages/core/package.json
  packages/cryptobox/package.json
  packages/license-collector/package.json
  packages/lru-cache/package.json
  packages/priority-queue/package.json
  packages/proteus/package.json
  packages/react-ui-kit/package.json
  packages/react-ui-kit/src/Form/Form.tsx
  packages/react-ui-kit/src/Form/InputBlock.tsx
  packages/react-ui-kit/src/Identity/Animation.tsx
  packages/react-ui-kit/src/Layout/Column.tsx
  packages/react-ui-kit/src/Layout/Content.tsx
  packages/react-ui-kit/src/Layout/Footer.tsx
  packages/react-ui-kit/src/Layout/Header.tsx
  packages/react-ui-kit/src/Layout/Spacer.tsx
  packages/react-ui-kit/src/Layout/StyledApp.tsx
  packages/react-ui-kit/src/Layout/Theme.tsx
  packages/react-ui-kit/src/Layout/headerMenu/HeaderMenu.tsx
  packages/react-ui-kit/src/Layout/headerMenu/HeaderSubMenu.tsx
  packages/react-ui-kit/src/Layout/headerMenu/MenuItems.tsx
  packages/react-ui-kit/src/Layout/headerMenu/MenuOpenButton.tsx
  packages/react-ui-kit/src/Layout/headerMenu/MenuScrollableItems.tsx
  packages/react-ui-kit/src/Misc/IsInViewport.tsx
  packages/react-ui-kit/src/Text/Line.tsx
  packages/react-ui-kit/src/Text/Text.tsx
  packages/react-ui-kit/src/test/testUtil.tsx
  packages/store-engine-bro-fs/package.json
  packages/store-engine-bro-fs/src/index.ts
  packages/store-engine-dexie/package.json
  packages/store-engine-fs/package.json
  packages/store-engine-fs/src/index.ts
  packages/store-engine-sqleet/package.json
  packages/store-engine-web-storage/package.json
  packages/store-engine/package.json
  packages/store-engine/src/main/test/clearTablesSpec.ts
  packages/travis-bot/package.json
  packages/webapp-events/package.json
  yarn.lock
Labels: type: refactoring 🛠

#3232 chore: GitHub actions
  .github/workflows/label.yml
  .github/workflows/lint.yml
  .github/workflows/test_build_deploy.yml
  .travis.yml
  deploy.enc
  package.json
Labels: comp: infrastructure, type: chore 🧹

#3233 chore: Remove notify action
  .github/workflows/notify.yml
Labels: comp: infrastructure, type: chore 🧹

#3234 refactor(api-client): Shorten UserUpdate
  packages/api-client/src/user/UserUpdate.ts
Labels: type: refactoring 🛠

#3242 feat(webapp-events): Add CONVERSATION.VERIFICATION_STATE_CHANGED (WEBAPP-7106)
  packages/webapp-events/src/index.ts
Labels: type: feature / request ✨

#3243 feat(api-client, webapp-events): Remove SFT beta related stuff
  packages/api-client/src/user/data/UserPropertiesSetData.ts
  packages/webapp-events/src/index.ts
Labels: type: feature / request ✨
