Repository wireapp/wire-web-packages, pull requests merged in 2020-10, with the labels that each got.

#3248 fix(commons): Ensure value in getOSFamily
  packages/commons/src/main/util/Runtime.ts
Labels: type: bug / fix 🐞

#3225 fix(commons): Remove check for deprecated 'createEncodedVideoStreams'
  packages/commons/src/main/util/Runtime.ts
Labels: package: commons, type: bug / fix 🐞

#3250 refactor(cli-client): Use plain TypeScript locally
  packages/cli-client/package.json
  packages/cli-client/tsconfig.json
Labels: type: refactoring 🛠

#3253 refactor(bot-handler-debug): Use plain TypeScript locally
  packages/bot-handler-debug/package.json
  packages/bot-handler-debug/tsconfig.json
Labels: type: refactoring 🛠

#3254 refactor(bot-handler-avs): Use plain TypeScript locally
  packages/bot-handler-avs/package.json
  packages/bot-handler-avs/tsconfig.json
Labels: type: refactoring 🛠

#3259 refactor(bot-api): Use plain TypeScript locally
  packages/bot-api/package.json
  packages/bot-api/tsconfig.json
  yarn.lock
Labels: type: refactoring 🛠

#3260 refactor(bot-handler-wizard): Use plain TypeScript locally
  packages/bot-handler-wizard/package.json
  packages/bot-handler-wizard/tsconfig.json
Labels: type: refactoring 🛠

#3251 refactor(bot-handler-uptime): Use plain TypeScript locally
  packages/bot-handler-uptime/package.json
  packages/bot-handler-uptime/tsconfig.json
Labels: type: refactoring 🛠

#3261 refactor(cbor): Use plain TypeScript locally
  packages/cbor/package.json
  packages/cbor/tsconfig.json
Labels: type: refactoring 🛠

#3262 fix(commons): Legacy support for encoded streams in Chrome 83 & 84
  packages/commons/src/main/util/Runtime.ts
Labels: type: bug / fix 🐞

#3263 fix(api-client): Ensure websocket connection before executing `onConnect`
  packages/api-client/src/tcp/WebSocketClient.ts
Labels: type: bug / fix 🐞

#3266 fix(bot-api,bot-handler-avs,bot-handler-debug,bot-handler-uptime,bot-handler-wizard,cbor,cli-client): Upload type definitions to npm
  packages/bot-api/package.json
  packages/bot-handler-avs/package.json
  packages/bot-handler-debug/package.json
  packages/bot-handler-uptime/package.json
  packages/bot-handler-wizard/package.json
  packages/cbor/package.json
  packages/cli-client/package.json
Labels: type: bug / fix 🐞

#3270 refactor(priority-queue): Use plain TypeScript locally
  packages/priority-queue/package.json
  packages/priority-queue/tsconfig.json
Labels: type: refactoring 🛠

#3278 feat(api-client): WebSocket onConnect AbortController
  packages/api-client/src/tcp/WebSocketClient.test.node.ts
  packages/api-client/src/tcp/WebSocketClient.ts
Labels: type: feature / request ✨

#3279 fix(api-client): APIClient connect onConnect param type
  packages/api-client/src/APIClient.ts
  packages/api-client/src/tcp/WebSocketClient.ts
Labels: type: bug / fix 🐞

#3281 feat(webapp-events): Add events to show preferences
  packages/webapp-events/src/index.ts
Labels: type: feature / request ✨

#3265 refactor(copy-config): Use plain TypeScript locally
  packages/copy-config/package.json
  packages/copy-config/src/main/CopyConfig.test.js
  packages/copy-config/tsconfig.json
Labels: type: refactoring 🛠

#3268 refactor(cbor): Remove webpack
  packages/cbor/package.json
  packages/cbor/webpack.config.js
Labels: type: refactoring 🛠

#3264 refactor(commons): Use plain TypeScript locally
  packages/commons/package.json
  packages/commons/src/main/LogFactory.ts
  packages/commons/tsconfig.json
Labels: type: refactoring 🛠

#3269 refactor(bazinga64): Use plain TypeScript locally and remove webpack
  packages/bazinga64/karma.conf.ts
  packages/bazinga64/package.json
  packages/bazinga64/tsconfig.json
  packages/bazinga64/webpack.config.js
Labels: type: refactoring 🛠

#3282 fix(copy-config): CLI path
  packages/copy-config/package.json
Labels: type: bug / fix 🐞

#3271 refactor(store-engine-bro-fs,store-engine-dexie,store-engine-fs,store-engine-sqleet,store-engine-web-storage): Use plain TypeScript locally
  packages/store-engine-bro-fs/karma.conf.ts
  packages/store-engine-bro-fs/package.json
  packages/store-engine-bro-fs/tsconfig.json
  packages/store-engine-dexie/karma.conf.ts
  packages/store-engine-dexie/package.json
  packages/store-engine-dexie/tsconfig.json
  packages/store-engine-fs/package.json
  packages/store-engine-fs/tsconfig.json
  packages/store-engine-sqleet/karma.conf.ts
  packages/store-engine-sqleet/package.json
  packages/store-engine-sqleet/tsconfig.json
  packages/store-engine-web-storage/karma.conf.ts
  packages/store-engine-web-storage/package.json
  packages/store-engine-web-storage/tsconfig.json
Labels: type: refactoring 🛠

#3284 chore: Use GH environment files
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, type: chore 🧹

#3283 refactor(store-engine): Use plain TypeScript locally
  packages/store-engine-bro-fs/src/index.test.ts
  packages/store-engine-dexie/src/index.test.ts
  packages/store-engine-fs/src/index.test.ts
  packages/store-engine-sqleet/src/SQLeetEngine.test.ts
  packages/store-engine-web-storage/src/WebStorageEngine.test.ts
  packages/store-engine/karma.conf.ts
  packages/store-engine/package.json
  packages/store-engine/tsconfig.json
Labels: type: refactoring 🛠

#3285 refactor(cryptobox): Use plain TypeScript locally
  packages/cryptobox/package.json
  packages/cryptobox/tsconfig.json
  packages/proteus/spec/session/SessionSpec.ts
Labels: type: refactoring 🛠

#3286 chore: Truncate TITLE after first line
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, type: chore 🧹

#3287 refactor(proteus): Use plain TypeScript locally
  packages/core/src/main/test/CryptographyHelper.ts
  packages/proteus/package.json
  packages/proteus/tsconfig.json
Labels: type: refactoring 🛠

#3249 refactor(api-client): Use plain TypeScript locally
  packages/api-client/demo/demo.js
  packages/api-client/package.json
  packages/api-client/tsconfig.json
  packages/bot-api/src/Bot.test.node.js
  packages/bot-api/src/Bot.ts
  packages/bot-api/src/Interfaces.ts
  packages/bot-api/src/MessageHandler.test.node.js
  packages/bot-api/src/MessageHandler.ts
  packages/bot-handler-debug/src/AutoConnectHandler.ts
  packages/changelog-bot/src/main/Interfaces.ts
  packages/changelog-bot/src/main/Start.ts
  packages/cli-client/src/index.ts
  packages/core/src/demo/composite.ts
  packages/core/src/demo/echo.js
  packages/core/src/demo/sender.js
  packages/core/src/demo/status-bot.js
  packages/core/src/main/Account.test.node.ts
  packages/core/src/main/Account.ts
  packages/core/src/main/CoreError.ts
  packages/core/src/main/account/AccountService.ts
  packages/core/src/main/auth/LoginSanitizer.test.node.ts
  packages/core/src/main/auth/LoginSanitizer.ts
  packages/core/src/main/broadcast/BroadcastService.ts
  packages/core/src/main/client/ClientBackendRepository.ts
  packages/core/src/main/client/ClientDatabaseRepository.ts
  packages/core/src/main/client/ClientInfo.ts
  packages/core/src/main/client/ClientService.ts
  packages/core/src/main/connection/ConnectionService.ts
  packages/core/src/main/conversation/AssetService.ts
  packages/core/src/main/conversation/ConversationMapper.test.node.ts
  packages/core/src/main/conversation/ConversationMapper.ts
  packages/core/src/main/conversation/ConversationService.test.node.ts
  packages/core/src/main/conversation/ConversationService.ts
  packages/core/src/main/conversation/content/ClientAddContent.ts
  packages/core/src/main/conversation/content/ContentType.ts
  packages/core/src/main/conversation/content/index.ts
  packages/core/src/main/conversation/message/PayloadBundle.ts
  packages/core/src/main/conversation/message/TeamMessage.ts
  packages/core/src/main/conversation/message/UserMessage.ts
  packages/core/src/main/cryptography/CryptographyService.ts
  packages/core/src/main/cryptography/GenericMessageMapper.ts
  packages/core/src/main/giphy/GiphyService.ts
  packages/core/src/main/notification/NotificationBackendRepository.ts
  packages/core/src/main/notification/NotificationDatabaseRepository.ts
  packages/core/src/main/notification/NotificationService.test.node.ts
  packages/core/src/main/notification/NotificationService.ts
  packages/core/src/main/self/SelfService.ts
  packages/core/src/main/team/TeamService.ts
  packages/core/src/main/test/AccountHelper.js
  packages/core/src/main/user/UserMapper.test.node.ts
  packages/core/src/main/user/UserMapper.ts
  packages/core/src/main/user/UserService.test.node.js
  packages/core/src/main/user/UserService.ts
  packages/travis-bot/src/cli.ts
  packages/travis-bot/src/index.ts
Labels: type: refactoring 🛠

#3235 refactor(api-client): Simplify redundant interfaces
  packages/api-client/src/auth/RegisterData.ts
  packages/api-client/src/auth/SendLoginCode.ts
  packages/api-client/src/user/SendActivationCode.ts
Labels: type: refactoring 🛠

#3289 refactor(react-ui-kit): Use plain TypeScript locally and remove webpack
  packages/api-client/webpack.browser.js
  packages/react-ui-kit/jest.config.js
  packages/react-ui-kit/package.json
  packages/react-ui-kit/tsconfig.json
  yarn.lock
Labels: type: refactoring 🛠

#3291 fix(commons,copy-config): Publish .d.ts files to npm
  packages/commons/package.json
  packages/copy-config/package.json
Labels: type: bug / fix 🐞

#3236 feat(api-client): Add ServiceProvider API
  packages/api-client/src/APIClient.ts
  packages/api-client/src/serviceProvider/LoginServiceProviderData.ts
  packages/api-client/src/serviceProvider/NewServiceProvider.ts
  packages/api-client/src/serviceProvider/RegisteredServiceProvider.ts
  packages/api-client/src/serviceProvider/ServiceProviderAPI.ts
  packages/api-client/src/serviceProvider/UpdateServiceProviderData.ts
  packages/api-client/src/serviceProvider/index.ts
Labels: type: feature / request ✨

#3290 refactor(core): Use plain TypeScript locally
  packages/bot-api/src/Bot.ts
  packages/bot-api/src/MessageHandler.ts
  packages/bot-handler-avs/src/AVSHandler.ts
  packages/bot-handler-debug/src/AutoConnectHandler.ts
  packages/bot-handler-debug/src/DebugHandler.ts
  packages/bot-handler-uptime/src/UptimeHandler.ts
  packages/bot-handler-wizard/src/WizardHandler.ts
  packages/cli-client/src/index.ts
  packages/core/package.json
  packages/core/src/demo/echo.js
  packages/core/src/main/conversation/message/MessageBuilder.test.browser.js
  packages/core/src/main/cryptography/CryptographyService.test.browser.js
  packages/core/src/main/cryptography/MessageHashService.test.browser.js
  packages/core/src/main/notification/NotificationService.test.browser.js
  packages/core/tsconfig.json
Labels: type: refactoring 🛠

#3292 refactor(lru-cache): Use plain TypeScript locally and remove webpack & demo
  packages/lru-cache/jasmine.json
  packages/lru-cache/package.json
  packages/lru-cache/src/LRUCache.ts
  packages/lru-cache/src/LRUCacheSpec.test.ts
  packages/lru-cache/src/demo/demo.html
  packages/lru-cache/tsconfig.json
  packages/lru-cache/webpack.config.js
  yarn.lock
Labels: type: refactoring 🛠

#3293 refactor(react-ui-kit): Do not publish test files to npm
  packages/react-ui-kit/package.json
Labels: type: refactoring 🛠

#3294 chore(bazinga64): Remove browser tests
  nyc.config.js
  packages/bazinga64/.nycrc.json
  packages/bazinga64/jasmine.json
  packages/bazinga64/karma.conf.ts
  packages/bazinga64/package.json
  yarn.lock
Labels: type: chore 🧹

#3195 refactor(api-client,core): Use http-status-codes
  packages/api-client/package.json
  packages/api-client/src/account/AccountError.ts
  packages/api-client/src/auth/AuthenticationError.ts
  packages/api-client/src/conversation/ConversationError.ts
  packages/api-client/src/http/BackendError.ts
  packages/api-client/src/http/BackendErrorMapper.ts
  packages/api-client/src/http/HttpClient.test.node.ts
  packages/api-client/src/http/HttpClient.ts
  packages/api-client/src/http/StatusCode.ts
  packages/api-client/src/http/index.ts
  packages/api-client/src/team/TeamError.ts
  packages/api-client/src/team/invitation/InvitationError.ts
  packages/api-client/src/user/UserError.ts
  packages/core/package.json
  packages/core/src/main/Account.test.node.ts
  packages/core/src/main/Account.ts
  packages/core/src/main/conversation/ConversationService.ts
  yarn.lock
Labels: package: api-client, package: core, type: refactoring 🛠

#3305 chore: Truncate multiline commit messages
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, type: chore 🧹

#3295 chore(cbor): Remove browser tests
  packages/bazinga64/tsconfig.json
  packages/cbor/.nycrc.json
  packages/cbor/jasmine.json
  packages/cbor/karma.conf.ts
  packages/cbor/package.json
  packages/cbor/src/BaseError.ts
  packages/cbor/src/DecodeError.ts
  packages/cbor/src/Decoder.test.ts
  packages/cbor/src/Decoder.ts
  packages/cbor/src/Encoder.test.ts
  packages/cbor/src/Encoder.ts
  packages/cbor/src/Type.ts
  packages/cbor/src/TypeSpec.test.ts
  packages/cbor/src/demo/demo.html
  packages/cbor/src/index.ts
  packages/cbor/tsconfig.json
Labels: type: chore 🧹

#3310 chore: Automatically merge dependency updates
  .github/auto-merge.yml
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, type: chore 🧹

#3309 refactor(changelog-bot): Use plain TypeScript locally
  packages/changelog-bot/package.json
  packages/changelog-bot/tsconfig.json
Labels: type: refactoring 🛠

#3308 refactor(license-collector): Use plain TypeScript locally
  packages/license-collector/package.json
  packages/license-collector/tsconfig.json
Labels: type: refactoring 🛠

#3311 refactor(travis-bot): Use plain TypeScript locally
  packages/travis-bot/package.json
  packages/travis-bot/tsconfig.json
Labels: type: refactoring 🛠

#3314 refactor(react-ui-kit): Do not publish tsx files to npm
  packages/react-ui-kit/package.json
Labels: type: refactoring 🛠

#3315 refactor(api-client): Fix typescript errors for webapp
  packages/api-client/src/auth/AuthAPI.ts
  packages/api-client/src/team/invitation/TeamInvitationAPI.ts
Labels: type: refactoring 🛠

#3316 refactor(api-client): Do not publish typescript files to npm
  packages/api-client/package.json
Labels: type: refactoring 🛠
