Repository wireapp/wire-web-packages, pull requests merged in 2020-11, with the labels that each got.

#3321 fix(api-client): Optional User assets attribute
  packages/api-client/src/user/User.ts
Labels: type: bug / fix 🐞

#3322 fix(api-client,core): Browser shim paths
  packages/api-client/package.json
  packages/core/package.json
Labels: type: bug / fix 🐞

#3320 fix: Don't publish test files
  packages/api-client/package.json
  packages/bazinga64/package.json
  packages/bot-api/package.json
  packages/cbor/package.json
  packages/commons/package.json
  packages/copy-config/package.json
  packages/lru-cache/package.json
  packages/priority-queue/package.json
  packages/proteus/package.json
  packages/react-ui-kit/package.json
  packages/store-engine-bro-fs/package.json
  packages/store-engine-dexie/package.json
  packages/store-engine-fs/package.json
  packages/store-engine-sqleet/package.json
  packages/store-engine-web-storage/package.json
  packages/store-engine/package.json
Labels: type: bug / fix 🐞

#3323 feat(api-client): Trace requests to `/self`
  packages/api-client/demo.ts
  packages/api-client/src/TraceContext.ts
  packages/api-client/src/self/SelfAPI.ts
Labels: type: feature / request ✨

#3327 feat(react-ui-kit): Default border around inputs
  packages/react-ui-kit/src/Form/Input.tsx
  packages/react-ui-kit/src/Form/InputSubmitCombo.tsx
  packages/react-ui-kit/src/Form/Select.tsx
  packages/react-ui-kit/src/Form/TextArea.tsx
  packages/react-ui-kit/src/Form/__snapshots__/Checkbox.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/Input.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/Select.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/TextArea.test.tsx.snap
Labels: type: feature / request ✨

#3326 feat(react-ui-kit): New Checkbox design
  packages/react-ui-kit/src/Form/Checkbox.md
  packages/react-ui-kit/src/Form/Checkbox.tsx
  packages/react-ui-kit/src/Form/__snapshots__/Checkbox.test.tsx.snap
Labels: type: feature / request ✨

#3328 fix(react-ui-kit): Prevent border in InputSubmitCombo
  packages/react-ui-kit/src/Form/InputSubmitCombo.tsx
Labels: type: bug / fix 🐞

#3329 feat(react-ui-kit): Add LockIcon
  packages/react-ui-kit/src/Icon/LockIcon.tsx
  packages/react-ui-kit/src/Icon/SVGIcon.md
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨

#3330 feat(react-ui-kit): Add EnterIcon
  packages/react-ui-kit/src/Icon/EnterIcon.tsx
  packages/react-ui-kit/src/Icon/SVGIcon.md
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨

#3324 feat(api-client): Add AppLock to TeamFeatureAPI
  packages/api-client/src/APIClient.ts
  packages/api-client/src/http/BackendErrorLabel.ts
  packages/api-client/src/team/feature/Feature.ts
  packages/api-client/src/team/feature/FeatureAPI.ts
  packages/api-client/src/team/feature/FeatureError.ts
  packages/api-client/src/team/feature/FeatureList.ts
  packages/api-client/src/team/feature/FeatureStatus.ts
  packages/api-client/src/team/feature/index.ts
  packages/api-client/src/team/index.ts
  packages/api-client/src/team/property/PropertyAPI.ts
  packages/api-client/src/team/property/index.ts
Labels: type: feature / request ✨

#3332 fix(api-client): Adjust feature app-lock URL and key
  packages/api-client/src/team/feature/FeatureAPI.ts
  packages/api-client/src/team/feature/FeatureList.ts
Labels: type: bug / fix 🐞

#3339 chore: Extract PR_TITLE
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, type: chore 🧹

#3340 fix(api-client): FeatureAPI adjustments
  packages/api-client/src/team/feature/FeatureAPI.ts
  packages/api-client/src/team/feature/FeatureList.ts
Labels: type: bug / fix 🐞

#3341 fix(react-ui-kit): Update headings
  packages/react-ui-kit/src/Text/Heading.tsx
  packages/react-ui-kit/src/Text/__snapshots__/Heading.test.tsx.snap
  packages/react-ui-kit/styleguide.config.js
Labels: type: bug / fix 🐞

#3342 fix(react-ui-kit): Adjust ChevronIcon rotation values
  packages/react-ui-kit/src/Icon/ChevronIcon.tsx
Labels: type: bug / fix 🐞

#3343 fix(bot-api): Publish source files on npm
  packages/api-client/package.json
  packages/bazinga64/package.json
  packages/bot-api/package.json
  packages/cbor/package.json
  packages/commons/package.json
  packages/copy-config/package.json
  packages/lru-cache/package.json
  packages/priority-queue/package.json
  packages/proteus/package.json
  packages/react-ui-kit/package.json
  packages/store-engine-bro-fs/package.json
  packages/store-engine-dexie/package.json
  packages/store-engine-fs/package.json
  packages/store-engine-sqleet/package.json
  packages/store-engine-web-storage/package.json
  packages/store-engine/package.json
Labels: type: bug / fix 🐞

#3345 refactor(bot-api): Migrate tests to TypeScript
  packages/bot-api/package.json
  packages/bot-api/src/Bot.test.node.ts
  packages/bot-api/src/MessageHandler.test.node.js
  packages/bot-api/src/MessageHandler.test.node.ts
Labels: type: refactoring 🛠

#3346 fix(bot-api): Keep compiled code from test run for release
  packages/bot-api/package.json
Labels: type: bug / fix 🐞

#3348 feat(api-client): Add federated pre-key fetching
  packages/api-client/src/auth/PreKeyBundle.ts
  packages/api-client/src/user/User.ts
  packages/api-client/src/user/UserAPI.ts
Labels: type: feature / request ✨

#3350 fix(proteus): Convert SessionTag to string only once
  packages/proteus/src/main/session/Session.ts
  packages/proteus/src/main/util/KeyDerivationUtil.ts
Labels: type: bug / fix 🐞

#3354 chore: Use new npm token
  .github/workflows/test_build_deploy.yml
Labels: comp: infrastructure, type: chore 🧹

#3355 feat(react-ui-kit): Remove uppercase textTransform from Button
  packages/react-ui-kit/src/Form/Button.tsx
  packages/react-ui-kit/src/Form/__snapshots__/Button.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/ButtonLink.test.tsx.snap
Labels: type: feature / request ✨
