Repository wireapp/wire-web-packages, pull requests merged in 2020-08, with the labels that each got.

#3158 fix(bot-handler-avs): Add compatibility with Node.js 14
  packages/bot-handler-avs/package.json
  yarn.lock
Labels: package: bot-handler-avs, prio: medium, type: bug

#3162 feat(bot-handler-wizard): Add a conversational wizard
  packages/bot-handler-wizard/.nycrc.json
  packages/bot-handler-wizard/README.md
  packages/bot-handler-wizard/jasmine.json
  packages/bot-handler-wizard/package.json
  packages/bot-handler-wizard/src/WizardHandler.ts
  packages/bot-handler-wizard/src/demo/setup.ts
  packages/bot-handler-wizard/tsconfig.json
  yarn.lock
Labels: type: feat

#3164 chore: Add more informations to build notifications
  .github/workflows/notify.yml
Labels: comp: infrastructure, prio: low, type: chore

#3172 chore: Label PRs automatically
  .github/labeler.yml
  .github/workflows/label.yml
Labels: type: chore 🧹

#3171 feat(api-client): Remove last bits of contact import
  packages/api-client/src/user/data/UserPropertiesSetData.ts
Labels: package: api-client, prio: low, type: feature / request ✨

#3173 feat(api-client): Remove `ignore_missing` URL parameter (BREAKING)
  packages/api-client/src/broadcast/BroadcastAPI.ts
  packages/api-client/src/conversation/ConversationAPI.ts
  packages/api-client/src/conversation/NewOTRMessage.ts
  packages/core/src/main/broadcast/BroadcastService.ts
  packages/core/src/main/conversation/ConversationService.ts
Labels: prio: medium, type: feature / request ✨

#3176 chore: Automatically add project labels on files changed in PR
  .github/labeler.yml
  .github/workflows/label.yml
Labels: comp: infrastructure, type: chore 🧹

#3175 feat(api-client,bot-api,core): Send messages to specific clients only
  packages/api-client/src/auth/ClientPreKey.ts
  packages/api-client/src/auth/PreKey.ts
  packages/api-client/src/auth/PreKeyBundle.ts
  packages/bot-api/src/Bot.ts
  packages/bot-api/src/MessageHandler.test.node.js
  packages/bot-api/src/MessageHandler.ts
  packages/changelog-bot/src/main/ChangelogBot.ts
  packages/core/src/main/conversation/ConversationService.ts
Labels: package: api-client, package: bot-api, package: changelog-bot, package: core, prio: medium, type: feature / request ✨

#3170 chore(bot-handler-avs): Upgrade to avs 6.2
  packages/bot-handler-avs/package.json
  packages/bot-handler-avs/src/AVSHandler.ts
  yarn.lock
Labels: package: bot-handler-avs, type: chore 🧹

#3178 feat(api-client): Emit logout event on invalid token/missing cookie from HttpClient
  packages/api-client/src/APIClient.ts
  packages/api-client/src/http/HttpClient.ts
  packages/api-client/src/tcp/WebSocketClient.ts
Labels: package: api-client, type: feature / request ✨

#3177 feat(react-ui-kit): Remove uppercase textTransform from error message component
  packages/react-ui-kit/src/Form/ErrorMessage.tsx
Labels: package: react-ui-kit, prio: low, type: feature / request ✨

#3179 fix(api-client): Always emit logout event to application
  packages/api-client/src/APIClient.ts
Labels: package: api-client, type: bug / fix 🐞

#3180 fix(bot-handler-debug,bot-handler-uptime,bot-handler-wizard): Trim text before evaluating commands
  packages/bot-handler-debug/src/DebugHandler.ts
  packages/bot-handler-uptime/src/UptimeHandler.ts
  packages/bot-handler-wizard/src/WizardHandler.ts
Labels: package: bot-handler-debug, package: bot-handler-uptime, package: bot-handler-wizard, type: feature / request ✨

#3181 feat(bot-handler-debug): Automatically accept connection requests
  packages/bot-handler-debug/package.json
  packages/bot-handler-debug/src/AutoConnectHandler.ts
  packages/bot-handler-debug/src/index.ts
Labels: package: bot-handler-debug, type: feature / request ✨

#3182 fix(api-client): Skip logout REST request when credentials are invalid (WEBAPP-7041)
  packages/api-client/src/APIClient.test.node.ts
  packages/api-client/src/APIClient.ts
Labels: package: api-client, type: bug / fix 🐞

#3185 fix(api-client): created_at type
  packages/api-client/src/team/invitation/TeamInvitation.ts
  packages/api-client/src/team/member/MemberData.ts
Labels: package: api-client, type: bug / fix 🐞

#3186 fix(api-client): Display logout error as warning
  packages/api-client/src/APIClient.test.node.ts
  packages/api-client/src/APIClient.ts
Labels: package: api-client, type: bug / fix 🐞

#3188 refactor(webapp-events): Use plain TypeScript locally
  .gitignore
  packages/webapp-events/package.json
  packages/webapp-events/tsconfig.json
Labels: package: webapp-events, type: refactoring 🛠

#3189 fix(webapp-events): Upload TypeScript definition files to npmjs
  packages/webapp-events/package.json
Labels: package: webapp-events, type: bug / fix 🐞

#3190 fix(api-client): Don't mix up isSynchronousRequest with tokenAsParam
  packages/api-client/src/http/HttpClient.ts
Labels: package: api-client, type: bug / fix 🐞

#3198 feat(eslint-config): Disallow assignment operators in conditional statements
  packages/eslint-config/eslintrc.json
Labels: package: eslint-config, type: feature / request ✨

#3199 fix(api-client): Refresh access token on 403 token expired error
  packages/api-client/src/http/HttpClient.test.node.ts
  packages/api-client/src/http/HttpClient.ts
Labels: package: api-client, type: bug / fix 🐞

#3201 refactor(api-client): Log logout and access token refresh trigger
  packages/api-client/src/http/HttpClient.ts
Labels: package: api-client, type: refactoring 🛠

#3202 fix(api-client): Fix PaymentStatus enum typo
  packages/api-client/src/team/payment/PaymentData.ts
Labels: package: api-client, type: bug / fix 🐞
