Repository wireapp/wire-web-packages, pull requests merged in 2020-12, with the labels that each got.

#3374 chore: Temporarily disable Dependabot v2
  .github/dependabot.yml
Labels: comp: infrastructure, type: chore 🧹

#3358 refactor(commons): Migrate from Jasmine/Karma to Jest
  packages/commons/jasmine.json
  packages/commons/jest.config.js
  packages/commons/karma.conf.ts
  packages/commons/package.json
  packages/commons/src/main/LogFactory.test.ts
  packages/commons/src/main/util/ArrayUtil.test.node.js
  packages/commons/src/main/util/DateUtil.test.node.js
  packages/commons/src/main/util/RandomUtil.test.node.js
  packages/commons/src/main/util/StringUtil.test.node.js
  packages/commons/src/main/util/ValidationUtil.test.node.js
  yarn.lock
Labels: type: refactoring 🛠

#3385 refactor(react-ui-kit): Use type CSSObject instead of ObjectInterpolation
  packages/react-ui-kit/src/Form/Button.tsx
  packages/react-ui-kit/src/Form/ButtonLink.tsx
  packages/react-ui-kit/src/Form/CodeInput.tsx
  packages/react-ui-kit/src/Form/ErrorMessage.tsx
  packages/react-ui-kit/src/Form/Input.tsx
  packages/react-ui-kit/src/Form/InputBlock.tsx
  packages/react-ui-kit/src/Form/RoundIconButton.tsx
  packages/react-ui-kit/src/Form/Select.tsx
  packages/react-ui-kit/src/Form/TextArea.tsx
  packages/react-ui-kit/src/Form/Tooltip.tsx
  packages/react-ui-kit/src/GlobalStyle.tsx
  packages/react-ui-kit/src/Icon/SVGIcon.tsx
  packages/react-ui-kit/src/Identity/Avatar.tsx
  packages/react-ui-kit/src/Identity/AvatarGrid.tsx
  packages/react-ui-kit/src/Identity/Logo.tsx
  packages/react-ui-kit/src/Layout/Box.tsx
  packages/react-ui-kit/src/Layout/Column.tsx
  packages/react-ui-kit/src/Layout/Container.tsx
  packages/react-ui-kit/src/Layout/Content.tsx
  packages/react-ui-kit/src/Layout/FlexBox.tsx
  packages/react-ui-kit/src/Layout/Header.tsx
  packages/react-ui-kit/src/Layout/StyledApp.tsx
  packages/react-ui-kit/src/Layout/headerMenu/HeaderSubMenu.tsx
  packages/react-ui-kit/src/Layout/headerMenu/MenuContent.tsx
  packages/react-ui-kit/src/Layout/headerMenu/MenuItems.tsx
  packages/react-ui-kit/src/Layout/headerMenu/MenuLink.tsx
  packages/react-ui-kit/src/Layout/headerMenu/MenuOpenButton.tsx
  packages/react-ui-kit/src/Layout/headerMenu/MenuScrollableItems.tsx
  packages/react-ui-kit/src/Layout/headerMenu/MenuSubLink.tsx
  packages/react-ui-kit/src/Menu/MenuModal.tsx
  packages/react-ui-kit/src/Menu/TabBar.tsx
  packages/react-ui-kit/src/Misc/Pill.tsx
  packages/react-ui-kit/src/Modal/Modal.tsx
  packages/react-ui-kit/src/Modal/Overlay.tsx
  packages/react-ui-kit/src/Text/Heading.tsx
  packages/react-ui-kit/src/Text/Label.tsx
  packages/react-ui-kit/src/Text/Line.tsx
  packages/react-ui-kit/src/Text/Link.tsx
  packages/react-ui-kit/src/Text/Paragraph.tsx
  packages/react-ui-kit/src/Text/Text.tsx
  packages/react-ui-kit/src/Text/TextLink.tsx
  packages/react-ui-kit/src/Text/Title.tsx
Labels: type: refactoring 🛠

#3384 refactor(react-ui-kit): Use css prop where possible
  packages/react-ui-kit/src/Form/ShakeBox.tsx
  packages/react-ui-kit/src/Form/Switch.tsx
  packages/react-ui-kit/src/Form/__snapshots__/Switch.test.tsx.snap
  packages/react-ui-kit/src/Layout/headerMenu/HeaderMenu.tsx
  packages/react-ui-kit/src/Misc/Pagination.tsx
Labels: type: refactoring 🛠

#3386 refactor(react-ui-kit): Migrate to React 17
  packages/api-client/package.json
  packages/react-ui-kit/package.json
  packages/react-ui-kit/src/Form/Input.tsx
  packages/react-ui-kit/src/Form/ShakeBox.tsx
  packages/react-ui-kit/src/Form/TextArea.tsx
  packages/react-ui-kit/src/Layout/FlexBox.tsx
  packages/react-ui-kit/src/Text/Text.tsx
  yarn.lock
Labels: type: refactoring 🛠

#3393 chore(proteus): Clean js files from src
  packages/proteus/package.json
Labels: type: chore 🧹

#3402 chore: Change "deploy" to "release" in workflow
  .github/workflows/test_build_release.yml
Labels: comp: infrastructure, type: chore 🧹

#3403 feat: Remove travis-bot
  README.md
  packages/travis-bot/CHANGELOG.md
  packages/travis-bot/README.md
  packages/travis-bot/package.json
  packages/travis-bot/src/cli.ts
  packages/travis-bot/src/index.ts
  packages/travis-bot/tsconfig.json
Labels: type: feature / request ✨
