Repository wireapp/wire-web-packages, pull requests merged in 2021-02, with the labels that each got.

#3475 refactor(commons): Simplify and cleanup
  packages/commons/src/main/util/Runtime.ts
Labels: type: refactoring 🛠

#3494 fix(core,api-client): Fix demos and events
  packages/api-client/src/user/data/UserConnectionData.ts
  packages/api-client/src/user/data/UserUpdateData.ts
  packages/core/src/demo/echo.js
  packages/core/src/demo/sender.js
  packages/core/src/main/Account.ts
  packages/core/src/main/notification/NotificationService.ts
  packages/core/src/main/user/UserMapper.test.node.ts
  packages/core/src/main/user/UserMapper.ts
Labels: type: bug / fix 🐞

#3502 refactor(core): Remove transitive dependencies
  packages/core/package.json
Labels: type: refactoring 🛠

#3512 fix(api-client): Adjust team search order param
  packages/api-client/src/team/search/TeamSearchOptions.ts
Labels: type: bug / fix 🐞

#3517 fix(api-client): Remove duplicated slash
  packages/api-client/src/team/team/TeamAPI.ts
Labels: type: bug / fix 🐞

#3519 feat(proteus): Use "@wireapp/cbor" from core monorepo
  packages/cbor/CHANGELOG.md
  packages/cbor/README.md
  packages/cbor/jasmine.json
  packages/cbor/package.json
  packages/cbor/src/BaseError.ts
  packages/cbor/src/DecodeError.ts
  packages/cbor/src/Decoder.test.ts
  packages/cbor/src/Decoder.ts
  packages/cbor/src/Encoder.test.ts
  packages/cbor/src/Encoder.ts
  packages/cbor/src/Type.ts
  packages/cbor/src/TypeSpec.test.ts
  packages/cbor/src/index.ts
  packages/cbor/tsconfig.json
  packages/proteus/package.json
Labels: type: feature / request ✨

#3520 fix(api-client): Allow sending text files up to 100 MB
  packages/api-client/src/http/HttpClient.ts
Labels: type: bug / fix 🐞

#3527 refactor(api-client): Export HTTP status codes
  packages/api-client/package.json
  packages/api-client/src/account/AccountError.ts
  packages/api-client/src/auth/AuthenticationError.ts
  packages/api-client/src/conversation/ConversationError.ts
  packages/api-client/src/http/BackendError.ts
  packages/api-client/src/http/BackendErrorMapper.ts
  packages/api-client/src/http/HttpClient.test.node.ts
  packages/api-client/src/http/HttpClient.ts
  packages/api-client/src/http/index.ts
  packages/api-client/src/team/TeamError.ts
  packages/api-client/src/team/feature/FeatureError.ts
  packages/api-client/src/team/invitation/InvitationError.ts
  packages/api-client/src/user/UserError.ts
Labels: type: refactoring 🛠

#3360 feat(api-client,core): Add new backend endpoints (SQCORE-289)
  packages/api-client/demo.ts
  packages/api-client/src/auth/PreKeyBundle.ts
  packages/api-client/src/self/Self.ts
  packages/api-client/src/self/SelfAPI.ts
  packages/api-client/src/user/HandleInfo.ts
  packages/api-client/src/user/User.ts
  packages/api-client/src/user/UserAPI.ts
  packages/core/src/main/broadcast/BroadcastService.ts
  packages/core/src/main/conversation/ConversationService.ts
  packages/core/src/main/user/UserService.ts
Labels: type: feature / request ✨

#3528 fix(api-client,core): Endpoints can return qualified types
  packages/api-client/src/user/UserAPI.ts
  packages/core/src/main/conversation/ConversationService.ts
Labels: type: bug / fix 🐞

#3531 fix(api-client): Add missing path for getHandle endpoint
  packages/api-client/src/user/UserAPI.ts
Labels: type: bug / fix 🐞

#3540 feat(commons): Add OptionalKeys and RequiredKeys and add tests
  packages/commons/src/main/util/TypeUtil.test.ts
  packages/commons/src/main/util/TypeUtil.ts
Labels: type: feature / request ✨

#3551 fix(core): Use onClientMismatch and properly use additional data
  packages/api-client/src/broadcast/BroadcastAPI.ts
  packages/api-client/src/conversation/ConversationAPI.ts
  packages/commons/src/main/util/StringUtil.test.node.js
  packages/commons/src/main/util/StringUtil.ts
  packages/core/src/demo/sender.js
  packages/core/src/main/conversation/ConversationService.ts
  packages/core/src/main/conversation/message/MessageService.ts
  packages/core/src/main/cryptography/CryptographyService.ts
Labels: type: bug / fix 🐞

#3560 fix(react-ui-kit): Columns query prop type
  packages/react-ui-kit/src/Layout/Column.tsx
Labels: type: bug / fix 🐞
