Repository wireapp/wire-web-packages, pull requests merged in 2021-04, with the labels that each got.

#3703 feat(eslint-config): Add return-await rule
  packages/eslint-config/eslintrc.json
Labels: type: feature / request ✨

#3700 feat(eslint-config): Automatically remove unused imports
  package.json
  packages/eslint-config/eslintrc.json
  packages/eslint-config/package.json
  yarn.lock
Labels: type: feature / request ✨

#3715 chore: Use target "es2017" to preserve native async / await
  tsconfig.json
Labels: type: chore 🧹

#3723 fix(api-client): Correct return type to list clients
  packages/api-client/src/client/QualifiedPublicClients.ts
  packages/api-client/src/user/UserAPI.ts
Labels: type: bug / fix 🐞

#3725 feat(react-ui-kit): New blue
  packages/react-ui-kit/src/Form/__snapshots__/Button.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/ButtonLink.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/Checkbox.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/Input.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/Select.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/Switch.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/TextArea.test.tsx.snap
  packages/react-ui-kit/src/Identity/colors.ts
  packages/react-ui-kit/src/Text/__snapshots__/Label.test.tsx.snap
  packages/react-ui-kit/src/Text/__snapshots__/Text.test.tsx.snap
  packages/react-ui-kit/src/Text/__snapshots__/TextLink.test.tsx.snap
Labels: type: feature / request ✨

#3739 test(core): Initialize Proteus before testing
  packages/core/src/main/cryptography/CryptographyService.test.node.ts
Labels: type: test 👷

#3747 feat(api-client): Login with access token
  packages/api-client/src/APIClient.test.browser.ts
  packages/api-client/src/APIClient.ts
  packages/api-client/src/auth/AccessTokenData.ts
  packages/api-client/src/auth/parseAccessToken.test.ts
  packages/api-client/src/auth/parseAccessToken.ts
  packages/api-client/src/obfuscation/ObfuscationUtil.test.node.ts
  packages/api-client/src/user/UserAPI.ts
Labels: type: feature / request ✨

#3748 feat(core): Test publication with local NPM token
  .github/workflows/test_build_release.yml
  packages/core/src/main/cryptography/CryptographyService.test.browser.js
  packages/core/src/main/notification/NotificationService.ts
Labels: comp: infrastructure, type: feature / request ✨

#3749 feat(eslint-config): Automatically add license header
  nyc.config.js
  package.json
  packages/api-client/babel.config.js
  packages/api-client/src/http/RequestProgressHandler.ts
  packages/api-client/src/http/TraceState.ts
  packages/api-client/src/self/Name.ts
  packages/api-client/src/self/Picture.ts
  packages/bot-handler-debug/src/index.ts
  packages/bot-handler-uptime/src/UptimeHandler.test.ts
  packages/changelog-bot/src/main/cli.ts
  packages/copy-config/src/main/cli.ts
  packages/core/karma.conf.ts
  packages/core/src/main/auth/LoginSanitizer.test.node.ts
  packages/core/src/main/conversation/ConversationService.test.node.ts
  packages/core/src/main/conversation/MessageTimer.test.node.ts
  packages/core/src/main/cryptography/CryptographyService.test.node.ts
  packages/core/src/main/cryptography/MessageHashService.test.node.ts
  packages/core/webpack.config.js
  packages/cryptobox/karma.conf.ts
  packages/eslint-config/eslintrc.json
  packages/eslint-config/package.json
  packages/license-collector/src/cli.ts
  packages/react-ui-kit/styleguide.config.js
  packages/store-engine-bro-fs/babel.config.js
  packages/store-engine-dexie/babel.config.js
  packages/store-engine-sqleet/babel.config.js
  packages/store-engine-web-storage/babel.config.js
  packages/store-engine/webpack.config.js
  yarn.lock
Labels: type: feature / request ✨

#3762 fix: Publish releases with npm Automation token
  package.json
Labels: type: bug / fix 🐞

#3767 refactor(core): Use cryptobox from wire-web-core monorepo
  README.md
  packages/core/package.json
  packages/cryptobox/CHANGELOG.md
  packages/cryptobox/README.md
  packages/cryptobox/karma.conf.ts
  packages/cryptobox/package.json
  packages/cryptobox/src/demo/benchmark.js
  packages/cryptobox/src/demo/demo.js
  packages/cryptobox/src/main/Cryptobox.ts
  packages/cryptobox/src/main/CryptoboxSession.ts
  packages/cryptobox/src/main/DecryptionError.ts
  packages/cryptobox/src/main/InvalidPreKeyFormatError.ts
  packages/cryptobox/src/main/SerializedCryptobox.ts
  packages/cryptobox/src/main/error/CryptoboxError.ts
  packages/cryptobox/src/main/error/index.ts
  packages/cryptobox/src/main/index.ts
  packages/cryptobox/src/main/store/CryptoboxCRUDStore.ts
  packages/cryptobox/src/main/store/PersistedRecord.ts
  packages/cryptobox/src/main/store/SerialisedRecord.ts
  packages/cryptobox/src/main/store/SerialisedUpdate.ts
  packages/cryptobox/src/main/store/index.ts
  packages/cryptobox/test/Cryptobox.test.common.js
  packages/cryptobox/test/Cryptobox.test.node.js
  packages/cryptobox/test/CryptoboxSession.test.common.js
  packages/cryptobox/test/fixtures/qa-break-session/cryptobox.json
  packages/cryptobox/test/fixtures/qa-break-session/event.json
  packages/cryptobox/test/index.test.browser.js
  packages/cryptobox/test/jasmine.node.json
  packages/cryptobox/test/store/CryptoboxCRUDStore.test.node.js
  packages/cryptobox/test/store/IndexedDB.test.browser.js
  packages/cryptobox/tsconfig.json
  packages/cryptobox/webpack.config.js
  packages/lru-cache/.nycrc.json
  packages/lru-cache/CHANGELOG.md
  packages/lru-cache/README.md
  packages/lru-cache/jasmine.json
  packages/lru-cache/package.json
  packages/lru-cache/src/LRUCache.ts
  packages/lru-cache/src/LRUCacheSpec.test.ts
  packages/lru-cache/tsconfig.json
  yarn.lock
Labels: type: refactoring 🛠

#3768 feat(api-client): SCIM API
  packages/api-client/src/APIClient.ts
  packages/api-client/src/team/index.ts
  packages/api-client/src/team/scim/NewScimToken.ts
  packages/api-client/src/team/scim/ScimAPI.ts
  packages/api-client/src/team/scim/ScimTokenInfo.ts
  packages/api-client/src/team/scim/ScimTokenInfoList.ts
  packages/api-client/src/team/scim/index.ts
Labels: type: feature / request ✨

#3779 fix(api-client): Require SCIM token description on creation
  packages/api-client/src/team/scim/ScimAPI.ts
Labels: type: bug / fix 🐞
