Repository wireapp/wire-web-packages, pull requests merged in 2021-03, with the labels that each got.

#3610 fix(react-ui-kit): Add rel to TextLink
  packages/react-ui-kit/src/Text/TextLink.tsx
  packages/react-ui-kit/src/Text/__snapshots__/TextLink.test.tsx.snap
Labels: type: bug / fix 🐞

#3636 feat(webapp-events): Add INJECT_CALLING_MESSAGE conversation event
  packages/webapp-events/src/index.ts
Labels: type: feature / request ✨

#3657 fix(react-ui-kit): RecordBoldIcon fill color
  packages/react-ui-kit/src/Icon/RecordBoldIcon.tsx
Labels: type: bug / fix 🐞

#3666 fix(api-client): Get federated handles
  packages/api-client/src/user/UserAPI.ts
Labels: type: bug / fix 🐞

#3587 fix(react-ui-kit): Mobile media query
  packages/react-ui-kit/src/Text/__snapshots__/Heading.test.tsx.snap
  packages/react-ui-kit/src/Text/__snapshots__/Paragraph.test.tsx.snap
  packages/react-ui-kit/src/mediaQueries.ts
Labels: type: bug / fix 🐞

#3670 feat(api-client): Add endpoint /list-prekeys
  packages/api-client/src/conversation/QualifiedUserClients.ts
  packages/api-client/src/conversation/index.ts
  packages/api-client/src/user/UserAPI.ts
  packages/core/src/main/conversation/message/MessageService.ts
Labels: type: feature / request ✨

#3672 chore(api-client): Use demo with debugger
  packages/api-client/demo.ts
  packages/api-client/package.json
Labels: type: chore 🧹

#3689 fix(api-client): call getHandle with string, don't encode protobuf messages
  packages/api-client/src/broadcast/BroadcastAPI.ts
  packages/api-client/src/conversation/ConversationAPI.ts
  packages/api-client/src/self/Self.ts
  packages/api-client/src/team/search/TeamContact.ts
  packages/api-client/src/user/User.ts
  packages/api-client/src/user/UserAPI.ts
  packages/api-client/src/user/index.ts
Labels: type: bug / fix 🐞
