Repository wireapp/wire-web-packages, pull requests merged in 2021-06, with the labels that each got.

#3906 fix(api-client): Introduce type for member updates
  packages/api-client/src/team/member/MemberAPI.ts
  packages/api-client/src/team/member/UpdatedMemberData.ts
Labels: type: bug / fix 🐞

#3933 feat(api-client): Add qualified members to a conversation
  packages/api-client/src/conversation/ConversationAPI.ts
  packages/core/package.json
  packages/core/src/main/conversation/ConversationService.ts
  packages/core/src/main/util/TypePredicateUtil.ts
Labels: type: feature / request ✨

#3938 feat(api-client): Add GET /conversation/join endpoint
  packages/api-client/src/conversation/ConversationAPI.ts
  packages/api-client/src/conversation/data/ConversationJoinData.ts
  packages/api-client/src/conversation/data/index.ts
Labels: type: feature / request ✨

#3949 refactor(api-client): Handle conversation join errors
  packages/api-client/src/conversation/ConversationAPI.ts
  packages/api-client/src/conversation/ConversationError.ts
Labels: type: refactoring 🛠

#3954 feat(api-client): Add QualifiedUsers to NewConversation interface
  packages/api-client/src/conversation/NewConversation.ts
  packages/api-client/src/conversation/OtherMember.ts
  packages/api-client/src/conversation/data/ConversationMemberUpdateData.ts
Labels: type: feature / request ✨

#3959 feat(webapp-events): Add conversation join event
  packages/webapp-events/src/index.ts
Labels: type: feature / request ✨
