Repository wireapp/wire-web-packages, pull requests merged in 2021-09, with the labels that each got.

#4124 feat(core): Add domain to clients
  packages/core/src/main/client/ClientDatabaseRepository.ts
  packages/core/src/main/client/ClientService.ts
Labels: type: feature / request ✨

#4114 fix(api-client): Update getRemoteConversations endpoint
  packages/api-client/src/auth/AuthAPI.ts
  packages/api-client/src/client/ClientAPI.ts
  packages/api-client/src/conversation/ConversationAPI.ts
  packages/api-client/src/conversation/RemoteConversations.ts
  packages/api-client/src/conversation/index.ts
  packages/api-client/src/user/UserAPI.ts
Labels: type: bug / fix 🐞

#4125 feat(react-ui-kit): Add CheckRound, List & Support icons
  packages/react-ui-kit/src/Icon/CheckRoundIcon.tsx
  packages/react-ui-kit/src/Icon/ListIcon.tsx
  packages/react-ui-kit/src/Icon/SVGIcon.md
  packages/react-ui-kit/src/Icon/SupportIcon.tsx
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨

#4126 feat(api-client): Delete qualified member from qualified conversation
  packages/api-client/src/conversation/ConversationAPI.ts
Labels: type: feature / request ✨

#4127 feat(api-client): Self-deleting feature config endpoints
  packages/api-client/src/team/data/TeamFeatureConfigurationUpdateEventData.ts
  packages/api-client/src/team/feature/Feature.ts
  packages/api-client/src/team/feature/FeatureAPI.ts
  packages/api-client/src/team/feature/FeatureList.ts
Labels: type: feature / request ✨

#4128 feat(api-client): Remove obsolete otr_muted field
  packages/api-client/src/conversation/Member.ts
  packages/api-client/src/conversation/data/ConversationMemberUpdateData.ts
Labels: type: chore 🧹

#4130 fix(api-client): Force protobuf arrays to be recreated before sent
  packages/api-client/src/conversation/ConversationAPI.ts
Labels: type: bug / fix 🐞

#4131 fix(prettier-config): Use bracketSameLine
  packages/prettier-config/index.json
Labels: type: bug / fix 🐞

#4132 feat(api-client): Add getQualifiedConversationIds
  packages/api-client/src/conversation/ConversationAPI.ts
  packages/api-client/src/conversation/QualifiedConversationIds.ts
  packages/api-client/src/conversation/index.ts
Labels: type: feature / request ✨

#4133 feat(core): Add callbacks for message sending state
  packages/core/src/main/conversation/ConversationService.test.node.ts
  packages/core/src/main/conversation/ConversationService.ts
Labels: type: feature / request ✨

#4136 feat(react-ui-kit): Adjust checkbox styling
  packages/react-ui-kit/src/Form/Checkbox.tsx
  packages/react-ui-kit/src/Form/__snapshots__/Checkbox.test.tsx.snap
  packages/react-ui-kit/src/Identity/Avatar.tsx
Labels: type: feature / request ✨

#4137 feat(core): Surface the message sent time to consumer
  packages/core/src/main/broadcast/BroadcastService.ts
  packages/core/src/main/conversation/ConversationService.test.node.ts
  packages/core/src/main/conversation/ConversationService.ts
  packages/core/src/main/conversation/message/MessageService.ts
  packages/core/src/main/user/UserService.ts
Labels: type: feature / request ✨

#4138 feat(api-client): Improve event types
  packages/api-client/src/conversation/ConversationAPI.ts
  packages/api-client/src/conversation/data/ConversationMemberLeaveData.ts
  packages/api-client/src/conversation/data/ConversationMemberUpdateData.ts
  packages/api-client/src/event/ConversationEvent.ts
Labels: type: feature / request ✨

#4139 fix(commons): Include LogFactory tests
  packages/commons/src/main/LogFactory.test.browser.ts
  packages/commons/src/main/LogFactory.ts
Labels: type: bug / fix 🐞

#4140 fix(core): Fix typecheck error
  packages/core/src/main/conversation/ConversationService.ts
Labels: type: bug / fix 🐞

#4141 fix(api-client): Align ConversationOtrMessageData with backend definition
  packages/api-client/src/conversation/data/ConversationOtrMessageAddData.ts
Labels: type: bug / fix 🐞

#4142 feat(api-client): Add billing status 'incomplete'
  packages/api-client/src/team/billing/BillingTeamData.ts
Labels: type: feature / request ✨

#4143 fix(api-client): Update backend conversation types with latest definitions
  packages/api-client/src/conversation/Conversation.ts
  packages/api-client/src/conversation/data/ConversationCreateData.ts
Labels: type: bug / fix 🐞

#4144 refactor(api-client): rename and deprecate conversation methods
  packages/api-client/src/conversation/ConversationAPI.ts
Labels: type: refactoring 🛠
