Repository wireapp/wire-web-packages, pull requests merged in 2021-05, with the labels that each got.

#3785 feat(api-client): Provide client platform and version headers (SQSERVICES-417)
  packages/api-client/package.json
  packages/api-client/src/APIClient.ts
  packages/api-client/src/Config.ts
  packages/api-client/src/http/HttpClient.test.node.ts
  packages/api-client/src/http/HttpClient.ts
Labels: do not merge, type: feature / request ✨

#3790 feat(react-ui-kit): Edit document icon
  packages/react-ui-kit/src/Icon/EditDocumentIcon.tsx
  packages/react-ui-kit/src/Icon/SVGIcon.md
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨

#3794 feat(react-ui-kit): Add CopyIcon
  packages/react-ui-kit/src/Icon/CopyIcon.tsx
  packages/react-ui-kit/src/Icon/SVGIcon.md
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨

#3795 refactor(store-engine): Separate CRUD interfaces
  packages/store-engine/src/main/engine/CRUDEngine.ts
Labels: type: refactoring 🛠

#3805 feat(api-client): Recover from HTTP request errors (SQCORE-591)
  packages/api-client/package.json
  packages/api-client/src/APIClient.test.node.ts
  packages/api-client/src/asset/AssetAPI.test.node.ts
  packages/api-client/src/auth/AuthAPI.test.node.ts
  packages/api-client/src/http/BackendErrorMapper.test.node.ts
  packages/api-client/src/http/HttpClient.test.node.ts
  packages/api-client/src/http/HttpClient.ts
  packages/core/package.json
  packages/core/src/demo/echo.js
  packages/core/src/demo/echo.ts
  packages/core/src/demo/sendCounter.ts
  packages/core/src/demo/sender.js
  packages/core/src/demo/sender.ts
  packages/core/src/demo/status-bot.ts
  yarn.lock
Labels: type: feature / request ✨

#3826 feat(api-client): Add exponential back-off retry delay
  packages/api-client/src/http/HttpClient.ts
Labels: type: feature / request ✨

#3837 docs(api-client): Add demo login script
  packages/api-client/package.json
  packages/api-client/src/demo/initClient.ts
  packages/api-client/src/demo/self.ts
Labels: type: documentation 📋

#3842 feat(core): Add cipher options for encrypting assets and use named parameters (SQCORE-644)
  packages/api-client/src/asset/AssetAPI.ts
  packages/bot-api/src/Bot.ts
  packages/bot-api/src/MessageHandler.test.node.ts
  packages/bot-api/src/MessageHandler.ts
  packages/changelog-bot/src/main/ChangelogBot.ts
  packages/cli-client/src/index.ts
  packages/core/src/demo/echo.ts
  packages/core/src/demo/sender.ts
  packages/core/src/main/Account.test.node.ts
  packages/core/src/main/conversation/AssetService.ts
  packages/core/src/main/conversation/ConversationService.test.node.ts
  packages/core/src/main/conversation/ConversationService.ts
  packages/core/src/main/conversation/message/MessageBuilder.ts
  packages/core/src/main/cryptography/AssetCryptography.browser.ts
  packages/core/src/main/cryptography/AssetCryptography.node.ts
  packages/core/src/main/cryptography/CryptographyService.test.browser.js
  packages/core/src/main/cryptography/CryptographyService.test.node.ts
Labels: type: feature / request ✨

#3852 feat(bot-api): Expose sending pings
  packages/bot-api/src/Bot.ts
Labels: type: feature / request ✨

#3851 chore: Auto-merge workflow for dependency updates
  .github/workflows/merge-dependencies.yml
  .github/workflows/test_build_release.yml
Labels: comp: infrastructure, type: chore 🧹

#3853 feat(bot-api): Send file by path
  packages/bot-api/package.json
  packages/bot-api/src/MessageHandler.ts
  yarn.lock
Labels: type: feature / request ✨

#3854 refactor(bot-api): Inherit functions from message handler
  packages/bot-api/src/Bot.ts
  packages/bot-api/src/MessageHandler.ts
Labels: type: refactoring 🛠

#3843 fix(react-ui-kit): Trim name in Avatar component
  packages/react-ui-kit/src/Identity/Avatar.tsx
Labels: type: bug / fix 🐞

#3857 fix(commons,react-ui-kit): Filter falsy values of user name
  packages/commons/src/main/util/ArrayUtil.test.node.ts
  packages/commons/src/main/util/ArrayUtil.ts
  packages/commons/src/main/util/TypeUtil.ts
  packages/react-ui-kit/babel.config.js
  packages/react-ui-kit/package.json
  packages/react-ui-kit/src/Identity/Avatar.tsx
  yarn.lock
Labels: type: bug / fix 🐞

#3864 refactor: Remove prettier-ignore
  packages/commons/src/main/util/StringUtil.test.node.ts
  packages/commons/src/main/util/ValidationUtil.ts
Labels: type: refactoring 🛠

#3865 refactor: Remove platform & version header values (SQSERVICES-417)
  packages/api-client/src/APIClient.ts
  packages/api-client/src/Config.ts
  packages/api-client/src/http/HttpClient.ts
Labels: type: refactoring 🛠

#3870 refactor: Map legalhold errors & events (SQSERVICES-428, SQSERVICES-441)
  packages/api-client/src/conversation/ConversationAPI.ts
  packages/api-client/src/conversation/ConversationError.ts
  packages/api-client/src/conversation/data/ConversationMemberLeaveData.ts
  packages/api-client/src/http/BackendErrorLabel.ts
Labels: type: refactoring 🛠

#3871 refactor(api-client): Map LH status no_consent
  packages/api-client/src/team/legalhold/LegalHoldMemberStatus.ts
Labels: type: refactoring 🛠

#3873 refactor(api-client): Add missing error labels
  packages/api-client/src/http/BackendErrorLabel.ts
Labels: type: refactoring 🛠

#3872 fix(api-client): Retry requests with HTTP 401 responses
  packages/api-client/package.json
  packages/api-client/src/demo/http401.ts
  packages/api-client/src/http/HttpClient.ts
Labels: type: bug / fix 🐞

#3878 feat(api-client): Add reason for blocking connections (SQSERVICES-429)
  packages/api-client/src/connection/Connection.ts
Labels: type: feature / request ✨

#3877 refactor(api-client): Handle LH consent when creating connection request (SQSERVICES-447)
  packages/api-client/src/connection/ConnectionAPI.ts
  packages/api-client/src/connection/ConnectionError.ts
  packages/api-client/src/connection/index.ts
Labels: type: refactoring 🛠

#3879 feat(api-client): Map feature for legalhold
  packages/api-client/src/team/feature/Feature.ts
  packages/api-client/src/team/feature/FeatureAPI.ts
  packages/api-client/src/team/feature/FeatureList.ts
Labels: type: feature / request ✨

#3880 refactor(api-client): Adjust missing LH consent error label
  packages/api-client/src/connection/ConnectionAPI.ts
  packages/api-client/src/connection/ConnectionError.ts
  packages/api-client/src/conversation/ConversationAPI.ts
  packages/api-client/src/conversation/ConversationError.ts
  packages/api-client/src/http/BackendErrorLabel.ts
Labels: type: refactoring 🛠

#3882 fix(api-client): Fix incorrect spec for client capabilties
  packages/api-client/src/client/NewClient.ts
Labels: type: bug / fix 🐞

#3897 feat(api-client): Handle `post conversation` legal hold error (SQSERVICES-428)
  packages/api-client/src/conversation/ConversationAPI.ts
Labels: type: feature / request ✨

#3898 feat(react-ui-kit): Fixed color for muted text
  packages/react-ui-kit/src/Form/__snapshots__/Button.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/ButtonLink.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/Checkbox.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/ErrorMessage.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/Form.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/Input.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/Select.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/Switch.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/TextArea.test.tsx.snap
  packages/react-ui-kit/src/Identity/colors.ts
  packages/react-ui-kit/src/Text/Text.md
  packages/react-ui-kit/src/Text/Text.tsx
  packages/react-ui-kit/src/Text/__snapshots__/Heading.test.tsx.snap
  packages/react-ui-kit/src/Text/__snapshots__/Label.test.tsx.snap
  packages/react-ui-kit/src/Text/__snapshots__/Line.test.tsx.snap
  packages/react-ui-kit/src/Text/__snapshots__/Link.test.tsx.snap
  packages/react-ui-kit/src/Text/__snapshots__/Paragraph.test.tsx.snap
  packages/react-ui-kit/src/Text/__snapshots__/Text.test.tsx.snap
  packages/react-ui-kit/src/Text/__snapshots__/TextLink.test.tsx.snap
  packages/react-ui-kit/src/Text/__snapshots__/Title.test.tsx.snap
  packages/react-ui-kit/src/__snapshots__/GlobalStyle.test.tsx.snap
Labels: type: feature / request ✨

#3899 refactor(react-ui-kit): Forward refs for Text components
  packages/react-ui-kit/src/Layout/FlexBox.tsx
  packages/react-ui-kit/src/Layout/headerMenu/HeaderSubMenu.tsx
  packages/react-ui-kit/src/Misc/Pagination.tsx
  packages/react-ui-kit/src/Text/Text.tsx
Labels: type: refactoring 🛠

#3904 feat(api-client): Add new connection for legal hold issues (SQSERVICES-429)
  packages/api-client/src/connection/Connection.ts
  packages/api-client/src/connection/ConnectionStatus.ts
Labels: type: feature / request ✨
