Repository wireapp/wire-web-packages, pull requests merged in 2021-12, with the labels that each got.

#4187 feat(api-client): Add guest link feature config mapping (SQSERVICES-1047)
  packages/api-client/src/team/data/TeamFeatureConfigurationUpdateEventData.ts
  packages/api-client/src/team/feature/Feature.ts
  packages/api-client/src/team/feature/FeatureAPI.ts
  packages/api-client/src/team/feature/FeatureList.ts
Labels: type: feature / request ✨

#4191 feat(api-client): Add email unvalidated to user interface (SQSERVICES-231)
  packages/api-client/src/user/User.ts
Labels: type: feature / request ✨

#4188 refactor(core): Refactor platform specific crypto logic
  packages/core/package.json
  packages/core/src/main/conversation/AssetService.ts
  packages/core/src/main/conversation/ConversationService.ts
  packages/core/src/main/conversation/content/ImageContent.ts
  packages/core/src/main/conversation/message/MessageService.ts
  packages/core/src/main/cryptography/AssetCryptography.browser.ts
  packages/core/src/main/cryptography/AssetCryptography.node.ts
  packages/core/src/main/cryptography/AssetCryptography/EncryptedAsset.ts
  packages/core/src/main/cryptography/AssetCryptography/crypto.browser.ts
  packages/core/src/main/cryptography/AssetCryptography/crypto.node.ts
  packages/core/src/main/cryptography/AssetCryptography/index.ts
  packages/core/src/main/cryptography/AssetCryptography/interfaces.ts
  packages/core/src/main/cryptography/CryptographyService.test.browser.js
  packages/core/src/main/cryptography/CryptographyService.test.node.ts
Labels: type: refactoring 🛠

#4192 feat(api-client): Add feature `lockStatus` indicating immutable features
  packages/api-client/src/http/BackendErrorLabel.ts
  packages/api-client/src/team/feature/Feature.ts
  packages/api-client/src/team/feature/FeatureAPI.ts
  packages/api-client/src/team/feature/FeatureError.ts
Labels: type: feature / request ✨

#4194 feat(core): Add image metadata to file metadata payload
  packages/core/src/main/conversation/content/FileContent.ts
Labels: type: feature / request ✨

#4193 feat(core): Add a method to get all participants/clients of a conversation
  packages/core/src/main/conversation/ConversationService.test.node.ts
  packages/core/src/main/conversation/ConversationService.ts
Labels: type: feature / request ✨

#4195 fix(api-client): Optional feature lockStatus
  packages/api-client/src/team/feature/Feature.ts
Labels: type: bug / fix 🐞

#4196 feat(core): Add image metadata when building generic message
  packages/core/src/main/conversation/ConversationService.ts
Labels: type: feature / request ✨

#4198 feat(core): Ability to cancel asset uploading
  packages/api-client/src/asset/AssetAPI.ts
  packages/api-client/src/services/ServicesAPI.ts
  packages/bot-api/src/MessageHandler.ts
  packages/core/src/demo/echo.ts
  packages/core/src/demo/sender.ts
  packages/core/src/main/conversation/AssetService.test.node.ts
  packages/core/src/main/conversation/AssetService.ts
  packages/core/src/main/linkPreview/LinkPreviewService.ts
Labels: type: feature / request ✨

#4199 refactor(core): Harmonize asset param name
  packages/bot-api/src/MessageHandler.ts
  packages/core/src/demo/echo.ts
  packages/core/src/demo/sender.ts
  packages/core/src/main/conversation/message/MessageBuilder.ts
Labels: type: refactoring 🛠

#4201 feat(api-client): Add federated asset upload endpoint (v4)
  packages/api-client/package.json
  packages/api-client/src/asset/AssetAPI.ts
  yarn.lock
Labels: type: feature / request ✨

#4202 feat(api-client): Adapt assets for federation
  packages/api-client/src/asset/AssetAPI.ts
  packages/api-client/src/user/UserAsset.ts
Labels: type: feature / request ✨

#4203 feat(core): Add a method to upload an unencrypted asset
  packages/core/src/main/conversation/AssetService.ts
Labels: type: feature / request ✨

#4204 feat(core): Add lastRead and Countly message to the core
  packages/core/src/main/conversation/ConversationService.ts
  packages/core/src/main/conversation/GenericMessageType.ts
Labels: type: feature / request ✨
