Repository wireapp/wire-web-packages, pull requests merged in 2021-11, with the labels that each got.

#4166 feat(core): Add federated client mismatch handlers
  packages/core/src/main/conversation/ConversationService.ts
  packages/core/src/main/conversation/message/MessageService.test.node.ts
  packages/core/src/main/conversation/message/MessageService.ts
  packages/core/src/main/util/TypePredicateUtil.ts
Labels: type: feature / request ✨

#4167 feat(api-client): Add federation backend error labels
  packages/api-client/src/http/BackendErrorLabel.ts
Labels: type: feature / request ✨

#4169 fix(core): Cleanly delete users from payload when mismatch happens
  packages/core/src/main/conversation/message/MessageService.test.node.ts
  packages/core/src/main/conversation/message/MessageService.ts
Labels: type: bug / fix 🐞

#4168 feat(core): Add option to set a domain on an account
  packages/core/src/main/Account.ts
  packages/core/src/main/cryptography/CryptographyService.ts
Labels: type: feature / request ✨

#4171 refactor(core): Simplify and streamline responsibilities of the MessageService
  packages/core/src/main/broadcast/BroadcastService.ts
  packages/core/src/main/conversation/ConversationService.test.node.ts
  packages/core/src/main/conversation/ConversationService.ts
  packages/core/src/main/conversation/message/MessageService.test.node.ts
  packages/core/src/main/conversation/message/MessageService.ts
  packages/core/src/main/conversation/message/UserClientsUtil.ts
  packages/core/src/main/conversation/message/UserClientsUtils.test.node.ts
  packages/core/src/main/util/TypePredicateUtil.ts
Labels: type: refactoring 🛠

#4176 fix(core): Gracefully handle missing sessions when encrypting
  packages/core/src/main/cryptography/CryptographyService.test.node.ts
  packages/core/src/main/cryptography/CryptographyService.ts
Labels: type: bug / fix 🐞

#4172 feat(core): Add a mechanism to cancel message sending
  packages/core/src/main/conversation/ConversationService.test.node.ts
  packages/core/src/main/conversation/ConversationService.ts
Labels: type: feature / request ✨

#4175 feat(core): Add mismatch hook for non-federated messages
  packages/core/src/main/conversation/ConversationService.ts
  packages/core/src/main/conversation/message/MessageService.test.node.ts
  packages/core/src/main/conversation/message/MessageService.ts
Labels: type: feature / request ✨

#4177 chore(core): Improve types for onStart handler
  packages/core/src/main/conversation/ConversationService.ts
  packages/core/src/main/conversation/message/MessageService.test.node.ts
  packages/core/src/main/conversation/message/MessageService.ts
Labels: type: chore 🧹

#4178 feat(core): Do not call onSuccess when message sending errored
  packages/core/src/main/conversation/ConversationService.test.node.ts
  packages/core/src/main/conversation/ConversationService.ts
  packages/core/src/main/conversation/message/MessageService.ts
Labels: type: feature / request ✨

#4179 feat(api-client): Add lead endpoint bindings
  packages/api-client/src/team/team/LeadData.ts
  packages/api-client/src/team/team/TeamAPI.ts
Labels: type: feature / request ✨

#4180 feat(api-client): Add domain parameter when searching for contacts
  packages/api-client/src/user/UserAPI.ts
Labels: type: feature / request ✨

#4181 feat(core): Add ability to send targeted message to specific users
  packages/core/src/main/conversation/ConversationService.test.node.ts
  packages/core/src/main/conversation/ConversationService.ts
  packages/core/src/main/conversation/message/MessageService.test.node.ts
  packages/core/src/main/conversation/message/MessageService.ts
Labels: type: feature / request ✨

#4182 feat(core): Add cancelled flag when message sending was cancelled
  packages/core/src/main/conversation/ConversationService.test.node.ts
  packages/core/src/main/conversation/ConversationService.ts
  packages/core/src/main/conversation/message/PayloadBundle.ts
Labels: type: feature / request ✨

#4183 feat(core): Map qualified_conversation and qualified_from in message payloads
  packages/core/src/main/conversation/ConversationMapper.ts
  packages/core/src/main/conversation/ConversationService.ts
  packages/core/src/main/conversation/message/PayloadBundle.ts
Labels: type: feature / request ✨

#4184 feat(core): Add more qualifiedIds when mapping messages
  packages/core/src/main/cryptography/GenericMessageMapper.ts
Labels: type: feature / request ✨

#4185 fix(api-client): IDP params
  packages/api-client/src/team/identityprovider/IdentityProviderAPI.ts
Labels: type: bug / fix 🐞
