Repository wireapp/wire-web-packages, pull requests merged in 2021-08, with the labels that each got.

#4107 fix(api-client): Name in UserUpdate is optional
  packages/api-client/src/user/UserUpdate.ts
Labels: type: bug / fix 🐞

#4110 refactor(api-client): Remove audio/video message feature config endpoints
  packages/api-client/src/team/data/TeamFeatureConfigurationUpdateEventData.ts
  packages/api-client/src/team/feature/Feature.ts
  packages/api-client/src/team/feature/FeatureAPI.ts
  packages/api-client/src/team/feature/FeatureList.ts
Labels: type: refactoring 🛠

#4111 feat(api-client): Restructured BillingAPI
  packages/api-client/src/APIClient.ts
  packages/api-client/src/team/billing/BillingAPI.ts
  packages/api-client/src/team/billing/BillingInfo.ts
  packages/api-client/src/team/billing/BillingTeamData.ts
  packages/api-client/src/team/billing/CardData.ts
  packages/api-client/src/team/billing/InvoiceData.ts
  packages/api-client/src/team/billing/InvoiceListData.ts
  packages/api-client/src/team/billing/InvoiceUpcomingData.ts
  packages/api-client/src/team/billing/PlanData.ts
  packages/api-client/src/team/billing/SupportedCurrency.ts
  packages/api-client/src/team/billing/index.ts
  packages/api-client/src/team/index.ts
  packages/api-client/src/team/payment/PaymentAPI.ts
Labels: type: feature / request ✨

#4112 feat(api-client): Billing coupon endpoints
  packages/api-client/src/team/billing/BillingAPI.ts
  packages/api-client/src/team/billing/InvoiceUpcomingData.ts
Labels: type: feature / request ✨

#4113 docs(certificate-check): Add examples and verification sequence
  packages/certificate-check/README.md
  packages/certificate-check/src/CertUtil.ts
Labels: type: documentation 📋

#4116 fix(api-client): Remove currency from BillingInfo type
  packages/api-client/src/team/billing/BillingInfo.ts
Labels: type: bug / fix 🐞

#4117 feat(core): Add domain to context
  packages/api-client/src/APIClient.ts
  packages/api-client/src/auth/Context.ts
  packages/core/src/demo/echo.ts
  packages/core/src/demo/sendCounter.ts
  packages/core/src/main/conversation/ConversationService.ts
  packages/core/src/main/self/SelfService.ts
Labels: type: feature / request ✨

#4118 fix(api-client): Remove legacy resource to change email addresses
  packages/api-client/src/self/SelfAPI.ts
Labels: type: bug / fix 🐞

#4119 feat(api-client): Add classified domains to feature config
  packages/api-client/src/team/feature/Feature.ts
  packages/api-client/src/team/feature/FeatureList.ts
Labels: type: feature / request ✨

#4122 refactor: Upgrade TypeScript to 4.4
  packages/api-client/package.json
  packages/api-client/src/account/AccountAPI.ts
  packages/api-client/src/asset/AssetAPI.ts
  packages/api-client/src/auth/AuthAPI.ts
  packages/api-client/src/client/ClientAPI.ts
  packages/api-client/src/connection/ConnectionAPI.ts
  packages/api-client/src/conversation/ConversationAPI.ts
  packages/api-client/src/http/HttpClient.test.node.ts
  packages/api-client/src/team/feature/FeatureAPI.ts
  packages/api-client/src/team/invitation/TeamInvitationAPI.ts
  packages/api-client/src/team/member/MemberAPI.ts
  packages/api-client/src/team/search/TeamSearchAPI.ts
  packages/api-client/src/team/team/TeamAPI.ts
  packages/api-client/src/user/UserAPI.ts
  packages/bazinga64/package.json
  packages/bot-api/package.json
  packages/bot-handler-avs/package.json
  packages/bot-handler-debug/package.json
  packages/bot-handler-debug/src/AutoConnectHandler.ts
  packages/bot-handler-uptime/package.json
  packages/bot-handler-wizard/package.json
  packages/certificate-check/src/CertUtil.ts
  packages/changelog-bot/package.json
  packages/cli-client/package.json
  packages/commons/package.json
  packages/copy-config/package.json
  packages/core/package.json
  packages/core/src/main/Account.test.node.ts
  packages/core/src/main/Account.ts
  packages/core/src/main/conversation/message/MessageService.ts
  packages/core/src/main/cryptography/CryptographyService.ts
  packages/core/src/main/index.ts
  packages/core/src/main/notification/NotificationService.ts
  packages/license-collector/package.json
  packages/priority-queue/package.json
  packages/react-ui-kit/package.json
  packages/store-engine-bro-fs/package.json
  packages/store-engine-bro-fs/src/index.ts
  packages/store-engine-dexie/package.json
  packages/store-engine-dexie/src/index.ts
  packages/store-engine-fs/package.json
  packages/store-engine-fs/src/index.ts
  packages/store-engine-sqleet/package.json
  packages/store-engine-sqleet/src/SQLeetEngine.ts
  packages/store-engine-web-storage/package.json
  packages/store-engine-web-storage/src/WebStorageEngine.ts
  packages/store-engine/package.json
  packages/store-engine/src/main/store/TransientStore.test.browser.ts
  packages/webapp-events/package.json
  yarn.lock
Labels: type: refactoring 🛠

#4121 feat(api-client): Get self domain when creating context
  packages/api-client/src/APIClient.test.node.ts
  packages/api-client/src/APIClient.ts
  packages/bot-api/src/MessageHandler.test.node.ts
  packages/core/src/main/Account.test.browser.js
  packages/core/src/main/Account.test.node.ts
  packages/core/src/main/self/SelfService.ts
Labels: type: feature / request ✨
