Repository wireapp/wire-web-packages, pull requests merged in 2021-01, with the labels that each got.

#3356 feat(api-client,core): Send messages as protobuf (SQCORE-252)
  packages/api-client/package.json
  packages/api-client/src/broadcast/BroadcastAPI.ts
  packages/api-client/src/conversation/ConversationAPI.ts
  packages/api-client/src/conversation/NewOTRMessage.ts
  packages/api-client/src/conversation/OTRClientMap.ts
  packages/api-client/src/conversation/OTRRecipients.ts
  packages/api-client/src/services/Service.ts
  packages/commons/src/main/util/StringUtil.test.node.js
  packages/commons/src/main/util/StringUtil.ts
  packages/core/package.json
  packages/core/src/demo/sender.js
  packages/core/src/main/Account.ts
  packages/core/src/main/broadcast/BroadcastService.ts
  packages/core/src/main/conversation/ConversationService.test.node.ts
  packages/core/src/main/conversation/ConversationService.ts
  packages/core/src/main/conversation/message/MessageService.ts
  packages/core/src/main/cryptography/CryptographyService.test.browser.js
  packages/core/src/main/cryptography/CryptographyService.test.node.ts
  packages/core/src/main/cryptography/CryptographyService.ts
  packages/core/src/main/cryptography/SessionPayloadBundle.ts
  packages/core/src/main/user/UserService.ts
  yarn.lock
Labels: type: feature / request ✨

#3441 fix(priority-queue): Run tests with Jasmine 3.6
  packages/api-client/package.json
  packages/bazinga64/package.json
  packages/bot-api/package.json
  packages/bot-handler-avs/package.json
  packages/bot-handler-debug/package.json
  packages/bot-handler-uptime/package.json
  packages/bot-handler-wizard/package.json
  packages/cbor/package.json
  packages/copy-config/package.json
  packages/core/package.json
  packages/cryptobox/package.json
  packages/lru-cache/package.json
  packages/priority-queue/karma.conf.ts
  packages/priority-queue/package.json
  packages/priority-queue/src/main/PriorityQueue.ts
  packages/priority-queue/src/test/browser/PriorityQueue.test.js
  packages/priority-queue/src/test/node/spec/PriorityQueue.test.js
  packages/proteus/package.json
  packages/store-engine-bro-fs/package.json
  packages/store-engine-dexie/package.json
  packages/store-engine-dexie/src/index.test.ts
  packages/store-engine-fs/package.json
  packages/store-engine-sqleet/package.json
  packages/store-engine-web-storage/package.json
  packages/store-engine/package.json
  yarn.lock
Labels: type: bug / fix 🐞

#3446 fix(priority-queue): Sort items by priority when adding to queue
  packages/priority-queue/src/main/PriorityQueue.ts
Labels: type: bug / fix 🐞

#3445 test(store-engine-dexie): Use unique database names across tests
  packages/store-engine-dexie/package.json
  packages/store-engine-dexie/src/index.test.ts
  yarn.lock
Labels: type: test 👷

#3460 feat(react-ui-kit): ErrorMessage icon
  packages/react-ui-kit/src/Form/ErrorMessage.tsx
  packages/react-ui-kit/src/Form/__snapshots__/ErrorMessage.test.tsx.snap
  packages/react-ui-kit/src/Icon/ErrorIcon.tsx
  packages/react-ui-kit/src/Icon/SVGIcon.md
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨

#3461 fix(react-ui-kit): Adjust ErrorMessage props chaining
  packages/react-ui-kit/src/Form/ErrorMessage.md
  packages/react-ui-kit/src/Form/ErrorMessage.tsx
  packages/react-ui-kit/src/Form/__snapshots__/ErrorMessage.test.tsx.snap
  packages/react-ui-kit/src/Layout/FlexBox.tsx
Labels: type: bug / fix 🐞

#3464 fix(api-client): Add team_code attribute to RegisterData type
  packages/api-client/src/auth/RegisterData.ts
Labels: type: bug / fix 🐞

#3466 refactor(react-ui-kit): Use URL instead of base64 for Avatar
  packages/react-ui-kit/src/Identity/Avatar.md
  packages/react-ui-kit/src/Identity/Avatar.tsx
  packages/react-ui-kit/src/Identity/AvatarGrid.md
  packages/react-ui-kit/src/Identity/AvatarGrid.tsx
Labels: type: refactoring 🛠

#3478 fix(api-client): Expose team search API
  packages/api-client/src/APIClient.ts
Labels: type: bug / fix 🐞

#3480 fix(api-client): Fix team search URL
  packages/api-client/src/team/search/TeamSearchAPI.ts
Labels: type: bug / fix 🐞
