Repository wireapp/wire-web-packages, pull requests merged in 2021-07, with the labels that each got.

#4025 refactor(api-client): Extract feature keys
  packages/api-client/src/team/data/TeamFeatureConfigurationUpdateEventData.ts
  packages/api-client/src/team/feature/FeatureList.ts
Labels: type: refactoring 🛠

#4047 feat(api-client): Expose attributes for federated events
  packages/api-client/src/event/ConversationEvent.ts
Labels: type: feature / request ✨

#4050 feat(api-client): Get remote conversations
  packages/api-client/src/conversation/Conversation.ts
  packages/api-client/src/conversation/ConversationAPI.ts
Labels: type: feature / request ✨

#4052 feat(api-client): New endpoint for changing email address (SQCORE-817)
  packages/api-client/src/auth/AuthAPI.ts
  packages/api-client/src/self/SelfAPI.ts
Labels: type: feature / request ✨

#4054 feat(api-client): AV message feature config endpoints
  packages/api-client/src/team/data/TeamFeatureConfigurationUpdateEventData.ts
  packages/api-client/src/team/feature/Feature.ts
  packages/api-client/src/team/feature/FeatureAPI.ts
  packages/api-client/src/team/feature/FeatureList.ts
Labels: type: feature / request ✨

#4057 fix(api-client): Re-add existing endpoint for changing email address
  packages/api-client/src/self/SelfAPI.ts
Labels: type: bug / fix 🐞

#4062 refactor(api-client): Update config update event shape
  packages/api-client/src/event/TeamEvent.ts
  packages/api-client/src/team/data/TeamFeatureConfigurationUpdateEventData.ts
  packages/api-client/src/team/feature/Feature.ts
Labels: type: refactoring 🛠

#4055 fix(core): Split up prekey fetching for federation
  packages/core/src/main/conversation/ConversationService.test.node.ts
  packages/core/src/main/conversation/ConversationService.ts
  packages/core/src/main/util/TypePredicateUtil.ts
Labels: type: bug / fix 🐞

#4077 fix(react-ui-kit): Accept data-uie attribute on Switch component
  packages/react-ui-kit/src/Form/Switch.tsx
Labels: type: bug / fix 🐞

#4079 refactor(api-client): Remove unused client id parameter
  packages/api-client/src/APIClient.test.node.ts
  packages/api-client/src/APIClient.ts
Labels: type: refactoring 🛠

#4081 docs(core): Show default values for demo scripts
  packages/core/.env.defaults
  packages/core/package.json
  packages/core/src/demo/composite.ts
  packages/core/src/demo/echo.ts
  packages/core/src/demo/sender.ts
Labels: type: documentation 📋

#4080 feat(core): Broadcast availability status to external connections
  packages/core/src/main/Account.ts
  packages/core/src/main/broadcast/BroadcastService.ts
  packages/core/src/main/connection/ConnectionService.ts
  packages/core/src/main/conversation/ConversationService.ts
  packages/core/src/main/user/UserService.ts
Labels: type: feature / request ✨

#4063 feat(api-client): Team-agnostic fetch all feature config endpoint
  packages/api-client/src/team/feature/FeatureAPI.ts
Labels: type: feature / request ✨

#4089 feat(api-client): Use team-agnostic feature config GET endpoints
  packages/api-client/src/team/feature/FeatureAPI.ts
Labels: type: refactoring 🛠
