Repository wireapp/wire-web-packages, pull requests merged in 2022-06, with the labels that each got.

#4282 feat: Add listen dryrun option
  packages/core/src/main/Account.ts
  packages/core/src/main/notification/NotificationService.test.node.ts
  packages/core/src/main/notification/NotificationService.ts
Labels: type: feature / request ✨

#4283 feat(core, api-client): Add MLS team feature config (fs-653)
  packages/api-client/src/team/feature/Feature.ts
  packages/api-client/src/team/feature/FeatureAPI.ts
  packages/api-client/src/team/feature/FeatureList.ts
Labels: type: feature / request ✨

#4280 feat(api): Improve federated unavailable error handling
  packages/api-client/src/conversation/ConversationAPI.ts
  packages/api-client/src/http/BackendErrorLabel.ts
  packages/api-client/src/http/HttpClient.ts
Labels: type: feature / request ✨, do not merge

#4285 fix(core): Abort notification stream handling when websocket is disconnected
  packages/core/src/main/Account.ts
  packages/core/src/main/notification/NotificationService.ts
Labels: type: bug / fix 🐞

#4290 refactor(react-ui-kit): Export ButtonVariant enum
  packages/react-ui-kit/src/Form/Button.tsx
Labels: type: refactoring 🛠

#4293 fix(core): Make sure access token is valid before connecting to websocket
  packages/api-client/src/auth/AccessTokenStore.ts
  packages/api-client/src/http/HttpClient.test.node.ts
  packages/api-client/src/http/HttpClient.ts
  packages/api-client/src/tcp/WebSocketClient.test.node.ts
  packages/api-client/src/tcp/WebSocketClient.ts
  packages/core/src/main/Account.ts
Labels: type: bug / fix 🐞

#4287 feat(core): Create MLS capable devices
  .gitattributes
  packages/core/package.json
  packages/core/src/main/Account.ts
  packages/core/src/main/client/ClientService.ts
  packages/core/webpack.config.js
  yarn.lock
Labels: type: feature / request ✨

#4292 feat(api-client): Add new MLS endpoints (FS-652)
  packages/api-client/src/client/ClientAPI.ts
  packages/api-client/src/conversation/ConversationAPI.ts
  packages/api-client/src/conversation/data/MlsEventData.ts
  packages/api-client/src/http/ContentType.ts
  packages/api-client/src/http/HttpClient.ts
Labels: type: feature / request ✨

#4298 feat: modify StyledApp to accept either theme object or themeId as prop
  packages/react-ui-kit/src/Layout/StyledApp.tsx
  packages/react-ui-kit/src/Layout/Theme.tsx
Labels: type: feature / request ✨

#4303 fix: incorrect param for delete idp (SQSERVICES-1387)
  packages/api-client/src/team/identityprovider/IdentityProviderAPI.ts
Labels: type: bug / fix 🐞

#4305 chore: removing dead sso endpoint
  packages/api-client/src/auth/AuthAPI.ts
Labels: type: chore 🧹

#4302 feat: Add encrypted storage for coreCrypto database key [FS-565]
  packages/core/package.json
  packages/core/src/main/Account.ts
  packages/core/src/main/util/encryptedStore.test.node.ts
  packages/core/src/main/util/encryptedStore.ts
  yarn.lock
Labels: type: feature / request ✨

#4306 feat: Give proper database name to corecrypto db
  packages/core/src/main/Account.ts
Labels: type: feature / request ✨
