Repository wireapp/wire-web-packages, pull requests merged in 2022-09, with the labels that each got.

#4369 runfix: address design review acc-79
  packages/react-ui-kit/src/Form/Checkbox.tsx
  packages/react-ui-kit/src/Form/__snapshots__/Checkbox.test.tsx.snap
  packages/react-ui-kit/src/Text/Link.tsx
Labels: type: bug / fix 🐞

#4375 runfix: correct typo for Link focus state
  packages/react-ui-kit/src/Text/Link.tsx
Labels: type: bug / fix 🐞

#4377 feat: Clear created databases when logging out
  packages/core/src/main/Account.ts
  packages/core/src/main/util/encryptedStore.ts
Labels: type: feature / request ✨

#4378 feat: Also create MLS device when logging in with old proteus device
  packages/core/src/main/Account.ts
Labels: type: feature / request ✨

#4376 feat: Add ability to send external proposal (FS-689)
  packages/api-client/src/conversation/Conversation.ts
  packages/core/src/main/conversation/ConversationService/ConversationService.ts
Labels: type: feature / request ✨

#4379 feat: Update getAllParticipantsClients to use better endpoints without a hack
  packages/api-client/src/conversation/Member.ts
  packages/core/src/main/conversation/ConversationService/ConversationService.test.node.ts
  packages/core/src/main/conversation/ConversationService/ConversationService.ts
Labels: type: feature / request ✨

#4380 fix(react-ui-kit): update CodeInput component to be visible on mobile…
  packages/react-ui-kit/src/Form/CodeInput.tsx
Labels: type: bug / fix 🐞

#4383 runfix(core): address dexie error on deleting all stores on login
  packages/core/src/main/cryptography/CryptographyDatabaseRepository.ts
Labels: type: bug / fix 🐞

#4381 feat: add promise queue package
  packages/api-client/src/user/UserAPI.ts
  packages/priority-queue/package.json
  packages/promise-queue/.gitignore
  packages/promise-queue/README.md
  packages/promise-queue/babel.config.js
  packages/promise-queue/jest.config.js
  packages/promise-queue/package.json
  packages/promise-queue/src/PromiseQueue.test.ts
  packages/promise-queue/src/PromiseQueue.ts
  packages/promise-queue/src/PromiseQueueOptions.ts
  packages/promise-queue/src/QueueEntry.ts
  packages/promise-queue/src/index.ts
  packages/promise-queue/tsconfig.json
  yarn.lock
Labels: type: feature / request ✨

#4386 runfix(store-engine-web-storage): fix package entry point
  packages/store-engine-web-storage/package.json
Labels: type: bug / fix 🐞

#4387 runfix(store-engine-web-storage): set web storage package main file to root
  packages/store-engine-web-storage/package.json
  packages/store-engine-web-storage/src/index.ts
Labels: type: bug / fix 🐞

#4389 feat: add fetchAllParticipantsClients method for MLS conversations
  packages/core/src/main/conversation/ConversationService/ConversationService.test.node.ts
  packages/core/src/main/conversation/ConversationService/ConversationService.ts
Labels: type: feature / request ✨

#4390 runfix(promise-queue): downgrade ts version to 4.4.2
  packages/promise-queue/package.json
  yarn.lock
Labels: type: chore 🧹

#4384 feat(core): sync keys with backend (FS-655)
  packages/core/src/main/Account.ts
  packages/core/src/main/client/ClientService.ts
  packages/core/src/main/mls/MLSService/MLSService.ts
  packages/core/src/main/mls/keyPackagesStatusStore/keyPackagesStatusStore.ts
  packages/core/src/main/notification/NotificationService.ts
Labels: type: feature / request ✨

#4393 fix: fix demo type errors
  packages/core/src/demo/echo.ts
Labels: type: bug / fix 🐞

#4394 runfix: call mls methods for mls envs only
  packages/core/src/main/Account.ts
Labels: type: bug / fix 🐞

#4395 feat: Call clearPendingCommits when commit sending failed on backend
  packages/core/src/main/mls/MLSService/MLSService.ts
Labels: type: refactoring 🛠

#4396 feat: use localstorage for keys update date
  packages/core/src/main/cryptography/CryptographyDatabaseRepository.ts
  packages/core/src/main/mls/keyMaterialUpdatesStore/index.ts
  packages/core/src/main/mls/keyMaterialUpdatesStore/keyMaterialUpdatesStore.test.node.ts
  packages/core/src/main/mls/keyMaterialUpdatesStore/keyMaterialUpdatesStore.ts
  packages/core/src/main/notification/NotificationDatabaseRepository.ts
  packages/core/src/main/notification/NotificationService.ts
Labels: type: feature / request ✨

#4392 feat: Queue message sending [FS-882]
  packages/core/package.json
  packages/core/src/main/Account.ts
  packages/core/src/main/conversation/ConversationService/ConversationService.test.node.ts
  packages/core/src/main/conversation/ConversationService/ConversationService.ts
  packages/core/src/main/conversation/message/messageSender.ts
  packages/core/src/main/mls/MLSService/MLSService.ts
Labels: type: feature / request ✨

#4399 feat: leave mls conversation (FS-683)
  packages/core/src/main/conversation/ConversationService/ConversationService.ts
  packages/core/src/main/mls/MLSService/MLSService.ts
Labels: type: feature / request ✨

#4400 feat: Add cipher_suite to conversation data (FS-881)
  packages/api-client/src/conversation/Conversation.ts
Labels: type: feature / request ✨

#4401 feat: leave mls convo - refactor (FS-683)
  packages/bot-api/src/MessageHandler.ts
  packages/core/src/main/conversation/ConversationService/ConversationService.ts
  packages/core/src/main/cryptography/CryptographyService.test.browser.js
  packages/core/src/main/notification/NotificationService.test.browser.js
Labels: type: feature / request ✨

#4397 feat: Handle external proposals
  packages/core/src/main/Account.ts
  packages/core/src/main/conversation/ConversationService/ConversationService.ts
  packages/core/src/main/mls/MLSService/MLSService.ts
  packages/core/src/main/mls/types.ts
  packages/core/src/main/notification/NotificationDatabaseRepository.ts
  packages/core/src/main/notification/NotificationService.ts
  packages/core/src/main/notification/types.ts
  packages/core/src/main/util/fullyQualifiedClientIdUtils.test.node.ts
  packages/core/src/main/util/fullyQualifiedClientIdUtils.ts
Labels: type: feature / request ✨

#4404 refactor: replace lerna with maintained fork lerna-lite
  package.json
  yarn.lock
Labels: type: chore 🧹

#4405 feat: Enable sending hide message to mls conversations
  packages/core/src/main/conversation/ConversationService/ConversationService.ts
  packages/core/src/main/conversation/ConversationService/messageGenerator.ts
  packages/core/src/main/conversation/message/MessageBuilder.ts
Labels: type: feature / request ✨

#4407 fix: update lerna release workflow and add dry runs
  .github/workflows/lint.yml
  .github/workflows/test_build_release.yml
  package.json
  yarn.lock
Labels: type: bug / fix 🐞, comp: infrastructure

#4406 chore: add manual publish job
  .github/workflows/publish_all.yml
Labels: type: chore 🧹, comp: infrastructure

#4408 refactor: add prepare scripts
  packages/api-client/package.json
  packages/bazinga64/package.json
  packages/bot-api/package.json
  packages/bot-handler-avs/package.json
  packages/bot-handler-debug/package.json
  packages/bot-handler-uptime/package.json
  packages/bot-handler-wizard/package.json
  packages/certificate-check/package.json
  packages/changelog-bot/package.json
  packages/cli-client/package.json
  packages/commons/package.json
  packages/copy-config/package.json
  packages/core/package.json
  packages/license-collector/package.json
  packages/priority-queue/package.json
  packages/promise-queue/package.json
  packages/react-ui-kit/package.json
  packages/store-engine-bro-fs/package.json
  packages/store-engine-dexie/package.json
  packages/store-engine-fs/package.json
  packages/store-engine-sqleet/package.json
  packages/store-engine-web-storage/package.json
  packages/store-engine/package.json
  packages/webapp-events/package.json
Labels: type: refactoring 🛠

#4409 fix: Upgrade @wireapp/core-crypto
  packages/core/package.json
  yarn.lock
Labels: type: feature / request ✨

#4410 chore: avoid running build twice for each package
  bin/testUpdated.js
  packages/certificate-check/package.json
Labels: type: chore 🧹, comp: infrastructure

#4411 chore: Stabilise building pipeline
  bin/testUpdated.js
  package.json
  packages/api-client/package.json
  packages/bazinga64/package.json
  packages/bot-api/package.json
  packages/bot-handler-avs/package.json
  packages/bot-handler-debug/package.json
  packages/bot-handler-uptime/package.json
  packages/bot-handler-wizard/package.json
  packages/certificate-check/package.json
  packages/changelog-bot/package.json
  packages/cli-client/package.json
  packages/commons/package.json
  packages/copy-config/package.json
  packages/core/package.json
  packages/license-collector/package.json
  packages/priority-queue/package.json
  packages/promise-queue/package.json
  packages/react-ui-kit/package.json
  packages/store-engine-bro-fs/package.json
  packages/store-engine-dexie/package.json
  packages/store-engine-fs/package.json
  packages/store-engine-sqleet/package.json
  packages/store-engine-web-storage/package.json
  packages/store-engine/package.json
  packages/webapp-events/package.json
Labels: type: chore 🧹, comp: infrastructure

#4385 feat: preshared key (FS-564)
  packages/api-client/src/client/ClientAPI.ts
  packages/core/src/main/conversation/ConversationService/ConversationService.ts
  packages/promise-queue/package.json
  yarn.lock
Labels: type: feature / request ✨

#4412 fix(ui-kit): Proper use of forwardRef for RangeInput
  packages/react-ui-kit/src/Form/RangeInput.tsx
Labels: type: bug / fix 🐞

#4413 fix(ui-kit): move @types/color to dependencies
  packages/react-ui-kit/package.json
Labels: type: bug / fix 🐞

#4414 fix(api-client): Add flag to use dev version of the api
  packages/api-client/src/APIClient.test.node.ts
  packages/api-client/src/APIClient.ts
Labels: type: bug / fix 🐞

#4415 fix: Upgrade core-crypto
  packages/core/package.json
  yarn.lock
Labels: type: bug / fix 🐞
