Repository wireapp/wire-web-packages, pull requests merged in 2022-07, with the labels that each got.

#4307 feat: Use mls config object
  packages/core/src/main/Account.ts
Labels: type: feature / request ✨

#4308 feat(api-client): Adapt to api version 2
  packages/api-client/src/APIClient.ts
  packages/api-client/src/asset/AssetAPI.ts
  packages/api-client/src/conversation/ConversationAPI.ts
  packages/api-client/src/services/ServicesAPI.ts
  packages/api-client/src/team/feature/FeatureAPI.ts
  packages/api-client/src/user/UserAPI.ts
  packages/core/src/main/util/encryptedStore.test.node.ts
Labels: type: feature / request ✨

#4309 runfix: Return correct users when creating mls conversations
  packages/core/src/main/conversation/ConversationService.ts
Labels: type: bug / fix 🐞

#4299 feat: add custom theming to UI kit
  packages/react-ui-kit/src/Form/Checkbox.tsx
  packages/react-ui-kit/src/Form/InputLabel.tsx
  packages/react-ui-kit/src/Form/Select.tsx
  packages/react-ui-kit/src/Form/__snapshots__/Checkbox.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/ErrorMessage.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/Select.test.tsx.snap
  packages/react-ui-kit/src/Layout/StyledApp.tsx
  packages/react-ui-kit/src/Layout/Theme.tsx
  packages/react-ui-kit/src/Text/Text.tsx
  packages/react-ui-kit/src/Text/__snapshots__/Text.test.tsx.snap
  packages/react-ui-kit/src/Text/__snapshots__/Title.test.tsx.snap
Labels: type: feature / request ✨

#4310 feat: update feature api
  packages/api-client/src/team/feature/Feature.ts
  packages/api-client/src/team/feature/FeatureAPI.ts
Labels: type: feature / request ✨

#4311 fix: restore missing data-uie on input
  packages/react-ui-kit/src/Form/Input.tsx
Labels: type: bug / fix 🐞

#4317 feat(commons): Add XOR type utility
  packages/commons/src/main/util/TypeUtil.test.ts
  packages/commons/src/main/util/TypeUtil.ts
Labels: type: feature / request ✨

#4316 fix: toggle password input data-uie-name
  packages/react-ui-kit/src/Form/Input.tsx
Labels: type: bug / fix 🐞

#4318 feat: add new error label
  packages/api-client/src/http/BackendErrorLabel.ts
Labels: type: feature / request ✨

#4321 feat: update icon button to use new theming
  packages/react-ui-kit/src/Form/Checkbox.tsx
  packages/react-ui-kit/src/Form/Select.tsx
  packages/react-ui-kit/src/Layout/Theme.tsx
  packages/react-ui-kit/src/Misc/IconButton.tsx
Labels: type: feature / request ✨

#4323 feat(api-client): add IDP_ISSUER_IN_USE error label (#SQSERVICES-1596)
  packages/api-client/src/http/BackendErrorLabel.ts
Labels: type: bug / fix 🐞

#4314 feat(core): Send MLS messages (FS-560)
  packages/bot-api/src/MessageHandler.test.node.ts
  packages/bot-api/src/MessageHandler.ts
  packages/changelog-bot/src/main/ChangelogBot.ts
  packages/cli-client/src/index.ts
  packages/core/package.json
  packages/core/src/demo/composite.ts
  packages/core/src/demo/echo.ts
  packages/core/src/main/Account.test.node.ts
  packages/core/src/main/conversation/ConversationService.test.node.ts
  packages/core/src/main/conversation/ConversationService.ts
  yarn.lock
Labels: type: feature / request ✨

#4322 fix: issue with mls typing
  packages/api-client/src/team/feature/Feature.ts
  packages/api-client/src/team/feature/FeatureList.ts
Labels: type: bug / fix 🐞

#4324 fix(react-ui-kit): fix select component current value empty (#SQSERVICES-1661)
  packages/react-ui-kit/src/Form/Select.tsx
Labels: type: bug / fix 🐞

#4325 fix(api-client): broken mls endpoint
  packages/api-client/src/team/feature/FeatureAPI.ts
Labels: type: bug / fix 🐞

#4327 refactor(core): Use bazinga64 for encoding core crypto payload
  packages/core/src/main/conversation/ConversationService.ts
Labels: type: refactoring 🛠

#4329 feat(api-client): add LEGAL_HOLD_SERVICE_UNAVAILABLE backend error label (#SQSERVICES-1493)
  packages/api-client/src/http/BackendErrorLabel.ts
Labels: type: feature / request ✨

#4330 fix: centre align auth screen checkbox(ACC-207)
  packages/react-ui-kit/src/Form/Checkbox.tsx
Labels: type: bug / fix 🐞

#4315 feat: Decrypt incoming MLS messages
  packages/api-client/src/conversation/data/ConversationMLSMessageAddData.ts
  packages/api-client/src/conversation/data/ConversationMLSWelcomeData.ts
  packages/api-client/src/conversation/data/index.ts
  packages/api-client/src/event/ConversationEvent.ts
  packages/core/package.json
  packages/core/src/main/Account.ts
  packages/core/src/main/conversation/ConversationService.test.node.ts
  packages/core/src/main/conversation/ConversationService.ts
  packages/core/src/main/conversation/message/PayloadBundle.ts
  packages/core/src/main/cryptography/CryptographyDatabaseRepository.ts
  packages/core/src/main/notification/NotificationDatabaseRepository.ts
  packages/core/src/main/notification/NotificationService.test.node.ts
  packages/core/src/main/notification/NotificationService.ts
  yarn.lock
Labels: type: feature / request ✨

#4335 runfix: Remove client id from core crypto database name
  packages/core/src/main/Account.ts
Labels: type: bug / fix 🐞

#4336 feat(core): update core-crypto, pass entropy to crypto-core (FS-682)
  packages/core/package.json
  packages/core/src/main/Account.ts
  yarn.lock
Labels: type: feature / request ✨

#4338 feat(api-client): add 'splash_screen' field to TeamData model (#SQSERVICES-758)
  packages/api-client/src/team/team/NewTeamData.ts
  packages/api-client/src/team/team/TeamData.ts
  packages/api-client/src/team/team/UpdateTeamData.ts
Labels: type: feature / request ✨

#4342 feat(react-ui-kit): add custom RangeInput component (#SQSERVICES-758)
  packages/react-ui-kit/src/Form/RangeInput.md
  packages/react-ui-kit/src/Form/RangeInput.styles.ts
  packages/react-ui-kit/src/Form/RangeInput.test.tsx
  packages/react-ui-kit/src/Form/RangeInput.tsx
  packages/react-ui-kit/src/Form/__snapshots__/RangeInput.test.tsx.snap
  packages/react-ui-kit/src/Form/index.ts
  packages/react-ui-kit/src/util.ts
Labels: type: feature / request ✨

#4346 feat: slight style changes for select
  packages/react-ui-kit/src/Form/Select.md
  packages/react-ui-kit/src/Form/Select.tsx
  packages/react-ui-kit/src/Form/SelectComponents.tsx
Labels: type: feature / request ✨

#4349 feat(api-client): add protocol to conversation
  packages/api-client/src/conversation/Conversation.ts
Labels: type: feature / request ✨

#4350 fix(react-ui-kit): fix missmatching media queries
  packages/react-ui-kit/src/Layout/MatchMedia.tsx
Labels: type: bug / fix 🐞

#4340 feat: add users to mls conversation (FS-851)
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.test.ts
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/api-client/src/conversation/ConversationAPI/index.ts
  packages/bot-api/src/MessageHandler.ts
  packages/core/src/main/conversation/ConversationService/ConversationService.ts
  packages/core/src/main/conversation/ConversationService/ConversationService.types.ts
Labels: type: feature / request ✨

#4351 runfix(react-ui-kit): use react-select generics
  packages/react-ui-kit/src/Form/Select.tsx
Labels: type: bug / fix 🐞
