Repository wireapp/wire-web-packages, pull requests merged in 2022-10, with the labels that each got.

#4417 fix: Improve websocket lifecycle hooks reliability
  packages/core/src/main/Account.ts
Labels: type: bug / fix 🐞

#4420 refactor: cleanup test for api-client
  packages/api-client/.nycrc.json
  packages/api-client/babel.config.js
  packages/api-client/bs-config.js
  packages/api-client/demo/demo.js
  packages/api-client/index.html
  packages/api-client/jasmine.json
  packages/api-client/jest.config.ts
  packages/api-client/karma.conf.ts
  packages/api-client/package.json
  packages/api-client/src/APIClient.test.browser.ts
  packages/api-client/src/APIClient.test.ts
  packages/api-client/src/asset/AssetAPI.test.ts
  packages/api-client/src/asset/AssetUtil.test.ts
  packages/api-client/src/auth/AuthAPI.test.ts
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.test.ts
  packages/api-client/src/http/BackendErrorMapper.test.ts
  packages/api-client/src/http/HttpClient.test.ts
  packages/api-client/src/obfuscation/ObfuscationUtil.test.ts
  packages/api-client/src/shims/node/buffer.test.node.ts
  packages/api-client/src/shims/node/buffer.test.ts
  packages/api-client/src/shims/node/random.test.ts
  packages/api-client/src/tcp/ReconnectingWebsocket.test.ts
  packages/api-client/src/tcp/WebSocketClient.test.ts
  packages/api-client/tsconfig.json
  packages/api-client/webpack.browser.js
  yarn.lock
Labels: type: refactoring 🛠

#4421 fix(react-ui-kit): Address issue with non-standard props passed to DOM elements
  packages/react-ui-kit/src/Form/Checkbox.tsx
  packages/react-ui-kit/src/Form/__snapshots__/Checkbox.test.tsx.snap
  packages/react-ui-kit/src/Text/Link.tsx
Labels: type: bug / fix 🐞

#4419 feat: update emotion
  packages/react-ui-kit/package.json
  packages/react-ui-kit/src/Layout/Theme.tsx
  yarn.lock
Labels: type: feature / request ✨

#4422 chore(api-client): Remove ui-kit from api-client deps
  packages/api-client/package.json
  yarn.lock
Labels: type: chore 🧹

#4424 feat: add prop to checkbox component to remove focus outline offset
  packages/react-ui-kit/src/Form/Checkbox.tsx
Labels: type: feature / request ✨

#4425 refactor: Streamine the message sending API
  packages/bot-api/src/MessageHandler.test.node.ts
  packages/bot-api/src/MessageHandler.ts
  packages/changelog-bot/src/main/ChangelogBot.ts
  packages/cli-client/src/index.ts
  packages/core/package.json
  packages/core/src/demo/composite.ts
  packages/core/src/demo/status-bot.ts
  packages/core/src/main/Account.test.node.ts
  packages/core/src/main/Account.ts
  packages/core/src/main/conversation/ConversationMapper/ConversationMapper.ts
  packages/core/src/main/conversation/ConversationService/ConversationService.test.node.ts
  packages/core/src/main/conversation/ConversationService/ConversationService.ts
  packages/core/src/main/conversation/ConversationService/ConversationService.types.ts
  packages/core/src/main/conversation/ConversationService/messageGenerator.ts
  packages/core/src/main/conversation/message/CompositeContentBuilder.ts
  packages/core/src/main/conversation/message/MessageBuilder.ts
  packages/core/src/main/conversation/message/MessageService.test.node.ts
  packages/core/src/main/conversation/message/MessageService.ts
  packages/core/src/main/conversation/message/MessageToProtoMapper.ts
  packages/core/src/main/conversation/message/TextContentBuilder.ts
  packages/core/src/main/conversation/message/messageSender.ts
  packages/core/src/main/index.ts
  packages/core/src/main/user/UserMapper.ts
  packages/core/src/main/user/UserService.ts
Labels: type: refactoring 🛠

#4427 chore: Archive bots
  package.json
  packages/archive/bot-api/.env.defaults
  packages/archive/bot-api/CHANGELOG.md
  packages/archive/bot-api/jasmine.json
  packages/archive/bot-api/package.json
  packages/archive/bot-api/src/Bot.test.node.ts
  packages/archive/bot-api/src/Bot.ts
  packages/archive/bot-api/src/Interfaces.ts
  packages/archive/bot-api/src/MessageHandler.test.node.ts
  packages/archive/bot-api/src/MessageHandler.ts
  packages/archive/bot-api/src/demo/admin.ts
  packages/archive/bot-api/src/index.ts
  packages/archive/bot-api/tsconfig.json
  packages/archive/bot-handler-avs/CHANGELOG.md
  packages/archive/bot-handler-avs/jasmine.json
  packages/archive/bot-handler-avs/package.json
  packages/archive/bot-handler-avs/src/AVSHandler.ts
  packages/archive/bot-handler-avs/src/Call.ts
  packages/archive/bot-handler-avs/src/index.ts
  packages/archive/bot-handler-avs/tsconfig.json
  packages/archive/bot-handler-debug/CHANGELOG.md
  packages/archive/bot-handler-debug/README.md
  packages/archive/bot-handler-debug/jasmine.json
  packages/archive/bot-handler-debug/package.json
  packages/archive/bot-handler-debug/src/AutoConnectHandler.ts
  packages/archive/bot-handler-debug/src/DebugHandler.ts
  packages/archive/bot-handler-debug/src/index.ts
  packages/archive/bot-handler-debug/tsconfig.json
  packages/archive/bot-handler-uptime/.nycrc.json
  packages/archive/bot-handler-uptime/CHANGELOG.md
  packages/archive/bot-handler-uptime/package.json
  packages/archive/bot-handler-uptime/src/UptimeHandler.test.ts
  packages/archive/bot-handler-uptime/src/UptimeHandler.ts
  packages/archive/bot-handler-uptime/tsconfig.json
  packages/archive/bot-handler-wizard/.nycrc.json
  packages/archive/bot-handler-wizard/CHANGELOG.md
  packages/archive/bot-handler-wizard/README.md
  packages/archive/bot-handler-wizard/jasmine.json
  packages/archive/bot-handler-wizard/package.json
  packages/archive/bot-handler-wizard/src/WizardHandler.ts
  packages/archive/bot-handler-wizard/src/demo/setup.ts
  packages/archive/bot-handler-wizard/tsconfig.json
  packages/archive/changelog-bot/CHANGELOG.md
  packages/archive/changelog-bot/README.md
  packages/archive/changelog-bot/package.json
  packages/archive/changelog-bot/src/main/ChangelogBot.ts
  packages/archive/changelog-bot/src/main/Interfaces.ts
  packages/archive/changelog-bot/src/main/Start.ts
  packages/archive/changelog-bot/src/main/cli.ts
  packages/archive/changelog-bot/tsconfig.json
  yarn.lock
Labels: type: chore 🧹

#4426 refactor: extract lastRead, cleared and DataTransfer message from ConversationService
  packages/core/src/main/conversation/ConversationService/ConversationService.ts
  packages/core/src/main/conversation/message/MessageBuilder.ts
Labels: type: refactoring 🛠

#4428 fix: Avoid unlocking websocket when connection is aborted
  packages/core/src/main/Account.ts
  packages/core/src/main/cryptography/CryptographyService.ts
  packages/core/src/main/cryptography/GenericMessageMapper.ts
  packages/core/src/main/notification/NotificationService.ts
  packages/core/src/main/util/TaskScheduler/TaskScheduler.ts
Labels: type: bug / fix 🐞

#4429 fix: Fine tune websocket connection and add tests
  packages/core/__mocks__/ws.js
  packages/core/package.json
  packages/core/src/main/Account.test.node.ts
  packages/core/src/main/Account.ts
  yarn.lock
Labels: type: bug / fix 🐞

#4430 feat: Gracefully handle mls protocol messages
  packages/core/src/main/mls/MLSService/MLSService.ts
  packages/core/src/main/notification/NotificationService.ts
Labels: type: feature / request ✨

#4431 fix: missing messages message bug for failing api calls
  packages/api-client/src/notification/NotificationAPI/NotificationAPI.ts
  packages/api-client/src/notification/NotificationAPI/NotificationsAPI.mocks.ts
  packages/api-client/src/notification/NotificationAPI/NotificationsAPI.test.ts
  packages/api-client/src/notification/NotificationAPI/index.ts
Labels: type: bug / fix 🐞

#4432 chore: Setup dependabot
  .github/auto-merge.yml
  .github/dependabot.yml
Labels: type: chore 🧹, comp: infrastructure

#4505 chore(core): cleanup Karma from core
  packages/core/package.json
  yarn.lock
Labels: type: chore 🧹

#4506 chore: clear protobuf deps
  packages/core/package.json
  yarn.lock
Labels: type: chore 🧹

#4509 chore: Fix husky upgrade
  .husky/pre-commit
  .huskyrc.js
  package.json
Labels: type: chore 🧹

#4507 feat(core, api-client): Add sender client id to mls message event (FS-1045)
  packages/api-client/src/event/ConversationEvent.ts
  packages/core/src/main/notification/NotificationService.ts
Labels: type: feature / request ✨

#4531 runfix: rename system crypto config
  packages/core/src/main/Account.ts
  packages/core/src/main/mls/types.ts
Labels: type: bug / fix 🐞

#4536 fix: Do not import CoreCrypto twice
  packages/core/src/main/Account.ts
Labels: type: bug / fix 🐞

#4537 chore: Move deps dependencies to root
  package.json
  packages/api-client/package.json
  packages/archive/bot-api/package.json
  packages/archive/bot-handler-avs/package.json
  packages/archive/bot-handler-debug/package.json
  packages/archive/bot-handler-uptime/package.json
  packages/archive/bot-handler-wizard/package.json
  packages/archive/changelog-bot/package.json
  packages/archive/store-engine-bro-fs/CHANGELOG.md
  packages/archive/store-engine-bro-fs/README.md
  packages/archive/store-engine-bro-fs/babel.config.js
  packages/archive/store-engine-bro-fs/jasmine.json
  packages/archive/store-engine-bro-fs/karma.conf.ts
  packages/archive/store-engine-bro-fs/package.json
  packages/archive/store-engine-bro-fs/src/index.test.ts
  packages/archive/store-engine-bro-fs/src/index.ts
  packages/archive/store-engine-bro-fs/tsconfig.json
  packages/archive/store-engine-sqleet/CHANGELOG.md
  packages/archive/store-engine-sqleet/README.md
  packages/archive/store-engine-sqleet/babel.config.js
  packages/archive/store-engine-sqleet/jasmine.json
  packages/archive/store-engine-sqleet/karma.conf.ts
  packages/archive/store-engine-sqleet/package.json
  packages/archive/store-engine-sqleet/src/SQLeetEngine.test.ts
  packages/archive/store-engine-sqleet/src/SQLeetEngine.ts
  packages/archive/store-engine-sqleet/src/SchemaConverter.test.ts
  packages/archive/store-engine-sqleet/src/SchemaConverter.ts
  packages/archive/store-engine-sqleet/src/index.ts
  packages/archive/store-engine-sqleet/tsconfig.json
  packages/archive/store-engine-sqleet/webpack.config.ts
  packages/archive/store-engine-web-storage/CHANGELOG.md
  packages/archive/store-engine-web-storage/README.md
  packages/archive/store-engine-web-storage/babel.config.js
  packages/archive/store-engine-web-storage/jasmine.json
  packages/archive/store-engine-web-storage/karma.conf.ts
  packages/archive/store-engine-web-storage/package.json
  packages/archive/store-engine-web-storage/src/WebStorageEngine.test.ts
  packages/archive/store-engine-web-storage/src/WebStorageEngine.ts
  packages/archive/store-engine-web-storage/src/index.ts
  packages/archive/store-engine-web-storage/tsconfig.json
  packages/bazinga64/package.json
  packages/certificate-check/package.json
  packages/cli-client/package.json
  packages/commons/package.json
  packages/copy-config/package.json
  packages/core/package.json
  packages/license-collector/package.json
  packages/priority-queue/package.json
  packages/promise-queue/package.json
  packages/react-ui-kit/babel.config.js
  packages/react-ui-kit/package.json
  packages/store-engine-dexie/package.json
  packages/store-engine-fs/package.json
  packages/store-engine-sqleet/src/websql-worker.js
  packages/store-engine/package.json
  packages/webapp-events/package.json
  yarn.lock
Labels: type: chore 🧹

#4535 feat: Session creation callbacks
  packages/api-client/src/client/ClientClassification.ts
  packages/core/src/main/Account.ts
  packages/core/src/main/cryptography/CryptographyService.test.node.ts
  packages/core/src/main/cryptography/CryptographyService.ts
Labels: type: feature / request ✨

#4538 feat(api-client, core): add supportsMLS flag to api backend features [FS-1051]
  packages/api-client/src/APIClient.ts
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.test.ts
  packages/core/src/main/Account.ts
  packages/core/src/main/mls/MLSService/MLSService.ts
Labels: type: feature / request ✨

#4540 chore: remove unused dependency istanbul
  packages/api-client/package.json
  yarn.lock
Labels: type: chore 🧹

#4542 chore: dedupe async
  yarn.lock
Labels: type: chore 🧹

#4545 feat: Add fingerprint generation for local and remove clients
  packages/core/src/main/cryptography/CryptographyService.ts
Labels: type: feature / request ✨

#4547 runfix(react-ui-kit): add missing selector to selected option in select component [SQSERVICES-1762]
  packages/react-ui-kit/src/Form/SelectComponents.tsx
Labels: type: bug / fix 🐞

#4548 chore: Simplify changed packages testing
  bin/testUpdated.js
  package.json
Labels: type: chore 🧹, comp: infrastructure

#4557 fix: Revert axios to version 1.1.2
  packages/api-client/package.json
  packages/api-client/src/http/HttpClient.ts
  packages/cli-client/package.json
  packages/copy-config/package.json
  packages/core/package.json
  yarn.lock
Labels: type: bug / fix 🐞

#4549 chore: Remove webpack build from priority-queue and store-engine
  packages/priority-queue/package.json
  packages/priority-queue/src/main/PriorityQueue.test.ts
  packages/priority-queue/src/test/browser/PriorityQueue.test.ts
  packages/priority-queue/src/test/browser/index.js
  packages/priority-queue/webpack.config.js
  packages/store-engine/package.json
  packages/store-engine/webpack.config.js
  yarn.lock
Labels: type: chore 🧹

#4543 feat: provide utils to extract parameters from URL's hash (SQSERVICES-1610)
  packages/commons/src/main/util/UrlUtil.test.ts
  packages/commons/src/main/util/UrlUtil.ts
Labels: type: feature / request ✨

#4559 fix: More resilient id comparison for external proposals
  packages/core/src/main/mls/MLSService/MLSService.ts
  packages/core/src/main/util/TaskScheduler/TaskScheduler.ts
Labels: type: bug / fix 🐞

#4560 fix: font weight on windows pcs (FS-1081)
  packages/react-ui-kit/src/GlobalStyle.tsx
Labels: type: bug / fix 🐞

#4558 chore: remove all karma related setting, update npm modules
  .eslintrc.json
  jest.config.base.js
  package.json
  packages/api-client/babel.config.js
  packages/api-client/package.json
  packages/archive/store-engine-web-storage/tsconfig.json
  packages/commons/package.json
  packages/commons/tsconfig.json
  packages/copy-config/package.json
  packages/core/jest.config.js
  packages/core/package.json
  packages/core/tsconfig.json
  packages/priority-queue/package.json
  packages/priority-queue/tsconfig.json
  packages/promise-queue/babel.config.js
  packages/promise-queue/package.json
  packages/store-engine-dexie/package.json
  packages/store-engine-dexie/tsconfig.json
  packages/store-engine-fs/package.json
  packages/store-engine/package.json
  packages/store-engine/tsconfig.json
  yarn.lock
Labels: type: chore 🧹

#4562 fix: update @wireapp/protocol-messaging & @types/node
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/releases/yarn-3.2.4.cjs
  .yarnrc.yml
  package.json
  packages/api-client/package.json
  packages/archive/bot-api/package.json
  packages/archive/bot-handler-avs/package.json
  packages/archive/bot-handler-debug/package.json
  packages/archive/bot-handler-uptime/package.json
  packages/archive/bot-handler-wizard/package.json
  packages/archive/changelog-bot/package.json
  packages/archive/store-engine-bro-fs/package.json
  packages/archive/store-engine-sqleet/package.json
  packages/archive/store-engine-web-storage/package.json
  packages/bazinga64/package.json
  packages/certificate-check/package.json
  packages/cli-client/package.json
  packages/core/package.json
  packages/priority-queue/package.json
  packages/react-ui-kit/package.json
  packages/store-engine-dexie/package.json
  packages/store-engine-fs/package.json
  packages/store-engine/package.json
  yarn.lock
Labels: type: bug / fix 🐞

#4563 fix: Make sure clientId is set before init cryptobox
  packages/core/src/main/Account.ts
Labels: type: bug / fix 🐞

#4564 refactor: use new theme with secondary button
  packages/react-ui-kit/src/Form/Button.tsx
  packages/react-ui-kit/src/GlobalCssVariables.tsx
  packages/react-ui-kit/src/Layout/Theme.tsx
Labels: type: refactoring 🛠

#4565 fix: build of react-ui-kit with tsc
  packages/react-ui-kit/tsconfig.json
Labels: type: bug / fix 🐞

#4575 fix: Prepare for core-crypto proteus support
  packages/core/package.json
  packages/core/src/Account.ts
  packages/core/src/mls/MLSService/MLSService.ts
  packages/core/src/mls/types.ts
  packages/core/src/notification/NotificationService.ts
  yarn.lock
Labels: type: bug / fix 🐞
