Repository wireapp/wire-web-packages, pull requests merged in 2022-05, with the labels that each got.

#4257 refactor: Cleanup storage initialization
  packages/bot-api/src/Bot.ts
  packages/bot-api/src/MessageHandler.test.node.ts
  packages/changelog-bot/src/main/ChangelogBot.ts
  packages/cli-client/src/index.ts
  packages/core/src/demo/sendCounter.ts
  packages/core/src/demo/sender.ts
  packages/core/src/demo/status-bot.ts
  packages/core/src/main/Account.test.node.ts
  packages/core/src/main/Account.ts
Labels: type: refactoring 🛠

#4258 feat: Allow complete payload to create conversations
  packages/core/src/main/conversation/ConversationService.ts
Labels: type: feature / request ✨

#4259 feat: Add MLS device creation types
  packages/api-client/src/client/ClientAPI.ts
  packages/api-client/src/client/ClientCapabilityData.ts
  packages/api-client/src/client/NewClient.ts
  packages/core/src/main/Account.test.browser.js
  packages/core/src/main/client/ClientBackendRepository.ts
  packages/core/src/main/client/ClientService.ts
Labels: type: feature / request ✨

#4260 feat(api-client): Add MLS clients endpoints
  packages/api-client/src/client/ClientAPI.ts
  packages/core/src/main/client/ClientBackendRepository.ts
  packages/core/src/main/client/ClientService.ts
Labels: type: feature / request ✨

#4261 refactor: Improve client deletion API
  packages/core/src/main/client/ClientBackendRepository.ts
  packages/core/src/main/client/ClientDatabaseRepository.ts
  packages/core/src/main/client/ClientService.ts
Labels: type: refactoring 🛠

#4262 fix: Allow sending targeted lastRead and Countly messages
  packages/core/src/main/conversation/ConversationService.ts
Labels: type: bug / fix 🐞

#4263 feat: Allow consumer to set number of prekeys generated
  packages/core/src/main/Account.ts
  packages/core/src/main/conversation/ConversationService.test.node.ts
  packages/core/src/main/conversation/message/MessageService.test.node.ts
  packages/core/src/main/cryptography/CryptographyService.test.browser.js
  packages/core/src/main/cryptography/CryptographyService.test.node.ts
  packages/core/src/main/cryptography/CryptographyService.ts
Labels: type: feature / request ✨

#4264 fix: Avoid silently creating client when initializing core
  packages/core/src/main/Account.test.browser.js
  packages/core/src/main/Account.ts
  packages/core/src/main/client/ClientService.ts
Labels: type: bug / fix 🐞

#4265 fix(api-client,react-ui-kit): Correct migration to react 18
  packages/api-client/demo/demo.js
  packages/api-client/package.json
  packages/react-ui-kit/package.json
  yarn.lock
Labels: type: bug / fix 🐞

#4270 fix(webapp-events): Add new event for catching deeplinks (SQSERVICES-1415)
  packages/webapp-events/src/index.ts
Labels: type: bug / fix 🐞

#4275 feat: Add missed notifications hook
  packages/api-client/src/notification/NotificationAPI.ts
  packages/core/src/main/Account.ts
  packages/core/src/main/notification/NotificationBackendRepository.ts
  packages/core/src/main/notification/NotificationService.ts
Labels: type: feature / request ✨

#4277 fix: Ensure websocket messages are not handled while handling notification stream
  packages/core/src/main/Account.ts
Labels: type: bug / fix 🐞
