Repository wireapp/wire-web-packages, pull requests merged in 2022-12, with the labels that each got.

#4651 feat: trigger event when a new client is detected
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.types.ts
Labels: type: feature / request ✨

#4648 feat: Refill prekeys when hitting lower threshold
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/PrekeysGenerator/PrekeysGenerator.store.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/PrekeysGenerator/PrekeysGenerator.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/PrekeysGenerator/PrekeysGenerator.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.mocks.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.types.ts
Labels: type: feature / request ✨

#4647 feat: trigger migration from cryptobox to corecrypto [FS-1095]
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
Labels: type: feature / request ✨

#4650 refactor: Remove traces of cryptobox
  packages/core/package.json
  packages/core/src/Account.test.ts
  packages/core/src/Account.ts
  packages/core/src/conversation/message/MessageService.ts
  packages/core/src/conversation/message/RecipientsHelper.ts
  packages/core/src/cryptography/CryptographyService.test.ts
  packages/core/src/cryptography/CryptographyService.ts
  packages/core/src/cryptography/index.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/DecryptionErrorGenerator/DecryptionErrorGenerator.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/DecryptionErrorGenerator/DecryptionErrorGenerator.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/DecryptionErrorGenerator/index.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/PrekeysGenerator/PrekeysGenerator.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/PrekeysGenerator/PrekeysGenerator.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  packages/core/src/messagingProtocols/proteus/Utility/DecryptionErrorGenerator/DecryptionErrorGenerator.test.ts
  packages/core/src/notification/NotificationDatabaseRepository.ts
  packages/core/src/test/CryptographyHelper.ts
  packages/core/src/util/encryptedStore.ts
  yarn.lock
Labels: type: refactoring 🛠

#4682 feat(api-client): api v3 change access_role type definition [FS-1192]
  packages/api-client/src/conversation/Conversation.ts
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/api-client/src/conversation/data/ConversationAccessUpdateData.ts
Labels: type: feature / request ✨

#4693 feat(api-client): api v3 deprecated endpoints [FS-1268]
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/api-client/src/conversation/data/ConversationAccessUpdateData.ts
Labels: type: feature / request ✨

#4708 feat: add enum for TabIndex
  packages/react-ui-kit/src/Form/Select.tsx
  packages/react-ui-kit/src/Form/SelectComponents.tsx
  packages/react-ui-kit/src/Text/Link.tsx
  packages/react-ui-kit/src/types/enums.ts
Labels: type: feature / request ✨

#4706 feat(core): recover mls conversation from quick sync 404 error [FS-1172]
  packages/core/src/Account.ts
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/messagingProtocols/mls/types.ts
  packages/core/src/util/TypePredicateUtil.ts
Labels: type: feature / request ✨

#4721 refactor(core): improve db migration logic
  packages/core/src/Account.ts
Labels: type: refactoring 🛠

#4683 fix: update asset api (FS-1001)
  packages/api-client/src/asset/AssetAPI.ts
Labels: type: bug / fix 🐞

#4723 feat: paginated search endpoint (SQSERVICES-1805)
  packages/api-client/src/team/member/MemberAPI.ts
  packages/api-client/src/team/member/Role.ts
  packages/api-client/src/team/search/TeamSearchOptions.ts
  packages/api-client/src/team/search/TeamSearchResult.ts
  packages/api-client/src/user/UserAPI.ts
Labels: type: feature / request ✨

#4728 fix: Delete identity when device was deleted on backend
  packages/core/src/Account.ts
  packages/core/src/identity/identityClearer.ts
Labels: type: bug / fix 🐞

#4729 fix: Warn consumer when a new client is detected
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
Labels: type: bug / fix 🐞

#4730 fix: Correctly init new mls client
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: bug / fix 🐞

#4735 fix: Improve granularity of coreCrypto decryption error handling
  packages/core/src/messagingProtocols/proteus/ProteusService/DecryptionErrorGenerator/DecryptionErrorGenerator.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/DecryptionErrorGenerator/DecryptionErrorGenerator.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/index.ts
Labels: type: bug / fix 🐞
