Repository wireapp/wire-web-packages, pull requests merged in 2022-11, with the labels that each got.

#4576 refactor: Move keypackages sync to recurring task scheduler
  packages/core/src/Account.ts
  packages/core/src/mls/MLSService/MLSService.ts
  packages/core/src/notification/NotificationService.ts
  packages/core/src/util/LowPrecisionTaskScheduler/LowPrecisionTaskScheduler.ts
  packages/core/src/util/LowPrecisionTaskScheduler/index.ts
  packages/core/src/util/RecurringTaskScheduler/RecurringTaskScheduler.store.ts
  packages/core/src/util/RecurringTaskScheduler/RecurringTaskScheduler.test.ts
  packages/core/src/util/RecurringTaskScheduler/RecurringTaskScheduler.ts
  packages/core/src/util/RecurringTaskScheduler/index.ts
  packages/core/src/util/TaskScheduler/TaskScheduler.ts
  packages/core/src/util/TaskScheduler/index.ts
Labels: type: refactoring 🛠

#4577 refactor: Migrate key material renewal to recurring task scheduler
  packages/core/src/Account.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/mls/MLSService/MLSService.ts
  packages/core/src/mls/MLSService/keyMaterialUpdatesStore/index.ts
  packages/core/src/mls/MLSService/keyMaterialUpdatesStore/keyMaterialUpdatesStore.test.ts
  packages/core/src/mls/MLSService/keyMaterialUpdatesStore/keyMaterialUpdatesStore.ts
  packages/core/src/mls/types.ts
  packages/core/src/notification/NotificationDatabaseRepository.ts
  packages/core/src/notification/NotificationService.ts
  packages/core/src/notification/types.ts
  packages/core/src/util/LowPrecisionTaskScheduler/LowPrecisionTaskScheduler.ts
  packages/core/src/util/RecurringTaskScheduler/RecurringTaskScheduler.ts
Labels: type: refactoring 🛠

#4578 feat: migrate mls event handling logic into MLSService
  packages/core/src/mls/EventHandler/ConversationEvent/ConversationEvent.ts
  packages/core/src/mls/EventHandler/ConversationEvent/index.ts
  packages/core/src/mls/EventHandler/EventHandler.ts
  packages/core/src/mls/EventHandler/EventHandler.types.ts
  packages/core/src/mls/EventHandler/index.ts
  packages/core/src/mls/MLSService/MLSService.ts
  packages/core/src/notification/NotificationService.ts
Labels: type: feature / request ✨

#4601 feat: External commits support
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/mls/MLSService/MLSService.ts
Labels: type: feature / request ✨

#4602 feat: Configure apiVersion from the core
  packages/core/src/Account.ts
Labels: type: feature / request ✨

#4604 feat: update updated packages from PR #4581
  package.json
  yarn.lock
Labels: type: feature / request ✨

#4606 feat: update peer-dependencies of eslint-package
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  yarn.lock
Labels: type: feature / request ✨

#4607 feat: Add mls team group type in conversation types
  packages/api-client/src/conversation/Conversation.ts
Labels: type: feature / request ✨

#4610 feat: extract mthods from ConversationService into ProteusService
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.types.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/WithMockedGenerics.test.ts
Labels: type: feature / request ✨

#4613 fix: streamline DecryptionError
  packages/core/src/cryptography/CryptographyService.ts
  packages/core/src/cryptography/Utlility/generateDecryptionError.ts
  packages/core/src/errors/DecryptionError.ts
  packages/core/src/messagingProtocols/proteus/EventHandler/ConversationEvent/events/otrMessageAdd/otrMessageAdd.ts
  packages/core/src/notification/NotificationService.ts
Labels: type: bug / fix 🐞

#4615 fix: Fix creating new proteus conversations
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.types.ts
Labels: type: bug / fix 🐞

#4616 test: cover createConversation with extra test cases
  packages/core/src/messagingProtocols/proteus/ProteusService/WithMockedGenerics.test.ts
Labels: type: test 👷

#4612 feat: add a user setting for font sizes [ACC-302]
  packages/api-client/src/user/data/UserPropertiesSetData.ts
  packages/webapp-events/src/index.ts
Labels: type: feature / request ✨

#4609 feat: Ability to register an already existing conversation into coreCrypto
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: feature / request ✨

#4614 feat: initialise proteus with core crypto [FS-1096]
  packages/core/package.json
  packages/core/src/Account.ts
  packages/core/src/client/ClientService.ts
  packages/core/src/cryptography/CryptographyService.ts
  yarn.lock
Labels: type: feature / request ✨

#4618 fix: styleguidist rendering
  .eslintrc.json
  .nvmrc
  .yarnrc
  package.json
  packages/license-collector/package.json
  packages/react-ui-kit/.nvmrc
  packages/react-ui-kit/babel.config.js
  packages/react-ui-kit/package.json
  packages/react-ui-kit/styleguide/wrapper.js
  yarn.lock
Labels: type: bug / fix 🐞

#4621 feat: Generate fingerprints from coreCrypto
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
Labels: type: feature / request ✨

#4623 chore: add netlify config file
  packages/react-ui-kit/.nvmrc
  packages/react-ui-kit/netlify.toml
Labels: type: chore 🧹

#4629 fix: Handle case of empty list of users added to a conversation
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: bug / fix 🐞

#4620 feat: paginated member api
  packages/api-client/src/team/member/MemberAPI.ts
  packages/api-client/src/team/member/Members.ts
Labels: type: feature / request ✨

#4637 fix: Address type mismatch for fowarded ref components
  packages/react-ui-kit/src/Form/ShakeBox.tsx
  packages/react-ui-kit/src/Layout/Container.tsx
  packages/react-ui-kit/src/Text/Text.tsx
Labels: type: bug / fix 🐞

#4638 fix: address missing forward ref
  packages/react-ui-kit/src/Layout/Container.tsx
Labels: type: bug / fix 🐞

#4644 feat: Save created session in DB
  packages/core/src/messagingProtocols/proteus/MessageDecryption/MessageDecryption.ts
  packages/core/src/messagingProtocols/proteus/Utility/SessionHandler/SessionHandler.ts
Labels: type: feature / request ✨

#4642 feat: Keep track of generated prekey ids
  packages/core/__mocks__/@wireapp/core-crypto.ts
  packages/core/jest.setup.ts
  packages/core/src/Account.ts
  packages/core/src/client/ClientService.ts
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/stores/keyMaterialUpdatesStore/keyMaterialUpdatesStore.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/stores/pendingProposalsStore/pendingProposalsStore.test.ts
  packages/core/src/messagingProtocols/proteus/EventHandler/ConversationEvent/ConversationEvent.ts
  packages/core/src/messagingProtocols/proteus/EventHandler/EventHandler.ts
  packages/core/src/messagingProtocols/proteus/EventHandler/EventHandler.types.ts
  packages/core/src/messagingProtocols/proteus/EventHandler/events/index.ts
  packages/core/src/messagingProtocols/proteus/EventHandler/events/otrMessageAdd/index.ts
  packages/core/src/messagingProtocols/proteus/EventHandler/events/otrMessageAdd/otrMessageAdd.test.ts
  packages/core/src/messagingProtocols/proteus/EventHandler/events/otrMessageAdd/otrMessageAdd.ts
  packages/core/src/messagingProtocols/proteus/MessageDecryption/MessageDecryption.test.ts
  packages/core/src/messagingProtocols/proteus/MessageDecryption/MessageDecryption.ts
  packages/core/src/messagingProtocols/proteus/MessageDecryption/index.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/PrekeysGenerator/PrekeysGenerator.store.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/PrekeysGenerator/PrekeysGenerator.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/PrekeysGenerator/PrekeysGenerator.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/PrekeysGenerator/index.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.mocks.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.types.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/index.ts
  packages/core/src/storage/CoreDB.ts
  packages/core/src/util/RecurringTaskScheduler/RecurringTaskScheduler.test.ts
Labels: type: feature / request ✨
