Repository wireapp/wire-web-packages, pull requests merged in 2022-08, with the labels that each got.

#4355 fix(api-client): remove a federated user from a group
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
Labels: type: bug / fix 🐞

#4356 feat(api-client): add missing federation error codes
  packages/api-client/src/http/BackendErrorLabel.ts
Labels: type: feature / request ✨

#4354 feat: add a link variant for use in the webapp
  packages/react-ui-kit/src/Form/Checkbox.tsx
  packages/react-ui-kit/src/Form/Input.tsx
  packages/react-ui-kit/src/Form/Select.tsx
  packages/react-ui-kit/src/Form/SelectStyles.tsx
  packages/react-ui-kit/src/Form/__snapshots__/Checkbox.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/ErrorMessage.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/Input.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/Select.test.tsx.snap
  packages/react-ui-kit/src/Text/Link.tsx
  packages/react-ui-kit/src/Text/Text.tsx
  packages/react-ui-kit/src/Text/__snapshots__/Label.test.tsx.snap
  packages/react-ui-kit/src/Text/__snapshots__/Link.test.tsx.snap
  packages/react-ui-kit/src/Text/__snapshots__/Text.test.tsx.snap
  packages/react-ui-kit/src/Text/__snapshots__/TextLink.test.tsx.snap
  packages/react-ui-kit/src/Text/__snapshots__/Title.test.tsx.snap
Labels: type: feature / request ✨

#4357 fix: remove/deprecate binding teams
  packages/api-client/src/http/BackendErrorLabel.ts
  packages/api-client/src/team/team/NewTeamData.ts
  packages/api-client/src/team/team/TeamAPI.ts
  packages/api-client/src/team/team/TeamData.ts
Labels: type: bug / fix 🐞

#4358 feat: move the theme in ui-kit and expose css variables
  packages/react-ui-kit/src/GlobalCssVariables.tsx
  packages/react-ui-kit/src/GlobalStyle.tsx
  packages/react-ui-kit/src/Layout/Theme.tsx
Labels: type: feature / request ✨

#4360 feat: Upgrade @otak/core-crypto from 0.3.0-beta-2 to 0.3.0
  packages/core/package.json
  packages/core/src/main/conversation/ConversationService/ConversationService.ts
  packages/core/src/main/notification/NotificationService.ts
  yarn.lock
Labels: type: feature / request ✨

#4361 refactor: update button style to new theme
  packages/react-ui-kit/src/Form/Button.tsx
  packages/react-ui-kit/src/Form/__snapshots__/Button.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/ButtonLink.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/ErrorMessage.test.tsx.snap
  packages/react-ui-kit/src/GlobalCssVariables.tsx
  packages/react-ui-kit/src/Identity/colors-v2.ts
  packages/react-ui-kit/src/Layout/Theme.tsx
  packages/react-ui-kit/src/Layout/headerMenu/MenuSubLink.tsx
  packages/react-ui-kit/src/Modal/Modal.tsx
  packages/react-ui-kit/src/Text/Link.tsx
  packages/react-ui-kit/src/Text/__snapshots__/Label.test.tsx.snap
  packages/react-ui-kit/src/Text/__snapshots__/Link.test.tsx.snap
  packages/react-ui-kit/src/Text/__snapshots__/TextLink.test.tsx.snap
Labels: type: refactoring 🛠

#4363 runfix: tweak links and button component
  packages/react-ui-kit/src/Form/Button.tsx
  packages/react-ui-kit/src/GlobalStyle.tsx
  packages/react-ui-kit/src/Text/Link.tsx
Labels: type: bug / fix 🐞

#4365 runfix: correct color for select description
  packages/react-ui-kit/src/Form/SelectComponents.tsx
  packages/react-ui-kit/src/GlobalCssVariables.tsx
  packages/react-ui-kit/src/Layout/Theme.tsx
Labels: type: bug / fix 🐞

#4367 fix: remove user from proteus conversation
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/core/src/main/conversation/ConversationService/ConversationService.ts
Labels: type: bug / fix 🐞

#4366 feat: remove user from MLS conversation (#FS-561)
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/bot-api/src/MessageHandler.ts
  packages/core/src/main/conversation/ConversationService/ConversationService.ts
  packages/core/src/main/conversation/ConversationService/ConversationService.types.ts
  packages/core/src/main/util/mapQualifiedUserClientIdsToFullyQualifiedClientIds.test.node.ts
  packages/core/src/main/util/mapQualifiedUserClientIdsToFullyQualifiedClientIds.ts
Labels: type: feature / request ✨

#4370 runfix: remove deprecated/removed endpoints calls (connections)
  packages/api-client/src/APIClient.ts
  packages/api-client/src/connection/ConnectionAPI.ts
  packages/api-client/src/connection/UserConnectionList.ts
  packages/api-client/src/connection/index.ts
  packages/bot-api/src/MessageHandler.test.node.ts
  packages/bot-api/src/MessageHandler.ts
  packages/bot-handler-debug/src/AutoConnectHandler.ts
  packages/core/src/main/Account.ts
  packages/core/src/main/connection/ConnectionService.ts
  packages/core/src/main/user/UserService.ts
Labels: type: bug / fix 🐞

#4373 runfix(core): messages not being received on proteus
  packages/core/src/main/notification/NotificationService.ts
Labels: type: bug / fix 🐞
