Repository wireapp/wire-web-packages, pull requests merged in 2023-12, with the labels that each got.

#5801 chore: fix ci
  packages/core/jest.setup.ts
Labels: type: chore 🧹

#5800 runfix: always use subconversation epoch number
  packages/core/src/conversation/SubconversationService/SubconversationService.test.ts
  packages/core/src/conversation/SubconversationService/SubconversationService.ts
Labels: type: bug / fix 🐞

#5799 fix: use local settings and team settings for e2ei
  packages/core/src/Account.ts
Labels: type: bug / fix 🐞

#5814 fix: Add MLS basic devices to the return value of user identities
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.test.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.ts
  packages/core/src/util/fullyQualifiedClientIdUtils.ts
Labels: type: bug / fix 🐞

#5815 feat: replace refreshActiveCertificate with hasActiveCertificate and initialise MLSService with e2eServiceExternal
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceInternal.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: feature / request ✨
