Repository wireapp/wire-web-packages, pull requests merged in 2023-03, with the labels that each got.

#4927 refactor: Sunset non-domain-aware message sending
  packages/api-client/src/APIClient.ts
  packages/api-client/src/broadcast/BroadcastAPI.ts
  packages/api-client/src/connection/ConnectionAPI.ts
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.test.ts
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/api-client/src/demo/http401.ts
  packages/api-client/src/user/UserAPI.ts
  packages/api-client/src/user/UserPreKeyBundleMap.ts
  packages/core/src/Account.ts
  packages/core/src/broadcast/BroadcastService.ts
  packages/core/src/client/ClientDatabaseRepository.ts
  packages/core/src/client/ClientService.ts
  packages/core/src/connection/ConnectionService.ts
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/conversation/ConversationService/ConversationService.types.ts
  packages/core/src/conversation/ConversationService/Utility/getConversationQualifiedMembers.ts
  packages/core/src/conversation/message/MessageService.test.ts
  packages/core/src/conversation/message/MessageService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.mocks.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.types.ts
  packages/core/src/messagingProtocols/proteus/Utility/Recipients.ts
  packages/core/src/messagingProtocols/proteus/Utility/SessionHandler/SessionHandler.test.ts
  packages/core/src/messagingProtocols/proteus/Utility/SessionHandler/SessionHandler.ts
  packages/core/src/messagingProtocols/proteus/Utility/getGenericMessageParams.ts
  packages/core/src/user/UserService.ts
Labels: type: refactoring 🛠

#4928 fix: Enable CoreCrypto if user has already started using it
  packages/core/src/Account.ts
Labels: type: bug / fix 🐞

#4929 fix: Avoid crashing when a mismatch happens on a domain we are not aware of
  packages/core/src/conversation/message/MessageService.test.ts
  packages/core/src/conversation/message/MessageService.ts
Labels: type: bug / fix 🐞

#4931 feat: Warn consumer that some prekeys could not be fetch when encrypting a message
  packages/api-client/src/user/UserAPI.ts
  packages/core/src/broadcast/BroadcastService.ts
  packages/core/src/conversation/message/MessageService.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  packages/core/src/messagingProtocols/proteus/Utility/PreKeyBundle/PreKeyBundle.ts
  packages/core/src/messagingProtocols/proteus/Utility/SessionHandler/SessionHandler.test.ts
  packages/core/src/messagingProtocols/proteus/Utility/SessionHandler/SessionHandler.ts
Labels: type: feature / request ✨

#4932 fix: Do not consume prekeys when listing members-clients of a conversation
  packages/core/src/broadcast/BroadcastService.ts
  packages/core/src/conversation/message/MessageService.ts
  packages/core/src/conversation/message/UserClientsUtil.ts
  packages/core/src/conversation/message/UserClientsUtils.test.ts
  packages/core/src/messagingProtocols/proteus/Utility/PreKeyBundle/PreKeyBundle.test.ts
  packages/core/src/messagingProtocols/proteus/Utility/PreKeyBundle/PreKeyBundle.ts
  packages/core/src/messagingProtocols/proteus/Utility/PreKeyBundle/index.ts
  packages/core/src/messagingProtocols/proteus/Utility/Recipients.ts
  packages/core/src/messagingProtocols/proteus/Utility/SessionHandler/SessionHandler.ts
Labels: type: bug / fix 🐞

#4933 refactor: Remove traces of deprecated ClientMismatch
  packages/api-client/src/conversation/ClientMismatch.ts
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/api-client/src/conversation/index.ts
  packages/core/src/broadcast/BroadcastService.ts
  packages/core/src/conversation/ConversationService/ConversationService.types.ts
  packages/core/src/conversation/message/MessageService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.types.ts
  packages/core/src/messagingProtocols/proteus/Utility/isClearFromMismatch.ts
Labels: type: refactoring 🛠

#4944 feat: More flexible useVersion api
  packages/api-client/src/APIClient.test.ts
  packages/api-client/src/APIClient.ts
  packages/core/src/Account.ts
Labels: type: bug / fix 🐞

#4930 feat: improve typing for color packages
  packages/react-ui-kit/src/Identity/colors-v2.ts
  packages/react-ui-kit/src/Identity/colors.ts
Labels: type: feature / request ✨

#4945 refactor(core): subconversation group id store
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/messagingProtocols/mls/MLSService/stores/subconversationGroupIdStore/subconversationGroupIdStore.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/stores/subconversationGroupIdStore/subconversationGroupIdStore.ts
Labels: type: refactoring 🛠

#4949 feat: Forward users for which message could not be encrypted to sender
  packages/core/package.json
  packages/core/src/conversation/ConversationService/ConversationService.types.ts
  packages/core/src/conversation/message/MessageService.test.ts
  packages/core/src/conversation/message/MessageService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  packages/core/src/messagingProtocols/proteus/Utility/SessionHandler/SessionHandler.ts
  yarn.lock
Labels: type: feature / request ✨

#4966 refactor(core): add users to mls conv
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/conversation/ConversationService/ConversationService.types.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
Labels: type: refactoring 🛠

#4968 fix: Do not try to fetch clients when no users are given
  packages/core/src/messagingProtocols/proteus/Utility/Recipients.ts
Labels: type: bug / fix 🐞

#4969 refactor: Make recipients fetching code easier to read
  packages/core/src/messagingProtocols/proteus/Utility/Recipients.ts
Labels: type: refactoring 🛠

#4946 feat: oauth api
  packages/api-client/src/APIClient.ts
  packages/api-client/src/oauth/OAuthAPI.ts
  packages/api-client/src/oauth/OAuthApplication.ts
  packages/api-client/src/oauth/OAuthBody.ts
  packages/api-client/src/oauth/OAuthClient.ts
Labels: type: feature / request ✨

#4967 fix: Improve prekeys tracking between client and backend
  packages/api-client/src/client/ClientAPI.ts
  packages/core/package.json
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper/CoreCryptoWrapper.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper/PrekeysTracker/PrekeysTracker.store.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper/PrekeysTracker/PrekeysTracker.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper/PrekeysTracker/PrekeysTracker.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CryptoClient.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CryptoClient.types.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CryptoboxWrapper.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.mocks.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  yarn.lock
Labels: type: bug / fix 🐞, do not merge

#4973 feat: update reaction type
  packages/core/src/conversation/ReactionType.ts
Labels: type: feature / request ✨

#4972 fix(core): wait until corecrypto is ready to call .wipe method [FS-1562]
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper/CoreCryptoWrapper.ts
Labels: type: bug / fix 🐞

#4992 fix: Make sure current client is not duplicated in database
  packages/core/src/Account.ts
  packages/core/src/client/ClientService.ts
Labels: type: bug / fix 🐞

#4994 feat: allow partial user listing for federated backends
  packages/api-client/src/user/UserAPI.ts
  packages/core/src/user/UserService.ts
  packages/core/src/util/TypePredicateUtil.ts
Labels: type: feature / request ✨

#4995 feat(core): allow retrying to send asset metadatas on an existing message
  packages/core/src/conversation/message/MessageBuilder.ts
Labels: type: feature / request ✨

#5011 refactor: Sync user endpoint with backend types
  packages/api-client/src/user/UserAPI.ts
Labels: type: refactoring 🛠

#5012 feat(react-ui-kit): Implement new tooltip
  packages/react-ui-kit/package.json
  packages/react-ui-kit/src/Form/Form.md
  packages/react-ui-kit/src/Form/Tooltip.md
  packages/react-ui-kit/src/Form/Tooltip.test.tsx
  packages/react-ui-kit/src/Form/Tooltip.tsx
  packages/react-ui-kit/src/Form/__snapshots__/Tooltip.test.tsx.snap
  packages/react-ui-kit/src/Theme/Theme.tsx
  yarn.lock
Labels: type: feature / request ✨

#5013 feat: Return domain when api version is initialised
  packages/api-client/src/APIClient.ts
Labels: type: feature / request ✨

#5014 chore: update core-crypto
  .nvmrc
  packages/core/package.json
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper/CoreCryptoWrapper.ts
  yarn.lock
Labels: type: chore 🧹
