Repository wireapp/wire-web-packages, pull requests merged in 2023-08, with the labels that each got.

#5356 fix: more flexible dexie version
  packages/store-engine-dexie/package.json
  yarn.lock
Labels: type: chore 🧹

#5357 refactor: rename failed_to_send to failed_to_confirm_clients (WPB-3393)
  packages/api-client/src/conversation/MessageSendingStatus.ts
  packages/core/src/conversation/message/MessageService.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
Labels: type: refactoring 🛠

#5368 fix(eslint-config): make eslint plugins direct dependencies
  packages/eslint-config/package.json
  yarn.lock
Labels: type: bug / fix 🐞

#5376 feat: bump core crypto to version 1.0.0-rc.6
  packages/core/package.json
  yarn.lock
Labels: type: feature / request ✨

#5392 fix: change data shape of federation events (WPB-203)
  packages/api-client/src/event/FederationEvent.ts
Labels: type: bug / fix 🐞

#5394 refactor: Generic federated backend error class
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/api-client/src/conversation/ConversationError.ts
  packages/api-client/src/conversation/FederatedBackendError.ts
  packages/api-client/src/conversation/index.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
Labels: type: refactoring 🛠

#5395 fix: Handle unreachable backends when creating new conversations (WPB-3272)
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/api-client/src/conversation/FederatedBackendsError.ts
  packages/api-client/src/conversation/index.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
Labels: type: bug / fix 🐞

#5396 feat: Handle adding users that are on an unreachable backend
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/api-client/src/conversation/FederatedBackendsError.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/userDomainFilters.ts
Labels: type: feature / request ✨

#5393 feat(core): establish mls 1to1
  packages/api-client/src/conversation/Conversation.ts
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
Labels: type: feature / request ✨

#5410 runfix(promise-queue): correct return type for interval
  packages/promise-queue/src/PromiseQueue.ts
Labels: type: bug / fix 🐞

#5398 refactor: harmonize failedToAdd response in conversation creation and user addition
  packages/api-client/src/conversation/Conversation.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/conversation/ConversationService/ConversationService.types.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/WithMockedGenerics.test.ts
  packages/core/src/testUtils/index.ts
Labels: type: refactoring 🛠

#5411 fix: Improve type imports
  packages/core/src/conversation/ConversationService/ConversationService.types.ts
Labels: type: bug / fix 🐞

#5409 refactor: handle decryption backend events
  packages/core/src/Account.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/EventHandler/EventHandler.ts
  packages/core/src/messagingProtocols/mls/EventHandler/EventHandler.types.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/messageAdd.test.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/messageAdd.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/welcomeMessage/welcomeMessage.test.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/welcomeMessage/welcomeMessage.ts
  packages/core/src/messagingProtocols/mls/EventHandler/index.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/messagingProtocols/proteus/EventHandler/EventHandler.ts
  packages/core/src/messagingProtocols/proteus/EventHandler/EventHandler.types.ts
  packages/core/src/messagingProtocols/proteus/EventHandler/events/otrMessageAdd/otrMessageAdd.test.ts
  packages/core/src/messagingProtocols/proteus/EventHandler/events/otrMessageAdd/otrMessageAdd.ts
  packages/core/src/messagingProtocols/proteus/EventHandler/index.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  packages/core/src/notification/NotificationService.test.ts
  packages/core/src/notification/NotificationService.ts
Labels: type: refactoring 🛠

#5413 runfix: decryption error generator
  packages/core/src/messagingProtocols/proteus/ProteusService/DecryptionErrorGenerator/DecryptionErrorGenerator.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/DecryptionErrorGenerator/DecryptionErrorGenerator.ts
Labels: type: bug / fix 🐞

#5414 feat: stop leaking the MLS service to the outside world
  packages/core/src/Account.ts
Labels: type: feature / request ✨

#5416 fix: Finalize backend api v4
  packages/api-client/src/APIClient.ts
Labels: type: bug / fix 🐞

#5412 feat: mls decrypt error recovery [WPB-523]
  packages/core/src/Account.ts
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/MLSService/CoreCryptoMLSErrors.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/messagingProtocols/mls/types.ts
  packages/core/src/util/TypePredicateUtil.ts
Labels: type: feature / request ✨

#5417 fix: re-enable mls on api v4
  packages/api-client/src/APIClient.ts
Labels: type: bug / fix 🐞

#5418 runfix(core): handling epoch mismatch for unestablished groups
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
Labels: type: bug / fix 🐞

#5443 refactor(api-client): improve axios types
  packages/api-client/src/http/HttpClient.ts
Labels: type: refactoring 🛠

#5445 feat: gzip json requests
  packages/api-client/package.json
  packages/api-client/src/http/HttpClient.ts
  yarn.lock
Labels: type: feature / request ✨

#5446 feat: specify default ciphersuite
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.types.ts
  packages/core/src/messagingProtocols/mls/types.ts
Labels: type: feature / request ✨
