Repository wireapp/wire-web-packages, pull requests merged in 2023-09, with the labels that each got.

#5463 refactor: mls conversation exists
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: refactoring 🛠

#5449 runfix: check if 1:1 is already established before registering it
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
Labels: type: bug / fix 🐞

#5464 runfix: do not use number of prekeys for number of mls key packages
  packages/core/src/Account.ts
Labels: type: bug / fix 🐞

#5466 fix: Finalize backend api v4
  packages/api-client/src/APIClient.ts
Labels: type: bug / fix 🐞

#5467 feat: make /self and /receipt-mode endpoint federation ready
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
Labels: type: feature / request ✨

#5489 feat: Gracefully error when adding users with offline backend
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
Labels: type: feature / request ✨

#5491 feat: add toBase64Url to Encoder
  packages/bazinga64/src/Encoder.test.ts
  packages/bazinga64/src/Encoder.ts
Labels: type: feature / request ✨

#5492 feat: add description and hexStringToArrayBufferView converter
  packages/bazinga64/README.md
  packages/bazinga64/src/Converter.test.ts
  packages/bazinga64/src/Converter.ts
  packages/core/package.json
  yarn.lock
Labels: type: feature / request ✨

#5493 feat: bump corecrypto to latest version
  packages/core/package.json
  yarn.lock
Labels: type: feature / request ✨

#5494 fix: Add the qualified conversation ID to last read messages
  packages/core/src/conversation/message/MessageBuilder.ts
Labels: type: bug / fix 🐞

#5495 runfix: upload kp after upgrade to mls device
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: bug / fix 🐞

#5516 runfix(api-client): mls_public_keys field required
  packages/api-client/src/client/RegisteredClient.ts
Labels: type: bug / fix 🐞

#5517 feat: refill check on welcome message [WPB-4773]
  packages/core/src/Account.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: feature / request ✨

#5519 refactor(api-client): infer feature update event data object from feature key
  packages/api-client/src/event/TeamEvent.ts
  packages/api-client/src/team/data/TeamFeatureConfigurationUpdateEventData.ts
Labels: type: refactoring 🛠

#5520 feat: lock websocket when uploading a commit bundle to backend
  packages/api-client/src/APIClient.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: feature / request ✨

#5542 runfix: ignore some corecrypto decryption errors
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/MLSService/CoreCryptoMLSError.ts
  packages/core/src/messagingProtocols/mls/MLSService/CoreCryptoMLSErrors.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: bug / fix 🐞

#5549 runfix(api-client): remove data field from team event base type
  packages/api-client/src/event/TeamEvent.ts
Labels: type: bug / fix 🐞

#5497 feat: recover from mls stale message error
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/conversation/ConversationService/ConversationService.types.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/messageAdd.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.types.ts
Labels: type: feature / request ✨
