Repository wireapp/wire-web-packages, pull requests merged in 2023-10, with the labels that each got.

#5573 runfix: store pending proposals in core store
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/messagingProtocols/mls/MLSService/stores/pendingProposalsStore/index.ts
  packages/core/src/messagingProtocols/mls/MLSService/stores/pendingProposalsStore/pendingProposalsStore.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/stores/pendingProposalsStore/pendingProposalsStore.ts
  packages/core/src/storage/CoreDB.ts
Labels: type: bug / fix 🐞

#5575 runfix: recurring task scheduler not resumed after reload
  packages/core/src/util/LowPrecisionTaskScheduler/LowPrecisionTaskScheduler.ts
  packages/core/src/util/RecurringTaskScheduler/RecurringTaskScheduler.test.ts
  packages/core/src/util/RecurringTaskScheduler/RecurringTaskScheduler.ts
Labels: type: bug / fix 🐞

#5576 runfix: recurring task scheduler with indexeddb store
  packages/core/src/Account.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/welcomeMessage/welcomeMessage.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/storage/CoreDB.ts
  packages/core/src/testUtils/index.ts
  packages/core/src/util/LowPrecisionTaskScheduler/LowPrecisionTaskScheduler.test.ts
  packages/core/src/util/RecurringTaskScheduler/RecurringTaskScheduler.test.ts
  packages/core/src/util/RecurringTaskScheduler/RecurringTaskScheduler.ts
  packages/core/src/util/TaskScheduler/TaskScheduler.ts
Labels: type: bug / fix 🐞

#5577 refactor: use unknown for recurring task return type
  packages/core/src/util/RecurringTaskScheduler/RecurringTaskScheduler.ts
Labels: type: refactoring 🛠

#5578 feat: try establishing mls group for mixed conversation
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/MLSService/CoreCryptoMLSError.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: feature / request ✨

#5591 fix(commons): Fix email regexp
  packages/commons/src/LogFactory.test.ts
  packages/commons/src/util/ArrayUtil.test.ts
  packages/commons/src/util/DateUtil.test.ts
  packages/commons/src/util/RandomUtil.test.ts
  packages/commons/src/util/StringUtil.test.ts
  packages/commons/src/util/ValidationUtil.test.ts
  packages/commons/src/util/ValidationUtil.ts
Labels: type: bug / fix 🐞

#5602 runfix: cancel pending proposals task on group wipe
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: bug / fix 🐞

#5603 feat: add new value to client in database
  packages/core/src/client/ClientDatabaseRepository.ts
  packages/core/src/client/ClientService.ts
Labels: type: feature / request ✨

#5627 feat: export needed e2ei types
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIService.types.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/index.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/messagingProtocols/mls/index.ts
  packages/core/src/messagingProtocols/mls/types.ts
Labels: type: feature / request ✨

#5632 refactor(api-client): get conversations
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/api-client/src/conversation/Conversations.ts
  packages/api-client/src/conversation/index.ts
  packages/api-client/src/demo/http401.ts
Labels: type: refactoring 🛠

#5633 feat: add ability to blacklist conversations
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.test.ts
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/core/src/Account.ts
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/storage/CoreDB.ts
Labels: type: feature / request ✨

#5637 feat: ignore events from a blacklisted conversation
  packages/core/src/Account.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/notification/NotificationService.ts
Labels: type: feature / request ✨

#5639 feat: remove conversation from blacklist
  packages/core/src/conversation/ConversationService/ConversationService.ts
Labels: type: feature / request ✨

#5662 feat: check if removal key is available on backend
  packages/api-client/src/APIClient.ts
  packages/core/src/Account.ts
Labels: type: feature / request ✨

#5665 feat: bump core-crypto
  packages/core/package.json
  yarn.lock
Labels: type: feature / request ✨

#5664 refactor: move subconversations logic to separate service
  packages/core/src/Account.ts
  packages/core/src/conversation/SubconversationService/SubconversationService.test.ts
  packages/core/src/conversation/SubconversationService/SubconversationService.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: refactoring 🛠

#5676 refactor: core callbacks and subconversations store
  packages/core/__mocks__/@wireapp/core-crypto.ts
  packages/core/src/Account.ts
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/conversation/SubconversationService/SubconversationService.test.ts
  packages/core/src/conversation/SubconversationService/SubconversationService.ts
  packages/core/src/conversation/SubconversationService/subconversationUtil.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/messageAdd.test.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/messageAdd.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/messagingProtocols/mls/MLSService/stores/subconversationGroupIdStore/subconversationGroupIdStore.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/stores/subconversationGroupIdStore/subconversationGroupIdStore.ts
  packages/core/src/messagingProtocols/mls/types.ts
  packages/core/src/storage/CoreDB.ts
Labels: type: refactoring 🛠
