Repository wireapp/wire-web-packages, pull requests merged in 2023-04, with the labels that each got.

#5033 fix: Align failed_to_send signature with backend
  packages/api-client/src/conversation/MessageSendingStatus.ts
Labels: type: bug / fix 🐞

#5015 feat: mls E2Eid config
  packages/api-client/src/team/feature/Feature.ts
  packages/api-client/src/team/feature/FeatureAPI.ts
  packages/api-client/src/team/feature/FeatureList.ts
Labels: type: feature / request ✨

#5034 feat: add verification shield icon
  packages/react-ui-kit/src/Icon/SVGIcon.md
  packages/react-ui-kit/src/Icon/VerificationShieldIcon.tsx
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨

#5036 fix: make PromiseQueue node compatible
  packages/promise-queue/src/PromiseQueue.ts
Labels: type: bug / fix 🐞

#5035 fix: make cli-client compatible with latest core
  packages/cli-client/overrides/core-crypto/index.js
  packages/cli-client/overrides/core-crypto/package.json
  packages/cli-client/package.json
  packages/cli-client/src/index.ts
  yarn.lock
Labels: type: bug / fix 🐞

#5048 fix: Improve detection of valid prekey responses
  packages/api-client/src/self/Self.ts
  packages/api-client/src/user/User.ts
  packages/api-client/src/user/UserAPI.ts
Labels: type: bug / fix 🐞

#5051 fix: ensure fetching users is backward compatible [FS-1784]
  packages/api-client/src/user/UserAPI.ts
Labels: type: bug / fix 🐞

#5087 feat: Update getConversationJoin result data (SQSERVICES-1975)
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/api-client/src/conversation/data/ConversationJoinData.ts
Labels: type: feature / request ✨

#5089 chore: Retire cli-client
  packages/archive/cli-client/CHANGELOG.md
  packages/archive/cli-client/README.md
  packages/archive/cli-client/overrides/core-crypto/index.js
  packages/archive/cli-client/overrides/core-crypto/package.json
  packages/archive/cli-client/package.json
  packages/archive/cli-client/src/index.ts
  packages/archive/cli-client/tsconfig.json
  yarn.lock
Labels: type: chore 🧹

#5094 refactor: Add missing backend errors
  packages/api-client/src/http/BackendErrorLabel.ts
Labels: type: refactoring 🛠

#5095 fix: Add missing lerna packages
  package.json
  yarn.lock
Labels: type: bug / fix 🐞

#5096 feat(api-client): Add invalid conversation password error to BackendError (SQSERVICES-1975)
  packages/api-client/src/http/BackendErrorLabel.ts
Labels: type: feature / request ✨
