Repository wireapp/wire-web-packages, pull requests merged in 2023-02, with the labels that each got.

#4836 refactor: simplify remove clients from mls convo api
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/util/fullyQualifiedClientIdUtils.test.ts
  packages/core/src/util/fullyQualifiedClientIdUtils.ts
Labels: type: refactoring 🛠

#4842 refactor: Cleanup session unit tests to prepare for partial message sending
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.mocks.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  packages/core/src/messagingProtocols/proteus/Utility/SessionHandler/SessionHandler.test.ts
  packages/core/src/messagingProtocols/proteus/Utility/SessionHandler/SessionHandler.ts
Labels: type: refactoring 🛠

#4844 feat(core): Return federated users that could not receive a message
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/conversation/ConversationService/ConversationService.types.ts
  packages/core/src/conversation/message/Message.types.ts
  packages/core/src/conversation/message/MessageService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/WithMockedGenerics.test.ts
Labels: type: feature / request ✨

#4853 runfix(core): reduce number of api calls to subconversation endpoint
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: bug / fix 🐞

#4854 feat: expose material key renewal api
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: feature / request ✨

#4864 fix: Improve MLS backend response types
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/api-client/src/conversation/data/MlsEventData.ts
  packages/core/src/conversation/ConversationService/ConversationService.types.ts
Labels: type: bug / fix 🐞

#4865 feat: Use latest coreCrypto decryption error handling
  packages/core/package.json
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/DecryptionErrorGenerator/DecryptionErrorGenerator.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/DecryptionErrorGenerator/DecryptionErrorGenerator.ts
  yarn.lock
Labels: type: feature / request ✨

#4866 fix: Await incoming event handler
  packages/core/src/Account.ts
Labels: type: bug / fix 🐞

#4867 refactor(core): remove unused deprecated method and improve fetchAll api
  packages/core/src/Account.ts
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
Labels: type: refactoring 🛠

#4884 feat: update @wireapp/core-crypto to latest version with ACME support [FS-748]
  packages/core/package.json
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  yarn.lock
Labels: type: feature / request ✨

#4887 fix: Make sure cryptobox and coreCrypto identity are deleted when needed
  packages/core/src/Account.ts
  packages/core/src/client/ClientService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/identityClearer.ts
Labels: type: bug / fix 🐞

#4889 feat(core): access last resort prekey and its id from corecrypto [FS-1542]
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CryptoClient.types.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CryptoboxWrapper.ts
Labels: type: feature / request ✨

#4885 fix: Improve secretKey generator to handle multiple system crypto
  .github/workflows/test_build_release.yml
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/mls/types.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper/CoreCryptoWrapper.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper/PrekeysTracker/PrekeysTracker.store.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper/PrekeysTracker/PrekeysTracker.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper/PrekeysTracker/PrekeysTracker.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper/PrekeysTracker/index.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper/encryptedStore.test.node.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper/encryptedStore.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper/index.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper/secretKeyGenerator.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper/secretKeyGenerator.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CryptoClient.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.mocks.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
Labels: type: bug / fix 🐞, comp: infrastructure

#4886 fix: Trigger reconnect method on ping pong failure (SQSERVICES-1896)
  packages/api-client/src/tcp/ReconnectingWebsocket.ts
Labels: type: bug / fix 🐞

#4834 feat: user leaves mls conference call [FS-1288]
  packages/core/package.json
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  yarn.lock
Labels: type: feature / request ✨

#4911 refactor: Remove duplicated session creation logic
  packages/core/src/conversation/message/MessageService.ts
Labels: type: refactoring 🛠

#4909 feat: add generic request for backend calls
  packages/api-client/src/APIClient.ts
  packages/api-client/src/generic/GenericAPI.ts
  packages/api-client/src/generic/index.ts
Labels: type: feature / request ✨

#4913 refactor: factorize session creation logic
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  packages/core/src/messagingProtocols/proteus/Utility/SessionHandler/SessionHandler.ts
Labels: type: refactoring 🛠
