Repository wireapp/wire-web-packages, pull requests merged in 2023-07, with the labels that each got.

#5286 fix(api-client,core): Handle failure to fetch keypackages (WPB-1913)
  packages/api-client/src/client/ClientAPI.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: bug / fix 🐞

#5306 feat(api-client, core): parse client last active field [WPB-2186]
  packages/api-client/src/client/RegisteredClient.ts
  packages/core/src/client/ClientService.ts
Labels: type: feature / request ✨

#5336 feat(api-client): 1to1 mls conversations
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/api-client/src/user/UserAPI.ts
Labels: type: feature / request ✨

#5337 feat: update CC
  packages/core/package.json
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  yarn.lock
Labels: type: feature / request ✨

#5338 refactor: method to register empty mls conversation
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: refactoring 🛠

#5339 runfix: properly await mls conversation creation
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: bug / fix 🐞
