Repository wireapp/wire-web-packages, pull requests merged in 2023-06, with the labels that each got.

#5188 feat: add persistance option to TaskScheduler
  packages/core/src/util/TaskScheduler/TaskScheduler.store.ts
  packages/core/src/util/TaskScheduler/TaskScheduler.ts
Labels: type: feature / request ✨

#5190 fix(ci): set environment globally to prevent command injection from potentially untrusted input
  .github/workflows/test_build_release.yml
Labels: type: bug / fix 🐞, comp: infrastructure

#5189 runfix: improve periodic keymaterial update logic
  packages/core/src/Account.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/welcomeMessage/welcomeMessage.test.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/welcomeMessage/welcomeMessage.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/messagingProtocols/mls/MLSService/stores/keyMaterialUpdatesStore/index.ts
  packages/core/src/messagingProtocols/mls/MLSService/stores/keyMaterialUpdatesStore/keyMaterialUpdatesStore.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/stores/keyMaterialUpdatesStore/keyMaterialUpdatesStore.ts
Labels: type: bug / fix 🐞

#5206 fix: pass tokenAsParam = false to set the access token using Authorisation header
  packages/api-client/src/asset/AssetAPI.test.ts
  packages/api-client/src/asset/AssetAPI.ts
Labels: type: bug / fix 🐞

#5208 runfix: update core-crypto
  packages/core/__mocks__/@wireapp/core-crypto.ts
  packages/core/package.json
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper/CoreCryptoWrapper.ts
  yarn.lock
Labels: type: bug / fix 🐞

#5209 runfix: remove creator_client field from conversation creation payload
  packages/api-client/src/conversation/NewConversation.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
Labels: type: bug / fix 🐞

#5238 runfix: constant version tag, configurable preid
  .github/workflows/release_beta_package.yml
  package.json
Labels: type: bug / fix 🐞, comp: infrastructure

#5239 runfix: remove canceling tasks
  .github/workflows/release_beta_package.yml
Labels: type: bug / fix 🐞, comp: infrastructure

#5240 runfix: manual task cancelled when last commit was publishing a package
  .github/workflows/release_beta_package.yml
Labels: type: bug / fix 🐞, comp: infrastructure

#5241 runfix: include argument in version script
  package.json
Labels: type: bug / fix 🐞

#5235 fix: [Web] Reactions: Keyboard navigation - Focus state of reaction pill does not show tooltip box
  packages/react-ui-kit/src/Form/Tooltip.tsx
  packages/react-ui-kit/src/Form/__snapshots__/Tooltip.test.tsx.snap
Labels: type: bug / fix 🐞

#5253 runfix: upload commit bundle throws error
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: bug / fix 🐞

#5255 runfix: skip changelog update when releasing beta version of package
  package.json
Labels: type: bug / fix 🐞

#5272 runfix: upload commit bundle
  package.json
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  yarn.lock
Labels: type: bug / fix 🐞

#5256 feat: supported protocols
  packages/api-client/src/self/SelfAPI.ts
  packages/api-client/src/user/User.ts
Labels: type: feature / request ✨

#5273 refactor: remove explicit return type
  packages/api-client/src/self/SelfAPI.ts
Labels: type: refactoring 🛠

#5274 feat(api-client): add supportedProtocols to mls feature config
  packages/api-client/src/team/feature/Feature.ts
Labels: type: feature / request ✨
