Repository wireapp/wire-web-packages, pull requests merged in 2023-01, with the labels that each got.

#4744 feat: Gracefully handle duplicated decryption errors from coreCrypto
  packages/core/src/messagingProtocols/proteus/ProteusService/DecryptionErrorGenerator/DecryptionErrorGenerator.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/DecryptionErrorGenerator/DecryptionErrorGenerator.ts
Labels: type: feature / request ✨

#4745 feat(api-client): base for subconversations and conference calls [FS-1408]
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/api-client/src/conversation/Subconversation.ts
Labels: type: feature / request ✨

#4747 feat: Add method to join mls conference subconversation
  packages/api-client/src/conversation/Subconversation.ts
  packages/api-client/src/conversation/index.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: feature / request ✨

#4764 feat: Keep track of subconversation group ids
  packages/api-client/src/event/ConversationEvent.ts
  packages/core/src/messagingProtocols/mls/EventHandler/ConversationEvent/events/messageAdd/messageAdd.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/messagingProtocols/mls/MLSService/subconversationGroupIdMapper.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/subconversationGroupIdMapper.ts
Labels: type: feature / request ✨

#4765 fix: Await for proteus session migration before initialising coreCrypto
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
Labels: type: bug / fix 🐞

#4766 chore: add eslint warning for floating promises
  .eslintrc.json
Labels: type: chore 🧹

#4768 fix: Improve logging level
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
Labels: type: bug / fix 🐞

#4771 runfix: prevent checkboxes from squishing [ACC-398]
  packages/react-ui-kit/src/Form/Checkbox.tsx
  packages/react-ui-kit/src/Form/__snapshots__/Checkbox.test.tsx.snap
Labels: type: bug / fix 🐞

#4774 feat: cryptobox corecrypto migration
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/cryptoMigrationStateStore.ts
Labels: type: feature / request ✨

#4773 feat: Have both CoreCrypto and Cryptobox as crypto client options
  packages/core/__mocks__/@wireapp/core-crypto.ts
  packages/core/package.json
  packages/core/src/Account.ts
  packages/core/src/client/ClientService.ts
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/types.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CryptoClient.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CryptoClient.types.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CryptoboxWrapper.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/PrekeysTracker/PrekeysTracker.store.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/PrekeysTracker/PrekeysTracker.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/PrekeysTracker/PrekeysTracker.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/PrekeysTracker/index.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/index.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/DecryptionErrorGenerator/DecryptionErrorGenerator.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.types.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/cryptoMigrationStateStore.ts
  packages/core/src/messagingProtocols/proteus/Utility/SessionHandler/SessionHandler.test.ts
  packages/core/src/messagingProtocols/proteus/Utility/SessionHandler/SessionHandler.ts
  packages/core/src/notification/NotificationService.test.ts
  packages/core/src/notification/NotificationService.ts
  packages/core/src/util/encryptedStore.ts
  yarn.lock
Labels: type: feature / request ✨

#4782 fix: Avoid init MLS twice
  packages/core/src/Account.ts
Labels: type: bug / fix 🐞

#4783 refactor: Lazy load crypto clients
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.types.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CryptoClient.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CryptoClient.types.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CryptoboxWrapper.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.mocks.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.types.ts
  packages/core/src/messagingProtocols/proteus/Utility/SessionHandler/SessionHandler.test.ts
Labels: type: refactoring 🛠

#4789 fix: Do call onNewPrekeys handler on cryptobox wrapper
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CryptoboxWrapper.ts
Labels: type: bug / fix 🐞

#4807 fix: Use qualifiedIds when querying single conversation
  packages/core/src/conversation/ConversationService/ConversationService.ts
Labels: type: bug / fix 🐞

#4806 refactor: Simplify MLS message handling
  packages/core/src/messagingProtocols/mls/EventHandler/ConversationEvent/ConversationEvent.ts
  packages/core/src/messagingProtocols/mls/EventHandler/ConversationEvent/events/messageAdd/messageAdd.test.ts
  packages/core/src/messagingProtocols/mls/EventHandler/EventHandler.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/index.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/index.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/messageAdd.test.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/messageAdd.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/welcomeMessage/index.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/welcomeMessage/welcomeMessage.test.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/welcomeMessage/welcomeMessage.ts
  packages/core/src/notification/NotificationService.ts
Labels: type: feature / request ✨

#4809 refactor: Strict EventEmitter types
  packages/core/src/Account.ts
  packages/core/src/notification/NotificationService.ts
  packages/core/src/util/TypedEventEmitter.ts
Labels: type: refactoring 🛠

#4810 chore: replace deprecated ha-yarn-cache
  .github/workflows/lint.yml
  .github/workflows/publish_all.yml
  .github/workflows/test_build_release.yml
Labels: type: chore 🧹, comp: infrastructure

#4812 feat: Emit event when MLS conversation epoch changes
  packages/core/src/messagingProtocols/mls/EventHandler/EventHandler.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/messageAdd.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: feature / request ✨

#4813 fix: change default font weight from 300 to 400 [ACC-436]
  packages/react-ui-kit/src/Form/Input.tsx
  packages/react-ui-kit/src/Form/RangeInput.styles.ts
  packages/react-ui-kit/src/Form/SelectStyles.tsx
  packages/react-ui-kit/src/Form/TextArea.tsx
  packages/react-ui-kit/src/Form/__snapshots__/Checkbox.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/ErrorMessage.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/Input.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/RangeInput.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/Select.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/TextArea.test.tsx.snap
  packages/react-ui-kit/src/GlobalStyle.tsx
  packages/react-ui-kit/src/Identity/Avatar.tsx
  packages/react-ui-kit/src/Layout/headerMenu/MenuLink.tsx
  packages/react-ui-kit/src/Layout/headerMenu/MenuSubLink.tsx
  packages/react-ui-kit/src/Text/Heading.tsx
  packages/react-ui-kit/src/Text/Text.tsx
  packages/react-ui-kit/src/Text/__snapshots__/Heading.test.tsx.snap
  packages/react-ui-kit/src/Text/__snapshots__/Label.test.tsx.snap
  packages/react-ui-kit/src/Text/__snapshots__/Paragraph.test.tsx.snap
  packages/react-ui-kit/src/Text/__snapshots__/Text.test.tsx.snap
  packages/react-ui-kit/src/Text/__snapshots__/TextLink.test.tsx.snap
Labels: type: bug / fix 🐞

#4830 refactor: use string id in wipe conversation method
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: refactoring 🛠

#4811 feat(core, api-client): mls conference improvements
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/api-client/src/conversation/Subconversation.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: feature / request ✨

#4831 refactor(core): use string for group id in conversation exists
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: refactoring 🛠
