Repository wireapp/wire-web-packages, pull requests merged in 2024-07, with the labels that each got.

#6340 feat: add ability to extend select menu styles
  packages/react-ui-kit/src/Form/Select.tsx
  packages/react-ui-kit/src/Form/SelectComponents.tsx
Labels: type: feature / request ✨

#6341 feat: allow match media to support external window
  packages/react-ui-kit/src/Layout/MatchMedia.tsx
Labels: type: feature / request ✨

#6326 fix: do not create an RTC object for check
  packages/commons/src/util/Runtime.ts
Labels: type: bug / fix 🐞

#6357 chore: save unit tests results to s3 bucket
  .github/workflows/generate_test_report.yml
  packages/copy-config/tsconfig.json
Labels: type: chore 🧹, comp: infrastructure

#6380 feat: remove improve_wire privacy attribute
  packages/api-client/src/user/data/UserPropertiesSetData.ts
Labels: type: feature / request ✨

#6400 fix: add ciphersuites param when replacing keys [WPB-10236]
  packages/api-client/src/client/ClientAPI.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: bug / fix 🐞

#6382 feat: remove phone login
  packages/api-client/src/auth/AuthAPI.ts
  packages/api-client/src/auth/AuthenticationError.ts
  packages/api-client/src/auth/LoginData.ts
  packages/api-client/src/auth/RegisterData.ts
  packages/api-client/src/auth/SendLoginCode.ts
  packages/api-client/src/auth/index.ts
  packages/api-client/src/http/BackendErrorLabel.ts
  packages/api-client/src/http/BackendErrorMapper.ts
  packages/api-client/src/self/Self.ts
  packages/api-client/src/self/SelfAPI.ts
  packages/api-client/src/team/invitation/InvitationError.ts
  packages/api-client/src/team/invitation/NewTeamInvitation.ts
  packages/api-client/src/team/invitation/TeamInvitation.ts
  packages/api-client/src/team/invitation/TeamInvitationAPI.ts
  packages/api-client/src/user/Activate.ts
  packages/api-client/src/user/ActivationResponse.ts
  packages/api-client/src/user/CompletePasswordReset.ts
  packages/api-client/src/user/NewPasswordReset.ts
  packages/api-client/src/user/SendActivationCode.ts
  packages/api-client/src/user/UserAPI.ts
  packages/core/src/auth/LoginSanitizer.ts
  packages/webapp-events/src/index.ts
Labels: type: feature / request ✨

#6401 chore: add hotfix version job
  .github/workflows/release_hotfix_package.yml
  package.json
Labels: type: chore 🧹, comp: infrastructure

#6402 chore: align hotfix version job
  .github/workflows/release_hotfix_package.yml
  package.json
Labels: type: chore 🧹, comp: infrastructure

#6403 feat: add flag for 1:1 sft calls
  packages/api-client/src/team/feature/Feature.ts
Labels: type: feature / request ✨
