Repository wireapp/wire-web-packages, pull requests merged in 2024-03, with the labels that each got.

#6031 fix: return type of getAllGroupUsersIdentities
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.test.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.ts
Labels: type: bug / fix 🐞

#6042 feat: add method to fetch self mls conversation
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
Labels: type: feature / request ✨

#6044 chore: update protocol-messaging deps
  packages/api-client/package.json
  packages/core/package.json
  yarn.lock
Labels: type: chore 🧹

#6043 fix: Address non-e2ei devices not being able to join conversations
  packages/core/package.json
  yarn.lock
Labels: type: bug / fix 🐞

#6045 runfix: improve error logs
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: bug / fix 🐞

#6047 fix(sec): update deps to silence warning
  packages/api-client/package.json
  packages/core/package.json
  yarn.lock
Labels: type: bug / fix 🐞

#6048 runfix: bump corecrypto with some CRL fixes
  packages/core/package.json
  yarn.lock
Labels: type: bug / fix 🐞

#6049 runfix: check pending timeout in task scheduler
  packages/core/src/util/TaskScheduler/TaskScheduler.ts
Labels: type: bug / fix 🐞

#6050 runfix: join with ext commit on welcome with deleted key
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/MLSService/CoreCryptoMLSError.ts
Labels: type: bug / fix 🐞

#6067 fix: Improve E2EI basic device handling
  packages/core/package.json
  yarn.lock
Labels: type: bug / fix 🐞

#6068 fix: Address revoked clients not being detected
  packages/core/package.json
  yarn.lock
Labels: type: bug / fix 🐞

#6070 fix: Address revoked devices not being detected
  packages/core/__mocks__/@wireapp/core-crypto.ts
  packages/core/package.json
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIService.types.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.ts
  yarn.lock
Labels: type: bug / fix 🐞

#6071 fix: Address federated crl distribution points not being detected
  packages/core/package.json
  yarn.lock
Labels: type: bug / fix 🐞

#6084 fix(react-ui-kit): mls verified icon color based on theme [WPB-6888]
  packages/react-ui-kit/src/Icon/MLSVerified.tsx
  packages/react-ui-kit/src/Theme/GlobalCssVariables.tsx
  packages/react-ui-kit/src/Theme/Theme.tsx
Labels: type: bug / fix 🐞

#6085 fix: mls status dark theme icon colors [WPB-6888]
  packages/react-ui-kit/src/Icon/CertificateExpired.tsx
  packages/react-ui-kit/src/Icon/CertificateRevoked.tsx
  packages/react-ui-kit/src/Icon/ExpiresSoon.tsx
Labels: type: bug / fix 🐞

#6086 fix: Improve database key generation
  packages/core/src/secretStore/secretKeyGenerator.ts
Labels: type: bug / fix 🐞

#6107 fix(copy-config): make rimraf production dependency
  packages/copy-config/package.json
Labels: type: bug / fix 🐞

#6110 feat(core): Allow downloading and decrypting assets
  packages/core/src/conversation/AssetService/AssetService.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/cryptography/AssetCryptography/AssetCryptography.test.ts
  packages/core/src/cryptography/AssetCryptography/AssetCryptography.ts
  packages/core/src/cryptography/AssetCryptography/index.ts
Labels: type: feature / request ✨

#6111 fix(store-engine-dexie): Allow wider range of dexie version
  packages/store-engine-dexie/package.json
  packages/store-engine-dexie/src/index.ts
  yarn.lock
Labels: type: bug / fix 🐞

#6112 fix(copy-config): allow configuring the log level
  packages/copy-config/src/CopyConfig.ts
  packages/copy-config/src/CopyConfigOptions.ts
  packages/copy-config/src/cli.ts
  packages/copy-config/src/utils.ts
Labels: type: bug / fix 🐞
