Repository wireapp/wire-web-packages, pull requests merged in 2024-12, with the labels that each got.

#6716 chore(dependabot): freeze dependabot typescript updates
  .github/dependabot.yml
  yarn.lock
Labels: type: chore 🧹, comp: infrastructure

#6715 feat(api-client): implement v7 endpoint changes [WPB-14542]
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/api-client/src/user/UserAPI.ts
Labels: type: feature / request ✨, echoes: unplanned

#6727 runfix: remove slashes from conversation and user api constants
  packages/api-client/src/APIClient.test.ts
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/api-client/src/user/UserAPI.ts
Labels: type: bug / fix 🐞

#6728 runfix: add missing slash to conversation endpoint
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
Labels: type: bug / fix 🐞

#6726 feat: updating endpoints to fulfill v7 BE plans [WPB-14768]
  packages/api-client/src/oauth/OAuthAPI.ts
  packages/api-client/src/team/invitation/TeamInvitation.ts
  packages/api-client/src/team/scim/ScimAPI.ts
  packages/api-client/src/team/scim/ScimTokenInfo.ts
Labels: type: feature / request ✨, echoes: technical-roadmap/technical-debt

#6729 runfix: address playtest review for api v7
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
Labels: type: bug / fix 🐞

#6730 feat: update core-crypto to 2.0.0 [WPB-11654]
  packages/core/package.json
  yarn.lock
Labels: type: feature / request ✨

#6746 feat: add periodic keypackages check and logging [WPB-14727]
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/util/RecurringTaskScheduler/RecurringTaskScheduler.ts
Labels: type: feature / request ✨, echoes: unplanned/incident

#6749 feat: Integrate core crypto logger (WPB-14636)
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/CoreCryptoMLSError.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/CryptoClient/CoreCryptoWrapper/CoreCryptoWrapper.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/DecryptionErrorGenerator/DecryptionErrorGenerator.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/DecryptionErrorGenerator/DecryptionErrorGenerator.ts
Labels: type: feature / request ✨

#6751 chore: Bump core crypto from 2.0.0 to 3.0.0
  packages/core/package.json
  yarn.lock
Labels: type: chore 🧹

#6750 feat(webapp-events): add call hand raised and screen sharing ended events [WPB-8580]
  packages/webapp-events/src/index.ts
Labels: type: feature / request ✨

#6754 feat(api-client/core): use v7 endpoint for setting member conversation roles [WPB-15024]
  archive/bot-api/src/MessageHandler.ts
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
Labels: type: feature / request ✨

#6755 runfix(api-client/core): use conversation's qualified id to set conversation role [WPB-15024]
  archive/bot-api/src/MessageHandler.ts
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
Labels: type: bug / fix 🐞

#6753 feat: events for press space to unmute [WPB-8580]
  packages/api-client/src/user/data/UserPropertiesSetData.ts
  packages/webapp-events/src/index.ts
Labels: type: feature / request ✨

#6757 feat: events add push to talk v2 [WPB-8580]
  packages/api-client/src/user/data/UserPropertiesSetData.ts
  packages/webapp-events/src/index.ts
Labels: type: feature / request ✨

#6770 !fix(MLS): check feature flag before creating MLS clients [WPB-15020]
  packages/core/src/Account.ts
  packages/core/src/team/TeamService.ts
Labels: echoes/initiative: federation-wire-cloud
