Repository wireapp/wire-web-packages, pull requests merged in 2024-01, with the labels that each got.

#5837 fix(e2ei): return value of isFreshMLSSelfClient
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.ts
Labels: type: bug / fix 🐞

#5841 fix: Remove outdated sendExternalJoinProposal method
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: bug / fix 🐞

#5840 feat(e2ei): remove device storage for e2ei cert
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceInternal.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Storage/E2EIStorage.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: feature / request ✨

#5842 feat(e2ei): update the certificate expiry time to 90 days
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceInternal.ts
Labels: type: feature / request ✨

#5857 fix: Delete secrets store when account is wiped
  packages/core/src/Account.test.ts
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/mls/types.ts
  packages/core/src/secretStore/encryptedStore.ts
  packages/core/src/secretStore/secretKeyGenerator.test.ts
  packages/core/src/secretStore/secretKeyGenerator.ts
Labels: type: bug / fix 🐞

#5858 fix: Use config ciphersuite when querying e2ei
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.test.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.ts
Labels: type: bug / fix 🐞

#5813 feat: update types for download path
  packages/api-client/src/team/feature/Feature.ts
  packages/api-client/src/team/feature/FeatureAPI.ts
  packages/api-client/src/team/feature/FeatureList.ts
  packages/webapp-events/src/index.ts
Labels: type: feature / request ✨

#5860 fix: Do not upload public keys when renewing certificate
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: bug / fix 🐞

#5861 feat(e2ei): add a redirected event to the apps lifecycle (for oauth)
  packages/webapp-events/src/index.ts
Labels: type: feature / request ✨

#5878 fix: Upgrade CoreCrypto to 1.0.0-rc.29
  packages/core/package.json
  yarn.lock
Labels: type: bug / fix 🐞

#5879 feat(e2ei): update @wireapp/core-crypto to rc30
  packages/core/package.json
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIService.types.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceInternal.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Steps/Authorization.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Storage/E2EIStorage.schema.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  yarn.lock
Labels: type: feature / request ✨

#5863 feat: fetch local certificate root [WPB-3338]
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Connection/AcmeServer/AcmeService.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Connection/AcmeServer/schema.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.ts
Labels: type: feature / request ✨

#5881 runfix: remove hardcoded directory path
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Connection/AcmeServer/AcmeService.ts
Labels: type: bug / fix 🐞

#5896 refactor: Improve E2EI enrollment error handling
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Connection/AcmeServer/AcmeService.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Connection/AcmeServer/AcmeService.types.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIService.types.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceInternal.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Steps/Authorization.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Steps/DpopChallenge/DpopChallenge.types.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Steps/OidcChallenge.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Steps/Order.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Storage/E2EIStorage.schema.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Storage/E2EIStorage.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: refactoring 🛠

#5897 feat: Upgrade CoreCrypto to 1.0.0-rc.31
  packages/core/package.json
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Connection/AcmeServer/schema.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIService.types.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceInternal.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Steps/Authorization.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Steps/DpopChallenge/DpopChallenge.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Steps/DpopChallenge/DpopChallenge.types.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Steps/OidcChallenge.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Storage/E2EIStorage.schema.ts
  yarn.lock
Labels: type: feature / request ✨

#5898 feat: bump core-crypto to rc32
  packages/core/package.json
  yarn.lock
Labels: type: feature / request ✨

#5899 fix(core): replace btoa with bazinga in e2ei storage
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Storage/E2EIStorage.ts
Labels: type: bug / fix 🐞

#5882 feat: federation cross signed certs [WPB-5391]
  packages/core/package.json
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Connection/AcmeServer/AcmeService.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Connection/AcmeServer/schema.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.test.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceInternal.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Steps/OidcChallenge.ts
  packages/core/src/util/RecurringTaskScheduler/RecurringTaskScheduler.ts
  yarn.lock
Labels: type: feature / request ✨

#5900 feat: maintain revocation list timers
  packages/core/package.json
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Connection/AcmeServer/AcmeService.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Connection/AcmeServer/schema.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.test.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceInternal.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/messageAdd.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/storage/CoreDB.ts
  yarn.lock
Labels: type: feature / request ✨

#5903 fix(e2ei): certificate duration
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceInternal.ts
Labels: type: bug / fix 🐞

#5904 runfix: rollback to cc 33
  packages/core/package.json
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceInternal.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/messageAdd.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  yarn.lock
Labels: type: bug / fix 🐞
