Repository wireapp/wire-web-packages, pull requests merged in 2024-10, with the labels that each got.

#6574 fix: isMatching not updating in useMatchMedia [WPB-10675]
  packages/react-ui-kit/src/Layout/MatchMedia.tsx
Labels: type: bug / fix 🐞, echoes: features

#6576 fix(react-ui-kit): input autocomplete background color [WPB-9764]
  packages/react-ui-kit/src/Form/Input.md
  packages/react-ui-kit/src/Form/Input.tsx
  packages/react-ui-kit/src/Form/__snapshots__/Input.test.tsx.snap
  packages/react-ui-kit/src/Form/__snapshots__/Select.test.tsx.snap
  packages/react-ui-kit/src/Theme/GlobalCssVariables.tsx
  packages/react-ui-kit/src/Theme/Theme.tsx
  packages/react-ui-kit/styleguide.config.js
Labels: type: bug / fix 🐞

#6577 fix(core, api-client): Add abort controller to notifications api call (WPB-11013)
  package.json
  packages/api-client/package.json
  packages/api-client/src/http/HttpClient.test.ts
  packages/api-client/src/http/HttpClient.ts
  packages/api-client/src/notification/NotificationAPI/NotificationAPI.ts
  packages/api-client/src/shims/browser/cookie.ts
  packages/api-client/src/shims/node/cookie.ts
  packages/api-client/src/tcp/WebSocketClient.ts
  packages/bazinga64/package.json
  packages/certificate-check/package.json
  packages/commons/package.json
  packages/copy-config/package.json
  packages/core/package.json
  packages/core/src/Account.ts
  packages/core/src/notification/NotificationBackendRepository.ts
  packages/core/src/notification/NotificationService.ts
  packages/core/tsconfig.json
  packages/license-collector/package.json
  packages/priority-queue/package.json
  packages/promise-queue/package.json
  packages/react-ui-kit/package.json
  packages/store-engine-dexie/package.json
  packages/store-engine-fs/package.json
  packages/store-engine/package.json
  packages/webapp-events/package.json
  yarn.lock
Labels: type: bug / fix 🐞

#6610 feat(user-migration): add accept invitation call in apiClient [WPB-11128]
  packages/api-client/src/team/invitation/TeamInvitationAPI.ts
Labels: type: feature / request ✨, echoes/initiative: personal-users-to-team-users...

#6613 feat: Add help icon
  packages/react-ui-kit/src/Icon/HelpIcon.tsx
  packages/react-ui-kit/src/Icon/SVGIcon.md
  packages/react-ui-kit/src/Icon/index.ts
  packages/react-ui-kit/src/Misc/IconButton.tsx
Labels: type: feature / request ✨

#6634 feat: Add unknown strategy to in call reactions message (WPB-11750)
  packages/core/src/conversation/message/MessageBuilder.ts
Labels: type: feature / request ✨

#6635 feat: Add raise hand icons
  packages/react-ui-kit/src/Icon/RaiseHandIcon.tsx
  packages/react-ui-kit/src/Icon/RaiseHandOffIcon.tsx
  packages/react-ui-kit/src/Icon/SVGIcon.md
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨

#6636 feat(core): Add support for InCallHandRaise proto message
  packages/api-client/package.json
  packages/core/package.json
  packages/core/src/conversation/GenericMessageType.ts
  packages/core/src/conversation/content/ConversationContent.ts
  packages/core/src/conversation/content/InCallHandRaiseContent.ts
  packages/core/src/conversation/content/index.ts
  packages/core/src/conversation/message/MessageBuilder.ts
  packages/core/src/conversation/message/OtrMessage.ts
  packages/core/src/conversation/message/PayloadBundle.ts
  yarn.lock
Labels: type: feature / request ✨
