Repository wireapp/wire-web-packages, pull requests merged in 2024-02, with the labels that each got.

#5924 runfix: epoch mismatch subconversations
  packages/core/src/Account.ts
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
Labels: type: bug / fix 🐞

#5923 feat: Upgrade to coreCrypto rc36 to support crl distribution points
  packages/core/package.json
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIService.types.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceInternal.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/messageAdd.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.types.ts
  yarn.lock
Labels: type: feature / request ✨

#5926 runfix: add method to get all group user identities
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.test.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.ts
  packages/core/src/util/qualifiedIdUtil.ts
Labels: type: bug / fix 🐞

#5901 feat(e2ei): Allow configuring the certificate time to live
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIService.types.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceInternal.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: feature / request ✨

#5945 fix: Allow new created client to be legal hold ready
  packages/api-client/src/client/NewClient.ts
  packages/core/src/client/ClientService.ts
Labels: type: bug / fix 🐞

#5947 feat: Queue recovering MLS conversations on notification stream processing
  packages/core/src/Account.ts
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/conversationRejoinQueue.test.ts
  packages/core/src/messagingProtocols/mls/conversationRejoinQueue.ts
Labels: type: feature / request ✨

#5951 fix: Avoid storing unecessary enrollement data
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceInternal.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Storage/E2EIStorage.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: bug / fix 🐞

#5974 fix(core): Remove unneeded dexie-store-engine dependency
  packages/core/package.json
  yarn.lock
Labels: type: bug / fix 🐞

#5991 runfix: recover from commit proposals failure [WPB-6729]
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/messagingProtocols/mls/types.ts
Labels: type: bug / fix 🐞

#5993 runfix(api-client): add missing email_unvalidated field to team contact
  packages/api-client/src/team/search/TeamContact.ts
Labels: type: bug / fix 🐞

#5994 runfix(api-client): remove unexisting field from user entity type
  packages/api-client/src/user/User.ts
Labels: type: bug / fix 🐞

#5995 refactor: streamline e2ei enrollment flow
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIService.types.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceInternal.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: refactoring 🛠

#5998 chore: Upgrade to CoreCrypto rc40
  packages/core/package.json
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.test.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.ts
  yarn.lock
Labels: type: chore 🧹

#5999 fix: Pass parent conversation external senders to subconversation creation
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/conversation/SubconversationService/SubconversationService.test.ts
  packages/core/src/conversation/SubconversationService/SubconversationService.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: bug / fix 🐞

#5996 fix: Use indexeddb to store e2ei enrollment temporary data
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceInternal.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Steps/Authorization.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Steps/DpopChallenge/DpopChallenge.types.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Steps/OidcChallenge.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Storage/E2EIStorage.schema.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Storage/E2EIStorage.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/storage/CoreDB.ts
Labels: type: bug / fix 🐞

#6000 refactor: Improve e2eidentity initialization method
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.ts
Labels: type: refactoring 🛠

#6001 fix: Upgrade CoreCrypto to rc41
  packages/core/package.json
  yarn.lock
Labels: type: chore 🧹

#6002 runfix: system message keys claiming failure [WPB-6641]
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/conversation/ConversationService/ConversationService.types.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
Labels: type: bug / fix 🐞

#6003 runfix: skip self user keys claiming failure
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: bug / fix 🐞

#6004 refactor: lazily ask consumer for oAuth token
  packages/core/package.json
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceInternal.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  yarn.lock
Labels: type: refactoring 🛠

#6005 runfix: add more corecrypto errors to be ignored [WPB-6451]
  packages/core/src/messagingProtocols/mls/MLSService/CoreCryptoMLSError.ts
Labels: type: bug / fix 🐞

#6016 runfix: emit new epoch event for welcome message
  packages/core/src/messagingProtocols/mls/EventHandler/events/welcomeMessage/welcomeMessage.test.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/welcomeMessage/welcomeMessage.ts
Labels: type: bug / fix 🐞

#6018 runfix: return undefined for user identities if group does not exist [WPB-6864]
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.test.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.ts
Labels: type: bug / fix 🐞

#6019 fix: Do not upload public key for registered MLS devices
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Helper/index.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: bug / fix 🐞

#6020 fix: Address non-e2ei device not being able to join conversations
  packages/core/package.json
  yarn.lock
Labels: type: bug / fix 🐞

#6021 fix: strip https scheme from fetched self crls
  packages/core/package.json
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Connection/AcmeServer/AcmeService.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.ts
  yarn.lock
Labels: type: bug / fix 🐞

#6023 fix: Upgrade core-crypto to rc46
  packages/core/package.json
  yarn.lock
Labels: type: bug / fix 🐞

#6025 chore(dx): add runtime vars for dev devices
  packages/commons/src/util/Runtime.ts
Labels: type: chore 🧹

#6027 fix: Rely on new distribution points to update CRL
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.ts
Labels: type: bug / fix 🐞

#6028 runfix: use priority queue with growing delay for 420 backoff
  packages/api-client/src/http/HttpClient.ts
  packages/priority-queue/src/Config.ts
  packages/priority-queue/src/PriorityQueue.ts
Labels: type: bug / fix 🐞

#6029 runfix: priority queue for 409 backoff
  packages/commons/src/util/ExponentialBackoff/ExponentialBackoff.test.ts
  packages/commons/src/util/ExponentialBackoff/ExponentialBackoff.ts
  packages/commons/src/util/ExponentialBackoff/index.ts
  packages/core/package.json
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  yarn.lock
Labels: type: bug / fix 🐞
