Repository wireapp/wire-web-packages, pull requests merged in 2024-11, with the labels that each got.

#6648 fix: button disabled styles and add media query const [WBP-11269]
  packages/react-ui-kit/src/Form/Button.styles.ts
  packages/react-ui-kit/src/Form/__snapshots__/Button.test.tsx.snap
  packages/react-ui-kit/src/Layout/headerMenu/MenuLink.tsx
  packages/react-ui-kit/src/Layout/headerMenu/MenuSubLink.tsx
  packages/react-ui-kit/src/Layout/sizes.ts
  packages/react-ui-kit/src/mediaQueries.ts
Labels: type: bug / fix 🐞, echoes/initiative: personal-users-to-team-users...

#6662 feat(team-inv-info): add created_by_email in TeamInvitation type [WPB-12142]
  packages/api-client/src/team/invitation/TeamInvitation.ts
Labels: type: feature / request ✨, echoes/initiative: personal-users-to-team-users...

#6649 feat: telemetry lib [WPB-11977]
  packages/telemetry/CHANGELOG.md
  packages/telemetry/README.md
  packages/telemetry/adr/001-initialize-library.md
  packages/telemetry/adr/README.md
  packages/telemetry/package.json
  packages/telemetry/src/countly.ts
  packages/telemetry/src/embed.ts
  packages/telemetry/src/index.ts
  packages/telemetry/src/telemetry.ts
  packages/telemetry/tsconfig.json
  packages/telemetry/vite.config.js
  yarn.lock
Labels: type: feature / request ✨, echoes: technical-debt

#6663 fix(telemetry): version
  packages/telemetry/package.json
Labels: type: bug / fix 🐞

#6664 fix(react-ui-kit): fix content inside tooltip [WPB-11596]
  packages/react-ui-kit/src/Form/Tooltip.tsx
Labels: type: bug / fix 🐞

#6666 docs(telemetry): update 001-initialize-library adr status
  packages/telemetry/adr/001-initialize-library.md
Labels: type: documentation 📋

#6661 feat(core): Throw error on crypto box migration failure (WPB-11409)
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
Labels: type: feature / request ✨

#6679 fix: updated input label spacing
  packages/react-ui-kit/src/Form/InputLabel.tsx
  packages/react-ui-kit/src/Form/__snapshots__/RangeInput.test.tsx.snap
Labels: type: bug / fix 🐞

#6694 feat(react-ui-kit): add rich text editor icons [WPB-12089]
  packages/react-ui-kit/src/Icon/BoldIcon.tsx
  packages/react-ui-kit/src/Icon/BulletListIcon.tsx
  packages/react-ui-kit/src/Icon/CodeIcon.tsx
  packages/react-ui-kit/src/Icon/HeadingIcon.tsx
  packages/react-ui-kit/src/Icon/ItalicIcon.tsx
  packages/react-ui-kit/src/Icon/MarkdownIcon.tsx
  packages/react-ui-kit/src/Icon/NumberedListIcon.tsx
  packages/react-ui-kit/src/Icon/SVGIcon.md
  packages/react-ui-kit/src/Icon/StrikethroughIcon.tsx
  packages/react-ui-kit/src/Icon/UnderlineIcon.tsx
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨

#6695 feat: update cc [WPB-14325]
  packages/core/package.json
  yarn.lock
Labels: type: feature / request ✨

#6696 feat(core, api-client): Serialize object arguments in desktop runtime
  packages/api-client/src/APIClient.ts
  packages/api-client/src/auth/AccessTokenStore.ts
  packages/api-client/src/http/HttpClient.ts
  packages/api-client/src/shims/node/cookie.ts
  packages/api-client/src/tcp/ReconnectingWebsocket.ts
  packages/api-client/src/tcp/WebSocketClient.ts
  packages/commons/src/LogFactory.ts
  packages/commons/src/util/StringUtil.ts
  packages/core/src/Account.ts
  packages/core/src/client/ClientService.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/conversation/SubconversationService/SubconversationService.ts
  packages/core/src/cryptography/GenericMessageMapper.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Connection/AcmeServer/AcmeService.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceInternal.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/IncomingMessagesQueue/IncomingMesssagesQueue.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.ts
  packages/core/src/notification/NotificationService.ts
  packages/core/src/self/SelfService.ts
  packages/core/src/util/LowPrecisionTaskScheduler/LowPrecisionTaskScheduler.ts
  packages/core/src/util/TaskScheduler/TaskScheduler.ts
Labels: type: feature / request ✨

#6697 feat: update cc to 1.1.1 [wpb-14325]
  packages/core/package.json
  yarn.lock
Labels: type: feature / request ✨

#6698 runfix(core-crypto): improve core crypto error logs [WPB-14556]
  packages/core/package.json
  yarn.lock
Labels: type: bug / fix 🐞
