Repository wireapp/wire-web-packages, pull requests merged in 2024-08, with the labels that each got.

#6434 fix: handle leaving a 1:1 call over SFT [WPB-7151]
  packages/core/src/conversation/SubconversationService/SubconversationService.ts
Labels: type: bug / fix 🐞, echoes: features

#6449 chore: submit correct lockfile
  yarn.lock
Labels: type: chore 🧹

#6452 fix: use of Auth header to pass access-token instead of query param
  packages/api-client/src/asset/AssetAPI.ts
  packages/api-client/src/http/HttpClient.ts
  packages/api-client/src/team/member/MemberAPI.ts
Labels: type: bug / fix 🐞

#6453 feat: replace error_reporting with marketing_consent [WPB-10506]
  packages/api-client/src/user/data/UserPropertiesSetData.ts
Labels: type: feature / request ✨, echoes/initiative: product-metrics-in-countly

#6466 feat: update cc to 1.0.2
  packages/core/package.json
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Helper/index.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  yarn.lock
Labels: type: feature / request ✨
