Repository wireapp/wire-web-packages, pull requests merged in 2024-05, with the labels that each got.

#6202 runfix: mls default config
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: bug / fix 🐞

#6204 runfix: bump cc with version that fixes multiple ciphersuites issue
  packages/core/package.json
  yarn.lock
Labels: type: bug / fix 🐞

#6206 runfix: start listening for new crl points on e2ei service init
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.ts
Labels: type: bug / fix 🐞

#6205 chore: add generate test report action
  .github/workflows/generate_test_report.yml
  unit-tests.log
Labels: type: chore 🧹, comp: infrastructure

#6218 chore: use manual commit input
  .github/workflows/generate_test_report.yml
Labels: type: chore 🧹, comp: infrastructure

#6219 chore: upgrade @wireapp/protocol-messaging WPB-7240
  archive/bot-api/package.json
  packages/api-client/package.json
  packages/core/package.json
  yarn.lock
Labels: type: chore 🧹

#6222 chore: upgrade eslint-typescript dependencies WPB-7240
  packages/eslint-config/package.json
  yarn.lock
Labels: type: chore 🧹

#6239 chore: downgrade the react-select to 5.7.7 to avoid `role="log"` WPB-7240
  packages/react-ui-kit/package.json
  packages/react-ui-kit/src/Form/__snapshots__/Select.test.tsx.snap
  yarn.lock
Labels: type: chore 🧹

#6221 fix: Replace `uuidjs` with `uuid` WPB-7240
  archive/bot-api/package.json
  archive/bot-api/src/Bot.ts
  packages/core/package.json
  packages/core/src/Account.test.ts
  packages/core/src/conversation/AssetService/AssetService.test.ts
  packages/core/src/conversation/message/MessageBuilder.ts
  packages/core/src/conversation/message/MessageService.test.ts
  packages/core/src/test/PayloadHelper.ts
  packages/store-engine-dexie/package.json
  packages/store-engine-dexie/src/index.test.ts
  yarn.lock
Labels: type: bug / fix 🐞
