Repository wireapp/wire-web-packages, pull requests merged in 2025-01, with the labels that each got.

#6773 feat: markdown preview events [WPB-15101]
  packages/api-client/src/user/data/UserPropertiesSetData.ts
  packages/webapp-events/src/index.ts
Labels: type: feature / request ✨

#6774 fix: updated telemetry version to 0.2.0
  packages/telemetry/package.json
Labels: type: bug / fix 🐞

#6818 feat: add Blockquote and CodeBlock icons [WPB-15264]
  packages/react-ui-kit/src/Icon/BlockquoteIcon.tsx
  packages/react-ui-kit/src/Icon/CodeBlockIcon.tsx
  packages/react-ui-kit/src/Icon/CodeInlineIcon.tsx
  packages/react-ui-kit/src/Icon/SVGIcon.md
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨

#6819 fix(react-ui-kit): CodeBlockIcon
  packages/react-ui-kit/src/Icon/CodeBlockIcon.tsx
Labels: type: bug / fix 🐞

#6820 fix(CodeBlockIcon): svg path [WPB-15264]
  packages/react-ui-kit/src/Icon/CodeBlockIcon.tsx
Labels: type: bug / fix 🐞

#6837 fix(react-ui-kit): link icon path [WPB-15264]
  packages/react-ui-kit/src/Icon/LinkIcon.tsx
Labels: type: bug / fix 🐞

#6838 fix: removed unwanted curly bracket from conv API URL [WPB-11925]
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
Labels: type: bug / fix 🐞, echoes: unplanned

#6857 feat(react-ui-kit): cells file type icons [WPB-15686]
  packages/react-ui-kit/src/Icon/Files/ArchiveFileIcon.tsx
  packages/react-ui-kit/src/Icon/Files/AudioFileIcon.tsx
  packages/react-ui-kit/src/Icon/Files/CodeFileIcon.tsx
  packages/react-ui-kit/src/Icon/Files/DocumentFileIcon.tsx
  packages/react-ui-kit/src/Icon/Files/ImageFileIcon.tsx
  packages/react-ui-kit/src/Icon/Files/OtherFileIcon.tsx
  packages/react-ui-kit/src/Icon/Files/PdfFileIcon.tsx
  packages/react-ui-kit/src/Icon/Files/PresentationFileIcon.tsx
  packages/react-ui-kit/src/Icon/Files/SpreadsheetFileIcon.tsx
  packages/react-ui-kit/src/Icon/Files/VideoFileIcon.tsx
  packages/react-ui-kit/src/Icon/SVGIcon.md
  packages/react-ui-kit/src/Icon/SVGIcon.tsx
  packages/react-ui-kit/src/Icon/index.ts
  packages/react-ui-kit/src/Theme/GlobalCssVariables.tsx
Labels: type: feature / request ✨

#6858 feat: update CC to new version
  .husky/pre-commit
  packages/copy-config/src/utils.ts
  packages/core/package.json
  yarn.lock
Labels: type: feature / request ✨

#6714 feat(react-ui-kit): add menuListHeading inside Select [WPB-3307]
  packages/react-ui-kit/src/Form/Select.md
  packages/react-ui-kit/src/Form/Select.tsx
  packages/react-ui-kit/src/Form/SelectComponents.styles.ts
  packages/react-ui-kit/src/Form/SelectComponents.tsx
Labels: type: feature / request ✨, echoes: product-roadmap
