Repository wireapp/wire-web-packages, pull requests merged in 2025-04, with the labels that each got.

#6999 feat(api-client/cells): file upload progress [WPB-16866]
  packages/api-client/package.json
  packages/api-client/src/cells/CellsAPI.ts
  packages/api-client/src/cells/CellsStorage/CellsStorage.ts
  packages/api-client/src/cells/CellsStorage/S3Service.test.ts
  packages/api-client/src/cells/CellsStorage/S3Service.ts
  yarn.lock
Labels: type: feature / request ✨

#7000 feat(api-client/cells): add support for abort signal [WPB-16843]
  packages/api-client/src/cells/CellsAPI.test.ts
  packages/api-client/src/cells/CellsAPI.ts
  packages/api-client/src/cells/CellsStorage/S3Service.test.ts
  packages/api-client/src/cells/CellsStorage/S3Service.ts
Labels: type: feature / request ✨

#7001 feat: add api wrapper for add_permissions update call [WPB-16728]
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/api-client/src/conversation/data/ConversationAddPermissionUpdateData.ts
  packages/api-client/src/event/ConversationEvent.ts
Labels: type: feature / request ✨

#7002 fix(api-client/cells): change leavePartsOnError to false in S3Service [WPB-16843]
  packages/api-client/src/cells/CellsAPI.test.ts
  packages/api-client/src/cells/CellsAPI.ts
  packages/api-client/src/cells/CellsStorage/CellsStorage.ts
  packages/api-client/src/cells/CellsStorage/S3Service.test.ts
  packages/api-client/src/cells/CellsStorage/S3Service.ts
Labels: type: bug / fix 🐞

#7003 feat(api-client/conversation): add the cells option [WPB-16965]
  packages/api-client/src/conversation/NewConversation.ts
Labels: type: feature / request ✨

#7004 feat: @pydio/protocol-messaging to @wireapp/protocol-messaging [WPB-16845]
  archive/bot-api/package.json
  archive/bot-api/src/MessageHandler.ts
  packages/api-client/package.json
  packages/api-client/src/broadcast/BroadcastAPI.ts
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/core/package.json
  packages/core/src/Account.test.ts
  packages/core/src/broadcast/AvailabilityType.ts
  packages/core/src/broadcast/BroadcastService.ts
  packages/core/src/conversation/AbortReason.ts
  packages/core/src/conversation/ClientActionType.ts
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/conversation/ConversationService/ConversationService.types.ts
  packages/core/src/conversation/content/AssetContent.ts
  packages/core/src/conversation/content/ButtonActionConfirmationContent.ts
  packages/core/src/conversation/content/ButtonActionContent.ts
  packages/core/src/conversation/content/ClearedContent.ts
  packages/core/src/conversation/content/ClientActionContent.ts
  packages/core/src/conversation/content/CompositeContent.ts
  packages/core/src/conversation/content/ConfirmationContent.ts
  packages/core/src/conversation/content/DeletedContent.ts
  packages/core/src/conversation/content/HiddenContent.ts
  packages/core/src/conversation/content/KnockContent.ts
  packages/core/src/conversation/content/LinkPreviewContent.ts
  packages/core/src/conversation/content/MentionContent.ts
  packages/core/src/conversation/content/MultipartContent.ts
  packages/core/src/conversation/content/QuoteContent.ts
  packages/core/src/conversation/content/TweetContent.ts
  packages/core/src/conversation/content/index.ts
  packages/core/src/conversation/message/MessageBuilder.ts
  packages/core/src/conversation/message/MessageService.test.ts
  packages/core/src/conversation/message/MessageService.ts
  packages/core/src/conversation/message/MessageToProtoMapper.ts
  packages/core/src/demo/echo.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/messageAdd.test.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/messageAdd.ts
  packages/core/src/messagingProtocols/mls/MLSService/commitBundleUtil.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/commitBundleUtil.ts
  packages/core/src/messagingProtocols/proteus/EventHandler/events/otrMessageAdd/otrMessageAdd.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  packages/core/src/messagingProtocols/proteus/Utility/getGenericMessageParams.ts
  packages/core/src/notification/NotificationService.ts
  yarn.lock
Labels: type: feature / request ✨

#7005 fix(ConversationService): correct typo
  packages/core/src/conversation/ConversationService/ConversationService.ts
Labels: type: bug / fix 🐞

#7006 fix: remove additional protocol check while inviting users [WPB-16998]
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
Labels: type: bug / fix 🐞

#7010 feat(api-client): upgrade cells-sdk-ts to v0.1.1-alpha09 [WPB-17111]
  packages/api-client/package.json
  yarn.lock
Labels: type: feature / request ✨

#7007 feat(mls): detect a client mismatch and emit an specific event [WPB-16934]
  packages/core/src/Account.ts
  packages/core/src/conversation/SubconversationService/SubconversationService.test.ts
  packages/core/src/conversation/SubconversationService/SubconversationService.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/E2EIServiceExternal.ts
  packages/core/src/messagingProtocols/mls/E2EIdentityService/Helper/index.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/messageAdd.test.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/messageAdd.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/welcomeMessage/welcomeMessage.test.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/welcomeMessage/welcomeMessage.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/identityClearer.ts
Labels: type: feature / request ✨

#7013 feat(CellsAPI): add sorting parameters to searchFiles() method
  packages/api-client/src/cells/CellsAPI.test.ts
  packages/api-client/src/cells/CellsAPI.ts
Labels: type: feature / request ✨

#7014 feat(CellsAPI): rename cells search sort param
  packages/api-client/src/cells/CellsAPI.ts
Labels: type: feature / request ✨

#7018 feat(cells): api search sorting
  packages/api-client/src/cells/CellsAPI.test.ts
  packages/api-client/src/cells/CellsAPI.ts
Labels: type: feature / request ✨

#7020 feat: Revert "revert: "feat: include api versioning to endpoints withcredentials [WPB-16119] (#7012)" (#7017)"
  packages/api-client/src/http/HttpClient.ts
Labels: type: feature / request ✨

#7021 feat(react-ui-kit/Select): add additional css props [WPB-16997]
  packages/react-ui-kit/src/Form/Select.tsx
  packages/react-ui-kit/src/Form/SelectStyles.tsx
Labels: type: feature / request ✨

#7022 fix(react-ui-kit/select): control styles [WPB-16997]
  packages/react-ui-kit/src/Form/SelectStyles.tsx
  packages/react-ui-kit/src/Form/__snapshots__/Select.test.tsx.snap
Labels: type: bug / fix 🐞

#7024 feat(core): Bump @wireapp/core-crypto from 3.1.0 to 3.1.1
  packages/core/package.json
  yarn.lock
Labels: type: feature / request ✨

#7026 chore(gh-actions): use preintalled awscli
  .github/workflows/generate_test_report.yml
Labels: type: chore 🧹, comp: infrastructure

#7028 feat(react-ui-kit/icon): sidebar icons [WPB-15678]
  packages/react-ui-kit/src/Icon/SidebarActiveIcon.tsx
  packages/react-ui-kit/src/Icon/SidebarInactiveIcon.tsx
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨

#7030 feat(react-ui-kit/icon): chevron and zoom icons
  packages/react-ui-kit/src/Icon/ChevronDownIcon.tsx
  packages/react-ui-kit/src/Icon/ChevronUpIcon.tsx
  packages/react-ui-kit/src/Icon/ZoomInIcon.tsx
  packages/react-ui-kit/src/Icon/ZoomOutIcon.tsx
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨

#7031 feat(react-ui-kit/api-client): bump cells SDK to alpha10 and re-adapt payloads
  packages/api-client/package.json
  packages/api-client/src/cells/CellsAPI.test.ts
  packages/api-client/src/cells/CellsAPI.ts
  yarn.lock
Labels: type: chore 🧹

#7032 feat: add hamburger icon [WPB-17114]
  packages/react-ui-kit/src/Icon/HamburgerIcon.tsx
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨

#7033 fix(react-ui-kit/icon): adjust file icon sizes
  packages/react-ui-kit/src/Icon/Files/AudioFileIcon.tsx
  packages/react-ui-kit/src/Icon/Files/CodeFileIcon.tsx
  packages/react-ui-kit/src/Icon/Files/DocumentFileIcon.tsx
  packages/react-ui-kit/src/Icon/Files/MultipleFilesIcon.tsx
  packages/react-ui-kit/src/Icon/Files/PdfFileIcon.tsx
  packages/react-ui-kit/src/Icon/Files/TextFileIcon.tsx
Labels: type: bug / fix 🐞

#7034 feat(react-ui-kit): team members sort, filter and dropdown icons [WPB-16799]
  packages/react-ui-kit/src/Icon/DropdownFilledIcon.tsx
  packages/react-ui-kit/src/Icon/FunnelFilterIcon.tsx
  packages/react-ui-kit/src/Icon/SortIcon.tsx
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨
