Repository wireapp/wire-web-packages, pull requests merged in 2025-08, with the labels that each got.

#7109 feat(core, api-client): Support legacy notifications stream [WPB-19042]
  .github/dependabot.yml
  packages/api-client/src/Config.ts
  packages/api-client/src/asset/AssetAPI.test.ts
  packages/api-client/src/notification/NotificationAPI/NotificationAPI.ts
  packages/api-client/src/tcp/ReconnectingWebsocket.ts
  packages/api-client/src/tcp/WebSocketClient.ts
  packages/api-client/src/team/feature/Feature.ts
  packages/api-client/src/team/feature/FeatureList.ts
  packages/core/src/Account.test.ts
  packages/core/src/Account.ts
  packages/core/src/client/ClientService.ts
  packages/core/src/notification/NotificationBackendRepository.ts
  packages/core/src/notification/NotificationService.ts
  packages/react-ui-kit/package.json
  yarn.lock
Labels: type: feature / request ✨, comp: infrastructure

#7192 feat(api-client): Do not ping async notifications socket
  package.json
  packages/api-client/src/tcp/ReconnectingWebsocket.ts
  packages/api-client/src/tcp/WebSocketClient.ts
  packages/react-ui-kit/package.json
  yarn.lock
Labels: type: feature / request ✨

#7193 feat(cells): expose cells config to the team feature API [WPB-19293]
  packages/api-client/src/team/feature/Feature.ts
  packages/api-client/src/team/feature/FeatureAPI.ts
  packages/api-client/src/team/feature/FeatureList.ts
Labels: type: feature / request ✨

#7198 fix(core): Revert "Revert "fix(core): Queue incoming pending MLS proposals [WPB-18995] (#7102)" (#7105)"
  packages/core/src/Account.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/IncomingProposalsQueue/IncomingProposalsQueue.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/IncomingProposalsQueue/index.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/messageAdd.ts
Labels: type: bug / fix 🐞

#7221 fix(core): Handle possible undefined self in conversation
  packages/core/src/conversation/ConversationService/Utility/getConversationQualifiedMembers.ts
Labels: type: bug / fix 🐞

#7195 feat(api-client): Implement breaking changes of api V10 & V11 [WPB-19039]
  packages/api-client/src/account/DomainRedirect.ts
  packages/api-client/src/conversation/Conversation.ts
  packages/api-client/src/conversation/ConversationMembers.ts
  packages/api-client/src/conversation/NewConversation.ts
  packages/api-client/src/team/feature/Feature.ts
  packages/api-client/src/team/feature/FeatureAPI.ts
  packages/api-client/src/team/feature/FeatureList.ts
  packages/api-client/src/team/sso/SSOAPI.ts
  packages/api-client/src/team/sso/SSOAPI.types.ts
  packages/core/src/conversation/ConversationService/Utility/getConversationQualifiedMembers.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
Labels: type: feature / request ✨

#7223 feat(api-client): Support for reset MLS event [WPB-17706]
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/api-client/src/conversation/data/ConversationMLSResetData.ts
  packages/api-client/src/event/ConversationEvent.ts
  packages/api-client/src/http/BackendErrorLabel.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
Labels: type: bug / fix 🐞

#7253 chore: Revert "chore(deps-dev): bump @lerna-lite/publish from 4.7.0 to 4.7.2"
  package.json
  yarn.lock
Labels: type: chore 🧹

#7252 fix(events): add qualified_id to UserDeleteData type [WPB-18869]
  packages/api-client/src/user/data/UserDeleteData.ts
Labels: type: bug / fix 🐞

#7254 fix: Handle expired token gracefully(WPB-19368)
  packages/api-client/src/http/BackendErrorMapper.test.ts
  packages/api-client/src/http/BackendErrorMapper.ts
Labels: type: bug / fix 🐞
