Repository wireapp/wire-web-packages, pull requests merged in 2025-09, with the labels that each got.

#7296 refactor: Remove unnecessary incoming mls message queue [WPB-19648]
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/IncomingMessagesQueue/IncomingMesssagesQueue.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/IncomingMessagesQueue/index.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/index.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: refactoring 🛠

#7322 refactor(core, promise-queue): Turn listen method event handler to a sync function [WPB-18813]
  packages/core/src/Account.ts
  packages/promise-queue/src/PromiseQueue.ts
Labels: type: refactoring 🛠

#7323 fix: create fresh error instances via handler functions in BackendErrorMapper and add fallback for unknown messages(WPB-19061)
  packages/api-client/src/http/BackendErrorMapper.test.ts
  packages/api-client/src/http/BackendErrorMapper.ts
Labels: type: bug / fix 🐞

#7346 fix: try deleting every kind of dataset even if an error happens [WPB-19348]
  packages/core/src/Account.ts
Labels: type: bug / fix 🐞

#7373 feat: update GroupButtonProps interface [WPB-20282]
  packages/react-ui-kit/src/DataDisplay/Tooltip/__snapshots__/Tooltip.test.tsx.snap
  packages/react-ui-kit/src/Inputs/ButtonGroup/ButtonGroup.tsx
Labels: type: feature / request ✨

#7376 chore: Add logs for migration to async notifications [WPB-19981]
  packages/api-client/src/tcp/WebSocketClient.ts
  packages/core/src/Account.ts
Labels: type: chore 🧹

#7378 feat: update ButtonGroup to adapt colours according to dark/light theme [WPB-20282]
  packages/react-ui-kit/src/Inputs/ButtonGroup/ButtonGroup.tsx
Labels: type: feature / request ✨

#7402 chore(react-ui-kit): revert storybook and its add-on major version update [WPB-20282]
  packages/react-ui-kit/package.json
  yarn.lock
Labels: type: chore 🧹

#7401 chore(react-ui-kit): update dependabot auto merge workflow [WPB-20282]
  .github/auto-merge.yml
Labels: type: chore 🧹, comp: infrastructure
