Repository wireapp/wire-web-packages, pull requests merged in 2025-03, with the labels that each got.

#6964 fix: issue with stringifying very large objects
  packages/commons/src/util/StringUtil.test.ts
  packages/commons/src/util/StringUtil.ts
Labels: type: bug / fix 🐞

#6966 fix(api-client/cells): upload path
  packages/api-client/src/cells/CellsAPI.ts
Labels: type: bug / fix 🐞

#6967 fix(api-client/cells): tests
  packages/api-client/src/cells/CellsAPI.test.ts
Labels: type: bug / fix 🐞

#6968 feat(react-ui-kit): close detached window icon [WPB-16170]
  packages/react-ui-kit/src/Icon/CloseDetachedWindowIcon.tsx
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨

#6970 feat(api-client/cells): add path parameter for getAllFiles method
  packages/api-client/src/cells/CellsAPI.test.ts
  packages/api-client/src/cells/CellsAPI.ts
  packages/api-client/src/cells/CellsStorage/CellsStorage.ts
  packages/api-client/src/cells/CellsStorage/S3Service.test.ts
  packages/api-client/src/cells/CellsStorage/S3Service.ts
Labels: type: feature / request ✨

#6971 fix(react-ui-kit): update CloseDetachedWindowIcon SVG attributes
  packages/react-ui-kit/src/Icon/CloseDetachedWindowIcon.tsx
Labels: type: bug / fix 🐞

#6972 feat(api-client/cells): update cells sdk to v0.1.1-alpha06
  packages/api-client/package.json
  packages/api-client/src/cells/CellsAPI.test.ts
  packages/api-client/src/cells/CellsAPI.ts
  yarn.lock
Labels: type: feature / request ✨

#6973 fix: use isGroup as a function and pass options
  packages/react-ui-kit/src/Form/SelectComponents.tsx
Labels: type: bug / fix 🐞

#6975 feat(api-client/cells): replace path with uuid in the deleteFile method
  packages/api-client/src/cells/CellsAPI.test.ts
  packages/api-client/src/cells/CellsAPI.ts
Labels: type: feature / request ✨

#6974 feat(react-ui-kit/icon): add CollectionIcon
  packages/react-ui-kit/src/Icon/CollectionIcon.tsx
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨

#6962 chore(gitignore): ignore yalc files
  .gitignore
Labels: type: chore 🧹

#6977 feat(api-client/cells): update cells sdk to alpha 07 + searchFiles method
  packages/api-client/package.json
  packages/api-client/src/cells/CellsAPI.test.ts
  packages/api-client/src/cells/CellsAPI.ts
  yarn.lock
Labels: type: feature / request ✨

#6980 fix(react-ui-kit): collection icon path
  packages/react-ui-kit/src/Icon/CollectionIcon.tsx
Labels: type: bug / fix 🐞

#6981 feat: add channel, shield and lock icons
  packages/react-ui-kit/src/Icon/ChannelIcon.tsx
  packages/react-ui-kit/src/Icon/LockClosedIcon.tsx
  packages/react-ui-kit/src/Icon/ShieldIcon.tsx
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨

#6978 feat(core): @wireapp/protocol-messaging to @pydio/protocol-messaging [WPB-16433]
  archive/bot-api/package.json
  archive/bot-api/src/MessageHandler.ts
  packages/api-client/package.json
  packages/api-client/src/broadcast/BroadcastAPI.ts
  packages/api-client/src/conversation/ConversationAPI/ConversationAPI.ts
  packages/core/package.json
  packages/core/src/Account.test.ts
  packages/core/src/broadcast/AvailabilityType.ts
  packages/core/src/broadcast/BroadcastService.ts
  packages/core/src/conversation/AbortReason.ts
  packages/core/src/conversation/ClientActionType.ts
  packages/core/src/conversation/ConversationService/ConversationService.test.ts
  packages/core/src/conversation/ConversationService/ConversationService.ts
  packages/core/src/conversation/ConversationService/ConversationService.types.ts
  packages/core/src/conversation/GenericMessageType.ts
  packages/core/src/conversation/content/AssetContent.ts
  packages/core/src/conversation/content/ButtonActionConfirmationContent.ts
  packages/core/src/conversation/content/ButtonActionContent.ts
  packages/core/src/conversation/content/ClearedContent.ts
  packages/core/src/conversation/content/ClientActionContent.ts
  packages/core/src/conversation/content/CompositeContent.ts
  packages/core/src/conversation/content/ConfirmationContent.ts
  packages/core/src/conversation/content/DeletedContent.ts
  packages/core/src/conversation/content/HiddenContent.ts
  packages/core/src/conversation/content/KnockContent.ts
  packages/core/src/conversation/content/LinkPreviewContent.ts
  packages/core/src/conversation/content/MentionContent.ts
  packages/core/src/conversation/content/QuoteContent.ts
  packages/core/src/conversation/content/TweetContent.ts
  packages/core/src/conversation/content/index.ts
  packages/core/src/conversation/message/MessageBuilder.ts
  packages/core/src/conversation/message/MessageService.test.ts
  packages/core/src/conversation/message/MessageService.ts
  packages/core/src/conversation/message/MessageToProtoMapper.ts
  packages/core/src/demo/echo.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/messageAdd.test.ts
  packages/core/src/messagingProtocols/mls/EventHandler/events/messageAdd/messageAdd.ts
  packages/core/src/messagingProtocols/mls/MLSService/commitBundleUtil.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/commitBundleUtil.ts
  packages/core/src/messagingProtocols/proteus/EventHandler/events/otrMessageAdd/otrMessageAdd.ts
  packages/core/src/messagingProtocols/proteus/ProteusService/ProteusService.test.ts
  packages/core/src/messagingProtocols/proteus/Utility/getGenericMessageParams.ts
  packages/core/src/notification/NotificationService.ts
  yarn.lock
Labels: type: feature / request ✨

#6982 feat: update group icon and add conv related icons
  packages/react-ui-kit/src/Icon/GroupIcon.tsx
  packages/react-ui-kit/src/Icon/HistoryIcon.tsx
  packages/react-ui-kit/src/Icon/UnlockedIcon.tsx
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨

#6984 feat: update group icon to maintain consistency
  packages/react-ui-kit/src/Icon/GroupIcon.tsx
Labels: type: feature / request ✨

#6983 feat(api-client/cells): add createFilePublicLink method and refactor getFilePublicLink [WPB-15679]
  packages/api-client/src/cells/CellsAPI.test.ts
  packages/api-client/src/cells/CellsAPI.ts
Labels: type: feature / request ✨

#6987 feat(api-client/cells): dynamic cells configuration [WPB-16524]
  packages/api-client/src/APIClient.ts
  packages/api-client/src/Config.ts
  packages/api-client/src/cells/CellsAPI.test.ts
  packages/api-client/src/cells/CellsAPI.ts
  packages/api-client/src/demo/initClient.ts
Labels: type: feature / request ✨

#6988 fix(api-client/cells): single cells initialization
  packages/api-client/src/APIClient.ts
  packages/api-client/src/cells/CellsAPI.ts
Labels: type: bug / fix 🐞

#6990 feat(api-client/cells): add "offset" and "limit" configuration [WPB-15679]
  packages/api-client/src/cells/CellsAPI.test.ts
  packages/api-client/src/cells/CellsAPI.ts
Labels: type: feature / request ✨

#6991 feat: update feature config and POST /conversations payload for channels [WPB-15758]
  packages/api-client/src/conversation/Conversation.ts
  packages/api-client/src/conversation/NewConversation.ts
  packages/api-client/src/team/feature/Feature.ts
  packages/api-client/src/team/feature/FeatureList.ts
Labels: type: feature / request ✨

#6997 runfix(react-ui-kit/icon): UnavailableFileIcon fill
  packages/react-ui-kit/src/Icon/UnavailableFileIcon.tsx
Labels: type: bug / fix 🐞

#6998 feat: add API wrapper for updating channels feature config [WPB-16603]
  packages/api-client/src/team/feature/FeatureAPI.ts
Labels: type: feature / request ✨
