Repository wireapp/wire-web-packages, pull requests merged in 2025-02, with the labels that each got.

#6862 feat: update CC
  packages/core/package.json
  yarn.lock
Labels: type: feature / request ✨

#6878 fix(react-ui-kit): Adjust the behavior of eye icon on password input (WPB-15930)
  packages/react-ui-kit/src/Form/Input.tsx
Labels: type: bug / fix 🐞

#6879 feat(react-ui-kit): play icon [WPB-15809]
  packages/react-ui-kit/src/Icon/PlayIcon.tsx
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨

#6880 feat(react-ui-kit): pause icon [WPB-15809]
  packages/react-ui-kit/src/Icon/PauseIcon.tsx
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨

#6881 feat(react-ui-kit): alert icon [WPB-15703]
  packages/react-ui-kit/src/Icon/AlertIcon.tsx
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨

#6896 feat: bump CC to 3.1 [WPB-16027]
  packages/core/package.json
  yarn.lock
Labels: type: feature / request ✨

#6929 chore(react-ui-kit): accept 001-replace-styleguideist-with-storybook.md
  packages/react-ui-kit/adr/001-replace-styleguideist-with-storybook.md
Labels: type: chore 🧹

#6928 feat(react-ui-kit): save icon [WPB-16106]
  packages/react-ui-kit/src/Icon/SaveIcon.tsx
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨

#6930 feat(mls): add mlsOtherError to error ignore list [WPB-16234]
  packages/core/src/messagingProtocols/mls/MLSService/CoreCryptoMLSError.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.test.ts
  packages/core/src/messagingProtocols/mls/MLSService/MLSService.ts
Labels: type: feature / request ✨

#6771 feat: add API wrapper for GET getDomainRegistration [WPB-14366]
  packages/api-client/src/account/AccountAPI.ts
  packages/api-client/src/account/DomainRedirect.ts
Labels: type: feature / request ✨, echoes: product-roadmap/feature

#6961 fix: update DomainRedirectPayload type
  packages/api-client/src/account/DomainRedirect.ts
Labels: type: bug / fix 🐞

#6963 feat(react-ui-kit): open detached window icon [WPB-16170]
  packages/react-ui-kit/src/Icon/OpenDetachedWindowIcon.tsx
  packages/react-ui-kit/src/Icon/index.ts
Labels: type: feature / request ✨
